.paragraph {
  margin: 0;
  padding-bottom: 18px;

  font-weight: $font-weight-regular;
  line-height: 28px;
  color: $color-gray-600;
  letter-spacing: 0;

  &.medium-font-size {
    font-size: 18px;
  }

  &.large-font-size {
    font-size: 20px;
  }

  @include media-tablet {
    &.medium-font-size {
      font-size: 16px;
      line-height: 24px;
    }

    &.large-font-size {
      font-size: 18px;
    }
  }
}
