.paragraph {
  margin: 0;
  padding-top: 4px;
  line-height: 28px;
  color: $color-gray-900;

  &.medium-font-size {
    padding-bottom: 18px;
    font-size: 18px;
    font-weight: $font-weight-regular;
  }

  &.large-font-size {
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: $font-weight-medium;
  }

  @include media-laptop {
    &.medium-font-size {
      font-size: 16px;
      line-height: 24px;
    }

    &.large-font-size {
      font-size: 18px;
      font-weight: $font-weight-regular;
    }
  }
}
