.paragraph {
  @include media-laptop {
    font-size: 14px;
    line-height: 18px;
  }

  font-size: 14px;
  font-weight: $font-weight-regular;
  line-height: 18px;
  color: $color-gray-600;
  letter-spacing: 0;
}
