@mixin media-laptop {
  @media (max-width: $content-width) {
    @content;
  }
}

@mixin media-laptop-medium {
  @media (max-width: $medium-laptop-width) {
    @content;
  }
}

@mixin media-tablet-large {
  @media (max-width: $large-tablet-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile-landscape {
  @media (max-width: $mobile-landscape-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin card-corner-accent {
  content: '';

  position: absolute;
  z-index: 1;
  right: -152px;
  bottom: -176px;

  display: block;

  width: 256px;
  height: 248px;

  opacity: 0.5;
  background-color: #7356bf;
  filter: blur(32px);
  border-radius: 100%;
}

@mixin card-corner-accent-hover {
  right: -130px;
  bottom: -160px;
  width: 279px;
  height: 270px;

  @include card-corner-accent;
}
