.mentors-after-register {
  display: flex;
  flex-direction: column;
  gap: $gap-m;

  .steps {
    display: flex;
    flex-direction: column;
    gap: $gap-xxl;

    .step {
      display: flex;
      flex-direction: column;
      gap: $gap-s;

      p {
        margin: 0;
      }

      @include media-tablet {
        gap: $gap-xs;
      }
    }

    @include media-tablet {
      gap: $gap-l;
    }
  }
}
