.mentors-after-register {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .steps {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .step {
      display: flex;
      flex-direction: column;
      gap: 16px;

      p {
        margin: 0;
      }

      @include media-tablet {
        gap: 8px;
      }
    }

    @include media-tablet {
      gap: 24px;
    }
  }
}
