.courses .main {
  min-height: 800px;
  background-color: aqua;
}
.courses .main.container {
  background: #ffdb20;
}
.courses .main.content {
  padding: 208px 100px 100px;
}
@media (max-width: 1440px) {
  .courses .main.content {
    padding: 120px 45px 120px;
  }
}
@media (max-width: 810px) {
  .courses .main.content {
    padding: 120px 15px 120px;
  }
}
.courses .main .title-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
}
.courses .main .title-container .title-icon {
  width: 91px;
  height: 91px;
  display: inline-block;
  margin-left: 8px;
}
@media (max-width: 1440px) {
  .courses .main .title-container .title-icon {
    width: 71px;
    height: 71px;
  }
}
@media (max-width: 810px) {
  .courses .main .title-container .title-icon {
    width: 55px;
    height: 55px;
  }
}
.courses .main .title-container > .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: calc(100% - 91px);
  font-weight: 500;
  font-size: 20px;
  color: #664d1b;
  letter-spacing: 0;
  line-height: 28px;
}
@media (max-width: 810px) {
  .courses .main .title-container > .subtitle {
    width: calc(100% - 55px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}
.courses .main > .description {
  font-weight: 500;
  font-size: 52px;
  letter-spacing: 0.04em;
  line-height: 64px;
  height: auto;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
  color: #ffffff;
  margin: 40px 0;
  text-align: left;
  width: 741px;
}
@media (max-width: 1440px) {
  .courses .main > .description {
    font-size: 44px;
    line-height: 52px;
  }
}
@media (max-width: 810px) {
  .courses .main > .description {
    width: 100%;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
  }
}
.courses .main > .tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 810px) {
  .courses .main > .tags-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.courses .main > .tags-container .tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 810px) {
  .courses .main > .tags-container .tag-container {
    margin-top: 16px;
  }
}
.courses .main .tag-divider {
  margin: 0 8px;
}
