@import '../../constants';
@import '../../mixins';

.tag {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  border: 1px solid $color-secondary-gray400;
  color: $color-primary-white;
  border: 2px solid #fffaf0;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 16px 0px rgba(114, 92, 19, 0.08);
    background-color: $color-primary-white;
    border: 2px solid #fffaf0;
    color: $color-secondary-gray600;
  }
}
