@import '../../constants';
@import '../../mixins';

.tag {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;

  color: $color-secondary-gray600;
  border: 1px solid $color-secondary-gray400;

  &.clickable {
    color: #ffffff;
    border: 2px solid #fffaf0;
    cursor: pointer;
  }
}
