@import 'Styles/constants';
@import 'Styles/mixins';
@import 'Styles/placeholders';

.courses {
  & .title {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
    margin-top: 24px;
  }

  & .content {
    padding: 0 120px 40px;
    @include media-laptop {
      width: 100%;
      max-width: 1440px;
      padding: 0 40px 40px;
    }
    @include media-tablet {
      padding: 0 40px 16px;
    }
    @include media-mobile {
      padding: 0 20px 16px;
    }

    & .courses {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 800px;
      @include media-laptop {
        width: 100%;
      }

      & .course-card {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
        @extend %transition-all;

        @include media-hover {
          &:hover {
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
          }
        }

        & .icon-container {
          box-sizing: border-box;
          flex-shrink: 0;
          width: min-content; /* 88px */
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 16px 16px 16px 16px;
          overflow: visible;
          position: relative;
          align-content: center;
          flex-wrap: nowrap;
          gap: 0;
          border-radius: 0px 0px 0px 0px;
        }

        & .course-info {
          width: 100%;
          text-align: left;

          & .name {
            flex-shrink: 0;
            // width: 573px;
            height: auto; /* 24px */
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-word;
            position: relative;
            font-weight: 500;
            font-style: normal;
            font-family: 'Inter-Medium', 'Inter', sans-serif;
            color: #000000;
            font-size: 18px;
            letter-spacing: 0em;
            line-height: 24px;
          }

          & .date {
            flex-shrink: 0;
            height: auto; /* 20px */
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-word;
            position: relative;
            font-family: 'Inter', sans-serif;
            color: #545454;
            font-size: 14px;
            letter-spacing: 0em;
            line-height: 20px;
            margin-top: 8px;
          }
        }

        & .details-container {
          cursor: pointer;
          box-sizing: border-box;
          flex-shrink: 0;
          width: fit-content;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 16px 16px 16px 16px;
          overflow: visible;
          position: relative;
          align-content: center;
          flex-wrap: nowrap;
          gap: 0;
          border-radius: 0px 0px 0px 0px;
          @extend %transition-all;

          & a {
            text-decoration: none;
          }

          & .details {
            flex-shrink: 0;
            width: min-content;
            height: 36px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 12px 10px 12px;
            background-color: #eeeeee;
            overflow: hidden;
            position: relative;
            align-content: center;
            flex-wrap: nowrap;
            border-radius: 9999px;
            cursor: pointer;
            @extend %transition-all;

            & .label {
              flex-shrink: 0;
              width: auto; /* 83px */
              height: auto; /* 16px */
              white-space: pre;
              position: relative;
              font-weight: 500;
              font-style: normal;
              font-family: 'Inter-Medium', 'Inter', sans-serif;
              color: #000000;
              font-size: 14px;
              letter-spacing: 0em;
              line-height: 16px;
              text-align: center;
              margin-right: 8px;
            }

            @include media-hover {
              &:hover {
                background-color: rgba(84, 84, 84, 0.4);
              }
            }
          }
        }
      }

      & .button {
        margin-top: 24px;
      }
    }

    & .image {
      width: 299px;
      height: 193px;

      @include media-laptop {
        margin-top: 24px;
      }
    }
  }
}

@include media-hover {
  .courses .content .courses .course-card:hover > .details-container > .details {
    background-color: rgba(84, 84, 84, 0.4);
  }
}
