.courses {
  .title {
    margin-top: 24px;

    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0;
  }

  .content {
    @include media-laptop {
      width: 100%;
      max-width: 1440px;
      padding: 0 40px 40px;
    }

    @include media-tablet {
      padding: 0 40px 16px;
    }

    @include media-mobile {
      padding: 0 20px 16px;
    }

    padding: 0 120px 40px;

    & .image {
      @include media-laptop {
        margin-top: 24px;
      }

      img {
        width: 299px;
        height: 193px;
      }
    }

    .courses {
      @include media-laptop {
        width: 100%;
      }

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      width: 800px;

      .course-card {
        @extend %transition-all;

        @include media-hover {
          &:hover {
            box-shadow: 0 4px 16px 0 rgb(0 0 0 / 12%);
          }
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        margin-top: 24px;

        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 16px;

          img {
            width: 48px;
            height: 36px;
          }
        }

        .course-info {
          width: 100%;
          text-align: left;

          .name {
            font-family: Inter-Medium, Inter, sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            color: $color-primary-black;
          }

          .date {
            margin-top: 8px;

            font-family: Inter, sans-serif;
            font-size: 14px;
            line-height: 20px;
            color: $color-secondary-gray600;
          }
        }

        & .details-container {
          @extend %transition-all;

          cursor: pointer;

          position: relative;

          overflow: visible;
          display: flex;
          flex-flow: row nowrap;
          flex-shrink: 0;
          gap: 0;
          place-content: center flex-start;
          align-items: center;

          box-sizing: border-box;
          width: fit-content;
          height: 100%;
          padding: 16px 16px 16px 16px;

          border-radius: 0;

          & a {
            text-decoration: none;
          }

          & .details {
            @extend %transition-all;

            @include media-hover {
              &:hover {
                background-color: rgb(84 84 84 / 40%);
              }
            }

            cursor: pointer;

            position: relative;

            overflow: hidden;
            display: flex;
            flex-flow: row nowrap;
            flex-shrink: 0;
            place-content: center center;
            align-items: center;

            width: min-content;
            height: 36px;
            padding: 10px 12px;

            background-color: #eee;
            border-radius: 9999px;

            & .label {
              position: relative;

              flex-shrink: 0;

              width: auto; /* 83px */
              height: auto; /* 16px */
              margin-right: 8px;

              font-family: Inter-Medium, Inter, sans-serif;
              font-size: 14px;
              font-weight: 500;
              font-style: normal;
              line-height: 16px;
              color: #000;
              text-align: center;
              letter-spacing: 0;
              white-space: pre;
            }
          }
        }
      }

      & .button {
        margin-top: 24px;
      }
    }
  }
}

@include media-hover {
  .courses .content .courses .course-card:hover > .details-container > .details {
    background-color: rgb(84 84 84 / 40%);
  }
}
