.courses {
  .title {
    margin-top: 24px;

    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0;
  }

  .content {
    @include media-laptop {
      width: 100%;
      max-width: 1440px;
      padding: 0 40px 40px;
    }

    @include media-tablet {
      padding: 0 40px 16px;
    }

    @include media-mobile {
      padding: 0 20px 16px;
    }

    padding: 0 120px 40px;

    .courses {
      @include media-laptop {
        width: 100%;
      }

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      width: 800px;

      .course-card {
        @extend %transition-all;

        @include media-hover {
          &:hover {
            box-shadow: 0 4px 16px 0 rgb(0 0 0 / 12%);
          }
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        margin-top: 24px;

        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 16px;
        }

        .course-info {
          width: 100%;
          text-align: left;

          .name {
            font-family: Inter-Medium, Inter, sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            color: $color-primary-black;
          }

          .date {
            margin-top: 8px;

            font-family: Inter, sans-serif;
            font-size: 14px;
            line-height: 20px;
            color: $color-secondary-gray600;
          }
        }

        .details-container {
          padding: 16px;
        }
      }
    }

    & .image {
      @include media-laptop {
        margin-top: 24px;
      }

      width: 299px;
      height: 193px;
    }
  }
}
