@import 'Styles/constants';
@import 'Styles/mixins';

.places {
  white-space: nowrap;

  &.content {
    overflow: hidden;

    padding: 5px 20px;

    border-color: $color-secondary-gray600;
    border-style: solid;
    border-width: 1px 0 1px 0;
  }

  & .place-container {
    @include media-tablet {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: $color-primary-black;
    letter-spacing: 0;
  }

  & .place {
    display: inline-block;
    padding: 0 16px;
  }

  & .divider {
    display: inline-block;
    height: 12px;
    font-size: 36px;
    color: $color-secondary-red;
  }
}
