.mentors {
  &.container {
    background: $color-secondary-gray100;

    .column-2 {
      @include media-laptop-medium {
        flex-direction: row;
      }

      @include media-tablet-large {
        flex-direction: column;
      }
    }

    .content {
      @include media-tablet {
        padding: 40px 16px;
      }

      padding: 40px 80px 40px 120px;

      & .mentors-info {
        @include media-mobile {
          order: 1;
        }

        display: flex;
        flex-direction: column;
        gap: 16px;

        & > .subtitle {
          @include media-tablet {
            max-width: 100%;
            font-size: 20px;
          }

          max-width: 640px;
          font-weight: $font-weight-regular;
        }

        & > a {
          margin-top: 24px;
        }
      }

      .picture {
        max-width: 420px;
        max-height: 420px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
