.container {
  min-height: 494px;
  background: $color-yellow;

  .content {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;

    padding: 100px;

    text-align: left;

    .icon {
      min-width: 150px;
      max-width: 200px;
      margin-top: -36px;

      @include media-tablet {
        display: none;
      }
    }

    @include media-laptop {
      padding: 100px 40px;
    }
  }

  @include media-tablet-large {
    min-height: 546px;
  }

  @include media-tablet {
    min-height: 494px;
  }
}
