.menu-item-wrapper {
  position: relative;
  height: 100%;
}

.menu-item {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0 14px;

  &::after {
    @extend %transition-all;

    content: '';

    position: absolute;
    bottom: 1px;
    left: 0;
    transform: scaleX(0);

    width: 100%;
    height: 2px;

    background-color: $color-black;
  }

  .label {
    @extend %transition-all;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: $font-weight-regular;
    line-height: 20px;
    color: $color-gray-600;
    text-align: center;
    letter-spacing: 0;
  }

  &.dropdown-toggle {
    position: relative;

    .dropdown-arrow {
      @extend %transition-all;

      margin-left: 10px;
      padding: 0;
      background-color: transparent;
      border: none;

      &:focus {
        outline-offset: 3px;
      }

      > img {
        width: 16px;
        height: 16px;
      }
    }

    &.rotate .dropdown-arrow {
      transform: rotate(180deg);
    }
  }

  &.active {
    & > span {
      color: $color-black;

      -webkit-text-stroke-color: currentcolor;
      -webkit-text-stroke-width: 1.25px;
    }
  }

  @include media-hover {
    &:hover::after {
      transform: scaleX(1);
    }

    &:hover .label {
      color: $color-black;
    }
  }
}
