.info-wrapper {
  display: flex;
  flex-direction: column;

  .course-module-columns-layout {
    display: flex;
    gap: 8rem;

    .course-module-elements-column {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include media-tablet {
        max-width: 100%;
      }
    }

    @include media-laptop {
      gap: 5rem;
    }

    @include media-laptop-medium {
      flex-direction: column;
      gap: 32px;
    }
  }
}
