.partnered-content {
  display: flex;
  flex-direction: column;

  .partners {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-self: center;
    justify-content: space-between;

    width: 100%;
    max-width: 500px;
    padding: 16px;

    .partner-logo-container {
      display: flex;
      flex-basis: 20%;
      align-items: center;
      justify-content: center;

      @include media-mobile {
        flex-basis: 50%;
        padding: 24px 0;
      }
    }

    @include media-tablet {
      row-gap: 16px;
      padding: 16px 0;
    }
  }
}
