.trainer-card {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 700px;
  padding: 40px 32px 40px 32px;
  border-radius: $border-radius-lg;

  box-shadow: $shadow-xl;

  .card-picture {
    max-width: 120px;
    max-height: 120px;

    img {
      width: 100%;
      height: auto;
      border-radius: $border-radius-lg;
    }
  }

  .card-text {
    width: fit-content;
  }

  .card-title {
    margin: 0;
    font-size: $font-size-h4;
    font-weight: $font-weight-medium;
    line-height: 32px;

    @include media-tablet {
      font-size: $font-size-xl;
    }
  }

  .card-subtitle {
    margin: 0;
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    color: $color-gray-500;
  }

  .card-content {
    font-size: $font-size-md;
    font-weight: $font-weight-regular;
    line-height: 24px;
  }

  @include media-tablet-large {
    max-width: 100%;
  }

  @include media-mobile-landscape {
    flex-direction: column;
  }
}
