.trainer-card {
  display: flex;
  gap: $gap-l;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 700px;
  padding: 40px 32px 40px 32px;
  border-radius: $border-radius-m;

  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 12%);

  .card-picture {
    max-width: 120px;
    max-height: 120px;

    img {
      width: 100%;
      height: auto;
      border-radius: $border-radius-s;
    }
  }

  .card-text {
    width: fit-content;
  }

  .card-title {
    margin: 0;
  }

  .card-subtitle {
    margin: 0;
    font-size: $font-size-m;
    line-height: 1.15;
    color: $color-gray-500;
  }

  .card-content {
    font-size: $font-size-s;
    font-weight: $font-weight-regular;
    line-height: 24px;
  }

  @include media-tablet-large {
    max-width: 100%;
  }

  @include media-mobile-landscape {
    flex-direction: column;
  }
}
