.media-text-block {
  flex-direction: column;
  gap: 24px;

  .title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    @include media-laptop {
      grid-column: unset;
    }
  }

  .inner {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: max-content 1fr;
    gap: 24px 100px;

    height: 100%;

    @include media-tablet-large {
      grid-auto-flow: row;
      gap: 40px;
    }
  }

  &:has(.content-bottom) {
    .inner {
      padding-bottom: 0;
    }
  }

  .inner.small {
    row-gap: 16px;
  }

  .content-wrapper-left {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    flex-direction: column;
    gap: 24px;

    min-width: 100%;
  }

  .content-wrapper-right {
    @include media-tablet-large {
      grid-column: 1 / 2 !important;
      grid-row: 3 / 4 !important;
    }
  }

  // span across all the width if right side content is not present
  &:not(:has(.content-wrapper-right)) .content-wrapper-left {
    grid-column: span 2;

    @include media-laptop {
      grid-column: unset;
    }
  }

  // if the content is NOT an image, place it under the title -> |title       |            |
  //                                                          -> |text content|text content|
  .content-wrapper-right:not(:has([data-id='asset-image'])) {
    grid-row: 2 / 3;
  }

  // if the content is an image, place it on the same leve as title -> |title       |image|
  //                                                                -> |text content|image|
  .content-wrapper-right:has([data-id='asset-image']) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  // if the content is an image, format the image accordingly
  .content-wrapper-right:has([data-id='asset-image']),
  .content-wrapper-left:has([data-id='asset-image']) {
    display: flex;
    align-self: center;
    width: 100%;

    [data-id='asset-image'] {
      object-fit: contain;

      @include media-tablet-large {
        justify-self: center;
        width: 100%;
        height: 100%;
      }
    }

    @include media-tablet-large {
      justify-content: center;
      justify-self: center;
    }
  }

  .component-list {
    & > .content-wrapper {
      display: flex;
      gap: 32px;
      align-items: flex-start;
      justify-content: space-between;

      & > * {
        height: 100%;
      }

      @include media-laptop {
        flex-wrap: wrap;

        & > * {
          height: unset;
        }
      }
    }
  }

  .content-bottom {
    display: grid;
    grid-template-columns: responsive-grid-columns();
    gap: 32px;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    padding-top: 0;

    & > :last-child:nth-child(n + 2) {
      justify-self: flex-end;
    }

    .content-bottom {
      padding: 0;
    }

    @include media-tablet-large {
      grid-template-columns: 1fr;

      & > :last-child:nth-child(n + 2) {
        justify-self: unset;
      }
    }
  }

  .embedded {
    padding: 0;
  }

  &.image-absolute-position {
    overflow-x: clip;

    .content-bottom {
      position: relative;
    }

    .content-wrapper-left,
    .content-wrapper-right {
      position: relative;
      max-width: unset;

      img[data-id='asset-image'] {
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;

        width: unset;
        height: unset;

        @include media-tablet-large {
          // hack for community page only
          top: 500px;
        }
      }
    }
  }

  .absolute-image-placeholder {
    width: 500px;
    height: 200px;

    @include media-tablet-large {
      height: 0;
    }
  }
}
