@import 'Styles/mixins';
@import 'Styles/placeholders';
@import 'Styles/constants';

.navbar {
  padding: 8px 40px;
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  z-index: 100;
  transition: background-color 0.2s;

  @include media-tablet {
    padding: 0 16px;
    height: 48px;
  }

  &.gray {
    background-color: rgb(95 44 20 / 10%);
  }

  &.none {
    display: none;
  }

  &.white {
    background-color: rgb(255 255 255);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: rgb(0 0 0 / 8.2%) 0 1.02604px 8.06943px 0;
    opacity: 1;
  }
}

.navbar > .menu {
  & {
    position: relative;
    display: flex;
    align-items: center;
    gap: 28px;
  }

  .menu-item {
    padding: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 2%;
      background-color: $color-primary-black;
      transform: scaleX(0);

      @extend %transition-all;
    }

    & .label {
      font-weight: $font-weight-regular;
      font-family: Inter, sans-serif;
      color: $color-secondary-gray600;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
      text-align: center;

      @extend %transition-all;
    }

    @include media-hover {
      &:hover::after {
        transform: scaleX(1);
      }

      &:hover .label {
        color: $color-primary-black;
      }
    }

    &.dropdown-toggle {
      position: relative;

      @include media-hover {
        &:hover .dropdown-arrow svg {
          stroke: $color-primary-black;
        }
      }

      .dropdown-arrow {
        margin-left: 10px;
        height: 17px;
        width: 16px;

        @extend %transition-all;

        svg {
          stroke: transparent;
        }
      }

      &.rotate .dropdown-arrow {
        transform: rotate(180deg);

        svg {
          stroke: $color-primary-black;
        }
      }
    }
  }
}

.menu.open {
  padding: 8px 24px 8px 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffdb20;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 14%);
}

.mobile-menu {
  margin-top: 0;
  padding: 4px 24px 28px 16px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  height: min-content;
  max-height: 100vh;
  min-height: 100vh;
  overflow: auto;
  overscroll-behavior: contain;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  transform: translateY(-100%);
  transition: transform 0.4s ease-out;
}

.mobile-menu.open {
  transform: translateY(0);
}

@include media-tablet {
}

.navbar > .menu {
  .courses-dropdown {
    padding: 32px;
    position: absolute;
    top: 64px;
    right: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: max-content;
    max-width: 800px;
    height: max-content;
    border-radius: 20px;
    background-color: $color-primary-white;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 25%);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-10px);

    @extend %transition-all;

    @include media-laptop-medium {
      right: 15%;
    }

    @include media-tablet-large {
      right: -5.5%;
    }

    & > :first-child {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: -10%;
        top: -32px;
        height: calc(100% + 52px);
        width: 1px;
        background: $color-secondary-gray100;
      }
    }

    &.open {
      pointer-events: all;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.navbar {
  & .burger {
    position: relative;
    display: none;
    width: 32px;
    height: 32px;
    border-radius: 0;
    overflow: hidden;
    cursor: pointer;

    @include media-hover {
      &:hover {
        .top,
        .mid,
        .bottom {
          height: 3px;
        }
      }
    }
  }

  .burger.open {
    display: block;
  }

  .top,
  .mid,
  .bottom {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    left: 4px;
    overflow: hidden;
    border-radius: 0;
    background-color: #888;
    transition: transform 0.4s ease-in-out;
  }

  .top {
    top: 7px;
  }

  .mid {
    top: 15px;
  }

  .bottom {
    top: 23px;
  }

  .burger.open .top {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.open .mid {
    opacity: 0;
  }

  .burger.open .bottom {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  @include media-tablet {
    .burger {
      display: block;
      z-index: 10;
    }
  }
}
