.navbar {
  @include media-tablet {
    height: 48px;
    padding: 0 16px;
  }

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 64px;
  padding: 8px 40px;

  border-radius: 0;

  transition: background-color 0.2s;

  &.gray {
    background-color: rgb(95 44 20 / 10%);
  }

  &.none {
    display: none;
  }

  &.white {
    opacity: 1;
    background-color: rgb(255 255 255);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: rgb(0 0 0 / 8.2%) 0 1.0260px 8.0694px 0;
  }

}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1440px;
  height: 100%;
  margin: 0 auto;

  .burger {
    @include media-hover {
      &:hover {
        .top,
        .mid,
        .bottom {
          height: 3px;
        }
      }
    }

    @include media-tablet {
      z-index: 10;
      display: block;
    }

    cursor: pointer;

    position: relative;

    overflow: hidden;
    display: none;

    width: 32px;
    height: 32px;

    border-radius: 0;

    .top,
    .mid,
    .bottom {
      position: absolute;
      left: 4px;

      overflow: hidden;
      display: block;

      width: 24px;
      height: 2px;

      background-color: #888;
      border-radius: 0;

      transition: transform 0.4s ease-in-out;
    }

    .top {
      top: 7px;
    }

    .mid {
      top: 15px;
    }

    .bottom {
      top: 23px;
    }

    &.open {
      display: block;

      .top {
        transform: rotate(-45deg) translate(-5px, 6px);
      }

      .mid {
        opacity: 0;
      }

      .bottom {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }

}

.navbar-content > .menu {
  position: relative;
  display: flex;
  gap: 28px;
  align-items: center;

  .menu-item {
    @include media-hover {
      &:hover::after {
        transform: scaleX(1);
      }

      &:hover .label {
        color: $color-primary-black;
      }
    }

    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 14px;

    &::after {
      @extend %transition-all;

      content: '';

      position: absolute;
      bottom: 2%;
      left: 0;
      transform: scaleX(0);

      width: 100%;
      height: 2px;

      background-color: $color-primary-black;
    }

    & .label {
      @extend %transition-all;

      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: $font-weight-regular;
      line-height: 20px;
      color: $color-secondary-gray600;
      text-align: center;
      letter-spacing: 0;
    }

    &.dropdown-toggle {
      @include media-hover {
        &:hover .dropdown-arrow img {
          filter: brightness(0);
        }
      }

      position: relative;

      .dropdown-arrow {
        @extend %transition-all;

        width: 16px;
        height: 17px;
        margin-left: 10px;
      }

      &.rotate .dropdown-arrow {
        transform: rotate(180deg);

        img {
          filter: brightness(0);
        }
      }
    }
  }

  .courses-dropdown {
    @extend %transition-all;

    @include media-laptop-medium {
      right: 15%;
    }

    @include media-tablet-large {
      right: -5.5%;
    }

    pointer-events: none;

    position: absolute;
    z-index: 1;
    top: 64px;
    right: 30%;
    transform: translateY(-10px);

    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;

    width: max-content;
    max-width: 800px;
    height: max-content;
    padding: 32px;

    visibility: hidden;
    opacity: 0;
    background-color: $color-primary-white;
    border-radius: 20px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 25%);

    & > :first-child {
      position: relative;

      &::after {
        content: '';

        position: absolute;
        top: -32px;
        right: -10%;

        width: 1px;
        height: calc(100% + 52px);

        background: $color-secondary-gray100;
      }
    }

    &.open {
      pointer-events: all;
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }
}

.menu.open {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  padding: 8px 24px 8px 16px;

  background-color: #ffdb20;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 14%);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);

  overflow: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  height: min-content;
  min-height: 100vh;
  max-height: 100vh;
  margin-top: 0;
  padding: 4px 24px 28px 16px;

  color: #000;

  background-color: #fff;

  transition: transform 0.4s ease-out;
}

.mobile-menu.open {
  transform: translateY(0);
}
