.loader-wrapper {
  position: absolute;
  z-index: 999;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(0 0 0 / 10%);
  backdrop-filter: blur(.16rem) saturate(2);

  animation: fade-in 500ms ease-in-out;
}

.loader {
  position: relative;
  left: -6.25rem;

  display: block;

  box-sizing: border-box;
  width: 0.625rem;
  height: 0.625rem;
  margin: 0.9375rem auto;

  color: #fff;

  border-radius: 50%;

  animation: shadow-rolling 2s linear infinite;
}

.hidden {
  display: none;
}

.fade-out {
  animation: fade-out 500ms ease-in-out forwards;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  100% { opacity: 0; }
}

@keyframes shadow-rolling {
  0% {
    box-shadow:
            0 0 rgb(255 255 255 / 0%),
            0 0 rgb(255 255 255 / 0%),
            0 0 rgb(255 255 255 / 0%),
            0 0 rgb(255 255 255 / 0%);
  }

  12% {
    box-shadow:
            6.25rem 0 $color-primary-white,
            0 0 rgb(255 255 255 / 0%),
            0 0 rgb(255 255 255 / 0%),
            0 0 rgb(255 255 255 / 0%);
  }

  25% {
    box-shadow:
            6.875rem 0 $color-primary-white,
            6.25rem 0 $color-primary-white,
            0 0 rgb(255 255 255 / 0%),
            0 0 rgb(255 255 255 / 0%);
  }

  36% {
    box-shadow:
            7.5rem 0 $color-primary-white,
            6.875rem 0 $color-primary-white,
            6.25rem 0 $color-primary-white,
            0 0 rgb(255 255 255 / 0%);
  }

  50% {
    box-shadow:
            8.125rem 0 $color-primary-white,
            7.5rem 0 $color-primary-white,
            6.875rem 0 $color-primary-white,
            6.25rem 0 $color-primary-white;
  }

  62% {
    box-shadow:
            12.5rem 0 rgb(255 255 255 / 0%),
            8.125rem 0 $color-primary-white,
            7.5rem 0 $color-primary-white,
            6.875rem 0 $color-primary-white;
  }

  75% {
    box-shadow:
            12.5rem 0 rgb(255 255 255 / 0%),
            12.5rem 0 rgb(255 255 255 / 0%),
            8.125rem 0 $color-primary-white,
            7.5rem 0 $color-primary-white;
  }

  87% {
    box-shadow:
            12.5rem 0 rgb(255 255 255 / 0%),
            12.5rem 0 rgb(255 255 255 / 0%),
            12.5rem 0 rgb(255 255 255 / 0%),
            8.125rem 0 $color-primary-white;
  }

  100% {
    box-shadow:
            12.5rem 0 rgb(255 255 255 / 0%),
            12.5rem 0 rgb(255 255 255 / 0%),
            12.5rem 0 rgb(255 255 255 / 0%),
            12.5rem 0 rgb(255 255 255 / 0%);
  }
}
