.faq {
  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;

    font-size: 20px;
    line-height: 28px;
    color: $color-gray-600;
    letter-spacing: 0;

    .list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .question {
        display: block;
        margin-bottom: 12px;
        font-weight: $font-weight-bold;
      }

      @include media-tablet {
        font-size: 18px;
        font-weight: $font-weight-regular;
        line-height: 28px;
      }
    }
  }

  @include media-tablet-large {
    font-size: 16px;
  }
}

ol {
  padding: 0;
  list-style: none;
}
