.faq {
  .list {
    padding: 0;
    list-style: none;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;

    font-size: $font-size-l;
    line-height: 28px;
    letter-spacing: 0;

    .list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .question {
        display: block;
        margin-bottom: 12px;
        font-weight: $font-weight-bold;
      }

      @include media-tablet {
        font-size: $font-size-m;
        font-weight: $font-weight-regular;
        line-height: 28px;
      }
    }
  }

  @include media-tablet-large {
    font-size: $font-size-s;
  }
}
