.courses-dropdown {
  --page-padding: 32px;
  --header-padding: 40px;

  @extend %transition-all;

  pointer-events: none;

  position: absolute;
  z-index: $z-index-above;
  top: 64px;
  left: 0;
  transform: translateY(-10px);

  min-width: calc(100% + var(--header-padding));
  max-width: calc(100vw - var(--page-padding));
  height: max-content;
  padding: 32px;
  border-radius: 0 0 0 $border-radius-xxs;

  visibility: hidden;
  opacity: $opacity-0;
  background-color: $color-white;
  box-shadow: 0 4px 10px 0 hsla(from $color-gray-900 h s l/ $opacity-10);

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    top: -4px;
    left: 0;

    width: 100%;
    height: 5px;

    background-color: $color-white;
  }

  &.open {
    pointer-events: all;
    transform: translateY(0);
    visibility: visible;
    opacity: $opacity-100;
  }

  @include media-laptop-large {
    right: 0;
    min-width: 100%;
    border-radius: 0 0 $border-radius-xxs $border-radius-xxs;
  }
}
