.about {
  & .left {
    @include media-laptop {
      min-width: 400px;
      margin-right: 20px;
    }

    @include media-tablet {
      min-width: auto;
    }

    min-width: 640px;
    margin-right: 200px;
    text-align: left;

    & .subtitle {
      margin: 16px 0;
    }
  }

  .picture {
    @include media-laptop {
      margin-top: 32px;
    }

    @include media-tablet {
      width: 296px;
      height: 272px;
      margin: 32px 0;
    }

    width: 370px;
    height: 340px;
  }
}
