.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 800px;

  &.container {
    background: $color-yellow;
  }

  &.content {
    padding: 208px 100px 100px;

    @include media-laptop {
      padding: 120px 45px 120px;
    }

    @include media-tablet {
      padding: 120px 15px 120px;
    }
  }

  .title-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: left;

    .title-main {
      display: flex;

      margin: 0;

      font-size: 96px;
      font-weight: $font-weight-bold;
      line-height: 125px;
      letter-spacing: 0;

      @include media-tablet {
        font-size: 60px;
        line-height: 78px;
      }
    }

    .title-icon {
      display: inline-block;
      width: 91px;
      height: 91px;
      margin-left: 8px;

      @include media-laptop {
        width: 71px;
        height: 71px;
      }

      @include media-tablet {
        width: 55px;
        height: 55px;
      }
    }
  }

  .subtitle {
    margin: 0;
    font-family: Inter-Medium, Inter, sans-serif;

    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      margin: 0;
      padding: 0;

      @include media-tablet {
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
      }
    }

    @include media-tablet {
      flex-direction: column;
      align-items: flex-start;

      font-size: 18px;
      font-weight: $font-weight-regular;
      line-height: 23px;
    }
  }
}

.description-title {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-weight: $font-weight-medium;
  line-height: 47px;
  color: $color-black;
  text-align: left;
  letter-spacing: 0;

  @include media-tablet {
    font-size: 24px;
    line-height: 32px;
  }
}
