.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 800px;

  &.container {
    background: $color-yellow;
  }

  &.content {
    @include media-laptop {
      padding: 120px 45px 120px;
    }

    @include media-tablet {
      padding: 120px 15px 120px;
    }

    padding: 208px 100px 100px;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: fit-content;

    text-align: left;

    .title-main {
      display: flex;

      margin: 0;

      font-size: 96px;
      font-weight: 700;
      line-height: 1.2em;
      letter-spacing: -0.4rem;
    }

    .title-icon {
      @include media-laptop {
        width: 71px;
        height: 71px;
      }

      @include media-tablet {
        width: 55px;
        height: 55px;
      }

      display: inline-block;
      width: 91px;
      height: 91px;
      margin-left: 8px;
    }
  }

  .subtitle {
    @include media-tablet {
      flex-direction: column;
      align-items: flex-start;

      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }

    font-family: Inter-Medium, Inter, sans-serif;

    &-container {
      @include media-tablet {
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
        padding: 0;
      }

      @include media-mobile {
        padding: 0;
      }

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      margin: 0;
      padding: 0 0 0 24px;
    }
  }
}

.description-title {
  @include media-tablet {
    width: 100%;
    padding: 0;

    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
  }

  @include media-mobile {
    padding: 0;
  }

  width: 741px;
  height: auto;
  margin: 0;
  padding: 0 0 0 24px;

  font-size: 52px;
  font-weight: 500;
  line-height: 64px;
  color: $color-white;
  text-align: left;
  text-shadow: 0 0 16px rgb(0 0 0 / 14%);
  letter-spacing: 0.04em;
}
