.general {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, max-content);
  column-gap: 24px;

  .title {
    grid-column: 1 / -1;
  }

  .info-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 380px;
  }

  @include media-tablet {
    grid-template-columns: 1fr;
    column-gap: 0;

    .info-block {
      margin-top: 24px;
    }
  }
}
