.general {
  .content {
    padding: 40px 120px;

    .title {
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 44px;
    }

    .general-info {
      display: flex;
      gap: 24px;
      align-items: flex-start;
      justify-content: space-between;

      color: $color-gray-600;

      & > div {
        max-width: 380px;

        .title {
          margin-top: 0;
          font-size: 28px;
          color: $color-gray-600;

          @include media-laptop {
            font-size: 22px;
            line-height: 36px;
          }

          @include media-tablet {
            font-size: 28px;
            line-height: 36px;
          }
        }

        .description {
          margin: 0;
          padding: 0;
          font-size: 18px;
          line-height: 28px;
        }
      }

      .materials {
        ul {
          font-size: 18px;
          line-height: 28px;
        }
      }

      @include media-laptop {
        flex-direction: column;
      }
    }

    @include media-laptop {
      width: 100%;
      padding: 40px 40px 0;
    }

    @include media-tablet {
      padding: 40px 16px;
    }
  }
}
