@import '../../../../constants';
@import '../../../../mixins';
.mentors {
  &.container {
    background: $color-secondary-gray100;

    .content {
      padding: 40px 120px;

      @include media-tablet {
        padding: 40px 16px;
      }

      & .mentors-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include media-mobile {
          order: 1;
        }

        & > .subtitle {
          max-width: 640px;

          @include media-tablet {
            max-width: 100%;
            font-size: 20px;
          }
        }

        & > a {
          margin-top: 24px;
        }
      }

      .picture {
        max-width: 420px;
        max-height: 420px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
