.stage-logo {
  position: relative;
  display: flex;
}

.shadows-blurs {
  position: absolute;
  z-index: 10;
  top: 6px;
  left: 12px;

  width: 20px;
  height: 19px;

  background: $color-shadows-blurs;
  filter: blur(8);
  border-radius: 19.5px;
}
