.hero-course {
  height: 55vh;
  min-height: 494px;
  background: $color-yellow;

  .hero-course-content {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;

    .course-logo {
      min-width: 150px;
      max-width: 200px;

      @include media-tablet {
        display: none;
      }
    }
  }

  @include media-tablet {
    padding-right: 40px;
    padding-left: 40px;
  }
}
