.hero-course {
  min-height: 494px;
  background: $color-yellow;

  .hero-course-content {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;

    .course-logo {
      width: 200px;
      min-width: 150px;
      height: 192px;
      min-height: 144px;

      @include media-tablet {
        display: none;
      }
    }

    .hero-subtitle {
      margin: 0;
      font-size: $font-size-h4;
      font-weight: $font-weight-medium;
      line-height: 32px;

      @include media-tablet {
        font-size: $font-size-xl;
        line-height: 28px;
      }
    }
  }

  @include media-tablet {
    padding-right: 40px;
    padding-left: 40px;
  }
}
