.modal {
  border: none;
  border-radius: 12px;
  padding: 32px;
  max-width: 889px;
  line-height: 24px;

  @include media-tablet-large {
    max-width: revert;
  }

  &::backdrop {
    background-color: hsla(0, 0%, 0%, 0.5);
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.modal-body {
  p {
    margin: 0;
  }
}

.modal-close-wrapper {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  display: flex;
  cursor: pointer;

  padding: 8px;

  font-size: 24px;

  background-color: transparent;
  border: none;
}
