.speakers {
  &.container {
    background-color: $color-secondary-gray100;
  }

  &.content {
    @include media-tablet {
      flex-direction: column;
      gap: 0;
      align-items: center;
    }
    
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
    justify-content: space-between;

    & .info {
      @include media-laptop {
        width: 100%;
      }

      width: 640px;
      font-weight: 500;
      color: $color-primary-black;
      text-align: left;

      & .subtitle {
        margin-top: 8px;
      }

      & .name {
        @include media-tablet {
          font-size: 24px;
          line-height: 32px;
        }

        margin-top: 16px;
        font-size: 28px;
        line-height: 36px;
      }

      & .email {
        @include media-tablet {
          font-size: 16px;
          line-height: 20px;
        }

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        margin-top: 8px;

        font-size: 18px;
        line-height: 24px;

        & span {
          margin-left: 8px;
        }
      }
    }

    & .picture {
      @include media-laptop {
        width: 235px;
        height: 240px;
        margin-top: 16px;
      }

      width: 294px;
      height: 300px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
