@import 'Styles/constants';
@import 'Styles/mixins';

.speakers {
  &.container {
    background-color: $color-secondary-gray100;
  }

  &.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    @include media-laptop {
      flex-direction: column;
      align-items: center;
    }

    & .info {
      width: 640px;
      text-align: left;
      font-weight: 500;
      color: $color-primary-black;

      @include media-laptop {
        width: 100%;
      }

      & .subtitle {
        margin-top: 8px;
      }

      & .name {
        font-size: 28px;
        line-height: 36px;
        margin-top: 16px;
        @include media-tablet {
          font-size: 24px;
          line-height: 32px;
        }
      }

      & .email {
        font-size: 18px;
        line-height: 24px;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        @include media-tablet {
          font-size: 16px;
          line-height: 20px;
        }

        & span {
          margin-left: 8px;
        }
      }
    }

    & .picture {
      width: 294px;
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include media-laptop {
        width: 235px;
        height: 240px;
        margin-top: 16px;
      }
    }
  }
}
