.stage {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;

  color: $color-gray-600;

  .stage-info {
    display: flex;
    flex: 1 1 40%;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;

    max-width: 600px;

    .stage-title {
      margin: 0;
      padding: 0;

      font-size: 28px;
      font-weight: $font-weight-medium;
      line-height: 32px;

      @include media-laptop {
        font-size: 22px;
      }
    }

    .stage-description {
      margin: 0;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }

    @include media-tablet-large {
      max-width: 100%;
    }

    @include media-tablet {
      .stage-title {
        font-size: 24px;
      }

      .stage-description {
        font-size: 16px;
      }
    }
  }

  @include media-tablet {
    gap: 16px;
  }
}

.stage:last-child > :first-child > :last-child {
  display: none;
}
