@import 'Styles/mixins';
@import 'Styles/constants';

.stage-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
  align-self: stretch;

  .stage-number {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffaf0;
    border-radius: 50%;
    border: 1px solid #fff2d9;
    font-size: 24px;
    line-height: 32px;

    @include media-tablet {
      height: 40px;
      width: 40px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .stage-line {
    height: calc(100% - 80px - 10px);
    width: 2px;
    background-color: $color-secondary-gray400;

    @include media-tablet {
      height: calc(100% - 40px - 10px);
    }
  }
}

.stage {
  &:last-child .stage-step .stage-line {
    display: none;
  }
}
