.requirements {
  & .content {
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include media-laptop {
      padding: 40px 40px;
    }

    @include media-tablet {
      padding: 40px 16px;
    }

    & .title {
      margin-bottom: 16px;
      font-size: 28px;
      line-height: 36px;
      color: $color-secondary-gray600;

      @include media-laptop {
        font-size: 22px;
      }
    }

    & .description {
      font-size: 18px;
      line-height: 28px;
      color: $color-secondary-gray600;
    }

    .requirements-info {
      display: flex;
      gap: 32px;

      @include media-laptop {
        flex-direction: column;
      }

      & .requirements-list {
        max-width: 600px;

        @include media-laptop {
          max-width: 100%;
        }
      }
    }
  }
}
