.onboard-links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-size: $font-size-lg;
  font-weight: $font-weight-regular;

  @include media-laptop {
    font-size: $font-size-md;
    line-height: 24px;
  }
}

.onboard-links {
  display: flex;
}
