.burger {
  @include media-hover {
    &:hover {
      .top,
      .mid,
      .bottom {
        height: 3px;
      }
    }
  }

  @include media-tablet {
    z-index: 10;
    display: block;
  }

  cursor: pointer;

  position: relative;

  overflow: hidden;
  display: none;

  width: 32px;
  height: 32px;

  border-radius: 0;

  .top,
  .mid,
  .bottom {
    position: absolute;
    left: 4px;

    overflow: hidden;
    display: block;

    width: 24px;
    height: 2px;

    background-color: #888;
    border-radius: 0;

    transition: transform 0.4s ease-in-out;
  }

  .top {
    top: 7px;
  }

  .mid {
    top: 15px;
  }

  .bottom {
    top: 23px;
  }

  &.open {
    display: block;

    .top {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    .mid {
      opacity: 0;
    }

    .bottom {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}