.content {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1440px;
  padding: 40px 120px 80px;

  @include media-laptop {
    padding: 80px 40px;
  }

  @include media-tablet {
    padding: 40px 16px;
  }
}

.map {
  position: absolute;
  z-index: -1;
  left: 0;

  overflow: hidden;

  width: 90%;
  max-width: 986px;
  max-height: 650px;

  @include media-tablet {
    width: 100%;
    max-width: none;
    max-height: none;
  }
}

.text-container {
  align-self: flex-end;
  width: 50%;
  text-wrap: balance;

  @include media-laptop {
    align-self: flex-start;
    width: 100%;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;

  &-block {
    display: flex;
  }

  &-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 192px;
    margin: 0 24px;
    padding: 8px 16px;

    .number {
      padding: 0;
      letter-spacing: 0.04em;

      @include media-laptop {
        font-size: 44px;
        line-height: 52px;
      }
    }

    &-text {
      height: 56px;
    }

    @include media-laptop {
      width: 150px;
      margin: 0;
    }

    @include media-tablet {
      padding: 0 8px;
    }
  }

  &-divider {
    width: 3px;
    height: 180px;
    background-color: $color-gray-200;
    border: none;

    @include media-tablet {
      height: 140px;

      &:nth-child(4) {
        display: none;
      }
    }
  }

  @include media-tablet {
    flex-direction: column;
    gap: 16px;
  }

  @include media-mobile {
    padding: 0;
  }
}
