.faq {
  @include media-tablet-large {
    font-size: 16px;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;

    font-size: 20px;
    line-height: 28px;
    color: $color-gray-600;
    letter-spacing: 0;

    .list {
      @include media-tablet {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
      }

      display: flex;
      flex-direction: column;
      gap: 16px;

      .question {
        display: block;
        margin-bottom: 6px;
        font-weight: $font-weight-medium;
      }
    }
  }
}

ol {
  padding: 0;
  list-style: none;
}
