.faq {
  @include media-tablet-large {
    font-size: 16px;
  }

  .content {
    .list {
      display: flex;
      flex-direction: column;
      gap: 26px;

      @include media-tablet {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
      }

      font-size: 20px;
      line-height: 28px;
      color: $color-gray-600;
      letter-spacing: 0;

      .question {
        font-weight: $font-weight-medium;
        display: block;
        margin-bottom: 6px;
      }
    }

    &.info-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

ol {
  list-style: none;
  padding: 0;
}
