.filter-container {
  display: flex;
  flex-direction: column;
  gap: $gap-s;
}

.filter-title {
  margin: 0;
}

.desktop-layout {
  display: block;

  @include media-tablet-large {
    display: none;
  }
}

.mobile-layout {
  display: none;

  @include media-tablet-large {
    display: block;
  }
}
