.filter-container {
  display: flex;
  flex-direction: column;
  gap: $gap-s;
}

.filter-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-title {
  margin: 0;
}

.tablet-toggle-button {
  .filter-toggle-arrow {
    &.expanded {
      transform: rotate(180deg);
    }
  }

  @at-root .filter-container.tablet & {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: $gap-s;
    border: none;
    border-radius: $border-radius-xxs;

    font-size: $font-size-s;
    font-weight: $font-weight-medium;

    background-color: transparent;

    &:focus-visible {
      outline: 1px solid $color-gray-600;
      outline-offset: 1px;
    }

    &.expanded {
      background-color: $color-gray-50;
    }
  }
}

.button {
  @extend %transition-all;

  cursor: pointer;

  gap: $gap-xs;
  place-content: center center;
  align-items: center;

  font-weight: $font-weight-medium;
  letter-spacing: 0;
  white-space: pre;
}

.secondary {
  width: max-content;
  padding: $gap-xxs $gap-s;
  border: 1px solid $color-gray-900;

  font-size: $font-size-xxs;
  color: $color-gray-900;

  visibility: hidden;
  opacity: 0;
  background: none;

  &:hover {
    background-color: $color-gray-100;
  }

  &.active {
    visibility: visible;
    opacity: $opacity-100;
    transition-delay: 0s;
  }

  @include media-tablet-large {
    overflow: hidden;

    width: 40%;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;

    font-size: $font-size-m;

    transition: all 0.3s ease-in-out;

    &.active {
      max-height: 100px;
      padding: $gap-xs;
    }
  }
}

.tablet-actions-wrapper {
  display: flex;
  gap: $gap-xs;
}
