.option {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $color-secondary-gray600;
  @include media-laptop {
    max-width: 600px;
    margin-top: 24px;
  }
  @include media-tablet {
    max-width: 100%;
  }
}

.option-title {
  margin: 0;
  font-weight: $font-weight-medium;
  font-size: 28px;
  line-height: 36px;
  @include media-tablet {
    font-size: 24px;
    line-height: 32px;
  }
}

.option-description {
  font-weight: $font-weight-regular;
  font-size: 18px;
  line-height: 28px;
  margin: 16px 0 0;
  text-align: left;
  @include media-tablet {
    font-size: 16px;
    line-height: 24px;
  }
}

.option-button {
  width: 240px;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-radius: 0;
  padding: 8px 24px;
  white-space: pre;
  font-weight: $font-weight-medium;
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 24px;
  margin: 24px 0;
  border-radius: 0;
  border: 2px solid;
  @extend %transition-all;

  & .arrow {
    margin-left: 8px;
  }

  @include media-mobile-landscape {
    width: 100%;
    justify-content: center;
  }

  @include media-hover {
    &:hover {
      background-color: $color-secondary-gray200;
    }
  }
}
