@import 'Styles/constants';
@import 'Styles/mixins';
@import 'Styles/placeholders';

.option {
  @include media-laptop {
    max-width: 600px;
    margin-top: 24px;
  }

  @include media-tablet {
    max-width: 100%;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 380px;

  color: $color-secondary-gray600;
}

.option-title {
  @include media-tablet {
    font-size: 24px;
    line-height: 32px;
  }

  margin: 0;
  font-size: 28px;
  font-weight: $font-weight-medium;
  line-height: 36px;
}

.option-description {
  @include media-tablet {
    font-size: 16px;
    line-height: 24px;
  }

  margin: 16px 0 0;

  font-size: 18px;
  font-weight: $font-weight-regular;
  line-height: 28px;
  text-align: left;
}

.option-button {
  @extend %transition-all;

  @include media-mobile-landscape {
    justify-content: center;
    width: 100%;
  }

  @include media-hover {
    &:hover {
      background-color: $color-secondary-gray200;
    }
  }

  display: flex;
  flex-direction: row;
  place-content: flex-start flex-start;
  align-items: flex-start;

  width: 240px;
  height: min-content;
  margin: 24px 0;
  padding: 8px 24px;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: $font-weight-medium;
  line-height: 24px;
  color: #000;
  letter-spacing: 0;
  white-space: pre;

  border: 2px solid;
  border-radius: 0;

  & .arrow {
    margin-left: 8px;
  }
}
