@import 'Styles/mixins';
@import 'Styles/placeholders';
@import 'Styles/constants';

.navbar {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 2s;
  border-radius: 0;

  &.gray {
    background-color: rgba(95, 44, 20, 0.1);
  }

  &.none {
    display: none;
  }
  &.white {
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.082) 0px 1.02604px 8.06943px 0px;
    opacity: 1;
  }

  @include media-hover {
    &.gray:hover {
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
      background-color: rgba(95, 44, 20, 0.2);
    }

    &.white:hover {
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
    }
  }
}

.logo-container {
  width: 56px;
  height: 56px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  display: flex;
  align-items: center;
  position: relative;

  & .logo-container {
    display: none;
  }
}

.menu.open {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: -24px;
  left: 0;
  background-color: #ffdb20;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.14);
  padding: 8px 24px 8px 16px;

  & .logo-container {
    display: flex;
    margin: 8px;
  }
}

.menu-item {
  position: relative;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  cursor: pointer;

  &::after {
    transition: transform 0.3s ease-in-out;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 2%;
    background-color: #000000;
    transform: scaleX(0);
    @extend %transition-all;
  }

  & .label {
    font-weight: $font-weight-regular;
    font-family: 'Inter', sans-serif;
    color: $color-secondary-gray600;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 20px;
    text-align: center;
    @extend %transition-all;
  }

  @include media-hover {
    &:hover::after {
      transform: scaleX(1);
    }

    &:hover .label {
      color: $color-primary-black;
    }
  }
}

.burger {
  width: 32px;
  height: 32px;
  display: none;
  overflow: hidden;
  position: relative;
  border-radius: 0px 0px 0px 0px;
  cursor: pointer;

  @include media-hover {
    &:hover {
      .top,
      .mid,
      .bottom {
        height: 3px;
      }
    }
  }
}

.burger.open {
  display: block;
}

.top,
.mid,
.bottom {
  width: 24px;
  height: 2px;
  display: block;
  background-color: #888888;
  overflow: hidden;
  position: absolute;
  border-radius: 0px 0px 0px 0px;
  transition: transform 0.4s ease-in-out;
}

.top {
  top: 7px;
  left: 4px;
}

.mid {
  left: 4px;
  top: 15px;
}

.bottom {
  left: 4px;
  top: 23px;
}

.burger.open .top {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.open .mid {
  opacity: 0;
}

.burger.open .bottom {
  transform: rotate(45deg) translate(-5px, -6px);
}

@include media-tablet {
  .menu {
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-item {
    display: none;
  }
  .menu.open .menu-item {
    display: block;

    & .label {
      text-align: left;
    }

    &::after {
      transform-origin: center left;
    }
  }
  .burger {
    display: block;
  }
}
