@import 'Styles/mixins';
@import 'Styles/constants';

.rs-courses {
  @include media-laptop {
    padding: 40px;
    margin: 0 auto;
  }
  @include media-tablet {
    padding: 0;
  }

  & > .regular {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;

    @include media-tablet {
      font-size: 28px;
      line-height: 36px;
    }
  }

  & .content {
    padding: 40px 120px 40px;

    @include media-laptop {
      width: 100%;
      gap: 24px;
      padding: 8px 6px;
      flex-wrap: wrap;
    }

    @include media-tablet {
      padding: 0 16px;
    }

    & .rs-courses-wrapper {
      width: 100%;
      display: flex;
      gap: 22px;
      justify-content: flex-start;
      flex-wrap: wrap;

      @include media-laptop {
        padding: 0;
      }
      @include media-tablet {
        flex-direction: column;
      }

      .rs-course-card {
        flex: 1 1 345px;
        @include media-tablet {
          flex: inherit;
          max-width: 100%;
        }
      }
    }
  }

  & .card-wrapper {
    margin: 28px 0 28px 0;

    @media (min-width: $tablet-width) {
      & .rs-course-card {
        flex-direction: row;
        width: 100%;
  
        &__top {
          border-radius: 12px 0px 0px 12px;
          border: 1px solid #e2e2e2;
          border-right: none;
          min-height: 144px;
  
          & h3 {
            font-size: 24px;
          }
          & img {
            width: 72px;
            height: 64px;
            display: block;
          }
        }
  
        &__bottom {
          border-radius: 0px 12px 12px 0px;
  
          border: 1px solid #e2e2e2;
          border-left: none;
        }
      }
    }
  }
}
