@import 'Styles/mixins';
@import 'Styles/constants';

.rs-courses {
  @include media-laptop {
    padding: 40px;
    margin: 0 auto;
  }
  @include media-tablet {
    padding: 0;
  }

  & .content {
    padding: 40px 120px 40px;

    @include media-laptop {
      width: 100%;
      gap: 24px;
      padding: 8px 6px;
      flex-wrap: wrap;
    }

    @include media-tablet {
      padding: 0 16px;
    }

    & .rs-courses-wrapper {
      width: 100%;
      display: grid;
      grid-template: 1fr / repeat(3,1fr);
      grid-auto-flow: row;
      gap: 22px;
      margin-top: 24px;

      @include media-laptop-medium {
        grid-template: 1fr / repeat(2,1fr);
      }
      @include media-tablet {
        grid-template: 1fr / repeat(1,1fr);
      }

      .rs-course-card {
        height: 100%;

        &__top {
          min-height: calc(100% - 99px);
        }

        @include media-tablet {
          height: auto;

          &__top {
            min-height: min-content;
          }
        }
      }
    }
  }
}
