.rs-courses {
  @include media-laptop {
    margin: 0 auto;
    padding: 40px;
  }

  @include media-tablet {
    padding: 0;
  }

  & .content {
    @include media-laptop {
      flex-wrap: wrap;
      gap: 24px;
      width: 100%;
      padding: 8px 6px;
    }

    @include media-tablet {
      padding: 0 16px;
    }

    padding: 40px 120px 40px;

    & .rs-courses-wrapper {
      @include media-laptop-medium {
        grid-template: 1fr / repeat(2,1fr);
      }

      @include media-tablet {
        grid-template: 1fr / repeat(1,1fr);
      }

      display: grid;
      grid-auto-flow: row;
      grid-template: 1fr / repeat(3,1fr);
      gap: 22px;

      width: 100%;
      margin-top: 24px;

      .rs-course-card {
        @include media-tablet {
          height: auto;

          &__top {
            min-height: min-content;
          }
        }

        height: 100%;

        &__top {
          min-height: calc(100% - 99px);
        }
      }
    }
  }
}
