@import '../../../../constants';
@import '../../../../mixins';

.merch {
  &.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    @include media-laptop {
      flex-direction: column;
    }

    & .info {
      width: 600px;
      text-align: left;
      @include media-laptop {
        width: 100%;
      }

      & .title,
      & .subtitle,
      & .paragraph {
        margin-top: 16px;
      }
    }

    & .button {
      margin-top: 24px;
    }

    & .picture {
      width: 680px;
      height: 700px;
      @include media-laptop {
        margin-top: 24px;
        width: 680px;
        height: 618px;
        overflow: hidden;
      }
    }
  }
}
