@import 'Styles/constants';
@import 'Styles/mixins';

.main {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &.container {
    background: $color-secondary-yellow;
  }

  &.content {
    padding: 208px 100px 100px;
    @include media-laptop {
      padding: 120px 45px 120px;
    }
    @include media-tablet {
      padding: 120px 15px 120px;
    }
  }

  .title-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: left;
    gap: 8px;

    .title-main {
      display: flex;
      font-size: 96px;
      font-weight: 700;
      letter-spacing: -0.4rem;
      line-height: 1.2em;
      margin: 0;
    }

    .title-icon {
      width: 91px;
      height: 91px;
      display: inline-block;
      margin-left: 8px;
      @include media-laptop {
        width: 71px;
        height: 71px;
      }
      @include media-tablet {
        width: 55px;
        height: 55px;
      }
    }
  }

  .subtitle {
    font-family: 'Inter-Medium', 'Inter', sans-serif;
    margin: 0;

    font-weight: 500;
    font-size: 20px;
    color: $color-secondary-brown;
    letter-spacing: 0;
    line-height: 28px;

    @include media-tablet {
      flex-direction: column;
      align-items: flex-start;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }

    &-container {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0px 0px 0px 24px;

      @include media-tablet {
        padding: 0px;
        gap: 4px;
        align-items: flex-start;
        flex-direction: column;
      }

      @include media-mobile {
        padding: 0px;
      }
    }
  }

  & > .tags-container {
    display: flex;
    width: max-content;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 24px;

    @include media-tablet {
      padding: 0px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include media-mobile {
      padding: 0px;
    }

    & .tag-container {
      display: flex;
      align-items: center;
      @include media-tablet {
        margin-top: 16px;
      }
    }
  }

  & .tag-divider {
    margin: 0 8px;
  }
}

.description-title {
  margin: 0;
  padding: 0px 0px 0px 24px;

  font-weight: 500;
  font-size: 52px;
  letter-spacing: 0.04em;
  line-height: 64px;
  height: auto;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
  color: $color-primary-white;
  text-align: left;
  width: 741px;

  @include media-tablet {
    padding: 0px;

    width: 100%;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
  }

  @include media-mobile {
    padding: 0px;
  }
}
