@import '../../../../constants';
@import '../../../../mixins';

.numbers {
  align-items: center;

  &.content {
    padding: 40px 120px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-laptop {
      padding: 80px 40px;
    }
    @include media-tablet {
      padding: 40px 16px;
    }
  }
}

.map {
  max-width: 986px;
  width: 90%;
  max-height: 650px;
  height: auto;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  left: 0;
  @include media-tablet {
    max-width: none;
    width: 100%;
    max-height: none;
    height: auto;
  }
}

.numbers .text-container {
  display: flex;
  flex-direction: column;

  @include media-laptop {
    flex-direction: row;
    align-self: flex-start;
  }
}

.numbers .text-container > div {
  width: 50%;
  text-align: left;
  align-self: flex-end;
  @include media-laptop {
    width: 100%;
  }

  & .subtitle {
    margin: 16px 0;
  }
}

.numbers .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  margin-top: 24px;
  @include media-tablet {
    flex-direction: column;
  }
  @include media-mobile {
    padding: 0;
  }

  .left,
  .right {
    display: flex;
    flex-direction: row;
  }

  .left div:nth-child(4) {
    @include media-tablet {
      display: none;
    }
  }

  .right {
    @include media-tablet {
      margin-top: 16px;
    }
  }
  .info-cell {
    width: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 16px;
    margin: 0 24px;
    @include media-laptop {
      width: 150px;
      margin: 0;
    }
    @include media-tablet {
      padding: 0 8px;
    }

    .number {
      font-weight: 500;
      font-size: 52px;
      line-height: 64px;
      letter-spacing: 0.04em;
      color: $color-primary-black;
      @include media-laptop {
        font-size: 44px;
        line-height: 52px;
      }
    }

    .text {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0;
      color: $color-secondary-gray600;
      @include media-laptop {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .info-divider {
    width: 3px;
    height: 180px;
    background-color: #e2e2e2;
    @include media-tablet {
      height: 140px;
    }
  }
}
