.stage-topics {
  @include media-tablet {
    font-size: 16px;
  }

  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: flex-start;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  list-style-type: none;

  & > li {
    margin: 0;

    &:not(:last-child)::after {
      content: ',';
      margin-right: 6px;
    }
  }
}
