.mentoring-register-section {
  background: linear-gradient(87.93deg, #9be1ff 0.89%, #46c4fa 99.11%);
}

.mentoring-register {
  display: flex;
  flex-direction: column;
  max-width: 680px;

  @include media-laptop-medium {
    flex-direction: column;
    align-items: flex-start;
  }
}

.step-before-wrapper {
  margin-bottom: 40px;
}

.header-after {
  margin-top: 40px;
}

.note {
  margin-bottom: 18px;
}

.mentors-register-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
  }
}

.picture-wrapper {
  align-self: center;
  max-width: 427px;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
