.mentoring-register {
  background: $gradient-blue-background;

  &-content {
    max-width: 680px;
  }

  &-wrapper {
    flex-direction: row;
    gap: 176px;

    @include media-laptop {
      gap: 50px;
    }

    @include media-tablet-large {
      flex-direction: column;
      gap: 32px;
    }
  }
}

.sloth-mascot {
  width: 427px;
  height: 272px;
  object-fit: contain;

  @include media-tablet {
    width: 358px;
    height: 228px;
  }
}

.gray-link {
  color: $color-gray-600;
}
