.hero {
  min-height: 440px;

  &-content {
    display: flex;

    .hero-info {
      display: flex;
      flex-direction: column;

      width: fit-content;
      padding: 32px;
      border-radius: $border-radius-s;

      text-align: left;

      background-color: hsla(from $color-white h s l/ $opacity-80);

      .title-main {
        @include media-tablet {
          font-size: 80px;
        }

        @include media-mobile-landscape {
          font-size: 40px;
        }
      }
    }

    @include media-tablet {
      align-items: center;
      justify-content: center;
    }
  }
}
