.school-menu {
  @extend %transition-all;

  display: grid;
  gap: $gap-s;
  color: $color-gray-100;

  .heading {
    margin: 0;
    font-size: $font-size-xxs;
    line-height: 1.15;
    text-transform: uppercase;

    &.dark {
      color: $color-gray-900;
    }

    &.light {
      color: $color-gray-400;
    }
  }

  .school-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-l $gap-xl;
    list-style-type: none;

    @include media-tablet-large {
      display: flex;
      flex-flow: column wrap;
    }

    @include media-mobile-landscape {
      row-gap: $gap-s;
      max-height: 816px;
    }
  }

  .rsschool-content,
  .community-content {
    grid-template-areas:
      'a c '
      'b d ';

    > :nth-child(1) {
      grid-area: a;
    }

    > :nth-child(2) {
      grid-area: b;
    }

    > :nth-child(3) {
      grid-area: c;
    }

    > :nth-child(4) {
      grid-area: d;
    }
  }

  .mentorship-content {
    grid-template-areas:
      'a b d'
      'a c e';

    > :nth-child(1) {
      grid-area: a;
    }

    > :nth-child(2) {
      grid-area: b;
    }

    > :nth-child(3) {
      grid-area: c;
    }

    > :nth-child(4) {
      grid-area: d;
    }

    > :nth-child(5) {
      grid-area: e;
    }
  }

  .courses-content {
    grid-template-areas:
      'a b h'
      'a c i'
      'a d j'
      'a e k'
      'a f l'
      'a g m';
    grid-template-columns: 1fr auto 1fr;

    > :nth-child(1) {
      grid-area: a;
    }

    > :nth-child(2) {
      grid-area: b;
    }

    > :nth-child(3) {
      grid-area: c;
    }

    > :nth-child(4) {
      grid-area: d;
    }

    > :nth-child(5) {
      grid-area: e;
    }

    > :nth-child(6) {
      grid-area: f;
    }

    > :nth-child(7) {
      grid-area: g;
    }

    > :nth-child(8) {
      grid-area: h;
    }

    > :nth-child(9) {
      grid-area: i;
    }

    > :nth-child(10) {
      grid-area: j;
    }

    > :nth-child(11) {
      grid-area: k;
    }

    > :nth-child(12) {
      grid-area: l;
    }

    > :nth-child(13) {
      grid-area: m;
    }
  }

  .supportus-content {
    grid-template-columns: 1fr;
  }

  &.hidden {
    @extend %transition-all;

    max-height: 0;
    margin-top: 0;
    visibility: hidden;
    opacity: 0;
  }

  &.visible {
    @extend %transition-all;

    max-height: 816px;
    margin-top: 26px;
    visibility: visible;
    opacity: $opacity-100;
  }
}
