@import 'Styles/constants';
@import 'Styles/mixins';
@import 'Styles/placeholders';

.school-list {
  max-height: 260px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  gap: 19px;
  column-gap: 40px;

  @include media-laptop-medium {
    column-gap: 30px;
  }

  @include media-tablet {
    column-gap: 20px;
  }

  @include media-mobile-landscape {
    column-gap: 10px;
  }
}
