.numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 120px;
  min-height: 632px;
}

.map {
  flex-shrink: 0;
  width: 986px;
  height: 650px;
  display: block;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  left: 0;
}

.numbers .text-container {
  display: flex;
  flex-direction: row;
}

.numbers .text-container > div {
  width: 50%;
  text-align: left;
}

.numbers .title {
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: 0.04em;
  color: #000000;
}

.numbers .subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  color: #545454;
  margin-top: 10px;
}

.numbers .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  color: #545454;
  margin-top: 10px;
}

.numbers .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  margin-top: 12px;
}

.numbers .info-container {
  width: 192px;
  height: 108px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px 8px 16px;
  margin: 0 24px;
}

.numbers .info-container div:first-child {
  font-weight: 500;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.04em;
  color: #000000;
}
.numbers .info-container div:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #545454;
}
