.communication-content {
  display: flex;
  flex-direction: column;

  .communication-wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;

    @include media-tablet-large {
      flex-direction: column;
      gap: 40px;
      align-items: flex-start;
    }
  }

  .communication-subtitle,
  .communication-paragraph {
    padding-bottom: 5px;
  }

  .discord-logo-wrapper {
    flex-shrink: 0;
    align-self: center;

    width: 250px;
    padding: 30px;
    border-radius: 30px;

    background-color: hsl(234.9deg 85.6% 64.7%);

    img {
      width: 100%;
      height: auto;
    }

    @include media-tablet {
      width: 150px;
      padding: 15px;
    }
  }
}
