@import '../../constants';
@import '../../mixins';

.support {
  &.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: $color-secondary-gray100;
  }

  &.content {
    width: 1440px;
    padding: 80px 120px 40px 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    @include media-laptop {
      padding: 80px 40px 40px;
      max-width: 1440px;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    @include media-tablet {
      padding: 40px 16px;
    }

    & .info {
      width: 640px;
      text-align: left;
      font-weight: 500;
      color: $color-primary-black;

      @include media-laptop {
        width: 100%;
      }

      & .subtitle {
        margin-top: 8px;
      }

      & .button {
        margin-top: 24px;
      }
    }

    & .picture {
      width: 348px;
      height: 288px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include media-laptop {
        width: 300px;
        margin-top: 16px;
      }

      @include media-tablet {
        width: 280px;
      }
    }
  }
}
