@import 'Styles/constants';
@import 'Styles/mixins';

.course-main {
  display: flex;
  align-items: center;
  min-height: 440px;

  &.container {
    background: $color-secondary-yellow;
  }

  &.content {
    @include media-laptop {
      padding: 100px 40px;
    }

    padding: 100px;

    &.column-2 {
      @include media-laptop {
        flex-direction: row;
      }

      @include media-tablet {
        flex-direction: column;
        align-items: flex-start;
      }

      gap: 40px;
      justify-content: flex-start;

      .icon {
        @include media-tablet {
          display: none;
        }

        min-width: 150px;
        max-width: 200px;
        margin-top: -36px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &.content > .info {
    .subtitle {
      font-size: 24px;
      color: currentcolor;
    }

    .date-lang {
      margin: 16px 0 40px;
    }
  }
}
