.menu {
  width: 300px;

  @include media-tablet {
    display: none;

    &.open {
      display: block;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
    font-size: 14px;
    margin-left: 15px;
    gap: 4px;

    li {
      a {
        display: block;
        text-decoration: none;
        color: $color-gray-500;
        padding: 6px 8px;

        &.active {
          font-weight: bold;
          color: $color-blue-800;
          background-color: $color-blue-background-100;
        }
      }
    }

    span {
      display: block;
      padding: 6px 8px;
      margin-top: 6px;
    }
  }
}

.burger {
  display: none;

  @include media-tablet {
    display: block;
  }
}
