.menu {
  width: 300px;

  > ul {
    padding-bottom: 15px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: $gap-xxs;

    padding-left: 12px;

    font-size: $font-size-xs;
    text-align: left;
    list-style-type: none;

    &.border {
      margin-left: 16px;
      border-left: 1px solid $color-gray-200;
    }

    li {
      a {
        display: block;
        padding: 6px 8px;
        color: $color-gray-700;
        text-decoration: none;

        &:hover {
          color: $color-gray-900;
        }

        &.active {
          font-weight: bold;
          color: $color-blue-700;
        }
      }
    }

    span {
      display: block;
      margin-top: 6px;
      padding: 6px 8px;
      color: $color-gray-900;
    }
  }

  @include media-tablet {
    display: none;

    &.open {
      display: block;
    }
  }

  @include media-mobile-landscape {
    width: 100%;
  }
}

.menu-toggle {
  display: none;

  .chevron {
    width: 20px;
    height: auto;

    &.open {
      transform: rotate(90deg);
    }
  }

  @include media-tablet {
    display: flex;
    gap: $gap-xxs;
    align-items: center;

    padding: 0;
    border: 0;

    background: none;
  }
}
