@import 'Styles/mixins';
@import 'Styles/constants';
@import 'Styles/placeholders';

.school-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 16px;
  color: $color-secondary-gray100;

  & .heading {
    margin: 0;
    font-size: 12px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
  }
}
