.contribute {
  & .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    text-align: left;

    & .general {
      display: flex;
      flex-direction: row;
      gap: 50px;
      align-items: flex-start;
      justify-content: space-between;

      width: 100%;

      @include media-tablet-large {
        flex-direction: column;
        gap: 0;
        align-items: center;
      }
    }

    & .paragraph {
      width: 100%;
    }

    & .info {
      width: 640px;
      text-align: left;

      & .subtitle {
        margin-top: 16px;
      }

      @include media-laptop {
        width: 100%;
      }
    }

    & .picture {
      width: 358px;
      height: 358px;

      @include media-laptop {
        margin-top: 16px;
      }

      @include media-mobile {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    & .contribute-options {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      margin-top: 24px;

      & .option {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        max-width: 500px;

        color: $color-gray-600;

        @include media-laptop {
          max-width: 600px;
          margin-top: 24px;
        }

        @include media-tablet {
          max-width: 100%;
        }
      }

      & .option-title {
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0;

        @include media-tablet {
          font-size: 24px;
          line-height: 32px;
        }
      }

      & .option-description {
        margin-top: 16px;

        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        letter-spacing: 0;

        @include media-tablet {
          font-size: 16px;
          line-height: 24px;
        }
      }

      @include media-laptop {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @include media-laptop {
      flex-direction: column;
      align-items: center;
    }
  }
}
