.contribute {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;

  @include media-laptop {
    align-items: center;
  }
}

.picture {
  width: 358px;
  height: 358px;

  @include media-mobile {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.info {
  width: 640px;

  @include media-laptop {
    width: 100%;
  }
}

.contribute-paragraph {
  width: 100%;
}

.general {
  gap: 50px;
  width: 100%;

  @include media-tablet-large {
    gap: 0;
  }
}

.contribute-options {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  @include media-laptop {
    flex-direction: column;
    align-items: flex-start;
  }
}

.option-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;

  @include media-laptop {
    max-width: 600px;
  }

  @include media-tablet {
    max-width: 100%;
  }
}
