.menu-item-wrapper {
  height: 100%;
}

.menu-item {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0 0 0 3px;
  border: none;

  background: none;

  &:focus-visible {
    z-index: 100;

    border-radius: 2px;

    outline-style: solid;
    outline-width: 2px;
    outline-offset: 0;
  }

  &::after {
    @extend %transition-all;

    content: '';

    position: absolute;
    z-index: 100;
    bottom: 1px;
    left: 0;
    transform: scaleX(0);

    width: 100%;
    height: 2px;

    background-color: $color-black;
  }

  .label-bold {
    position: relative;

    font-family: $font-primary;
    font-size: 16px;
    font-weight: $font-weight-bold;
    line-height: 20px;
    color: transparent;
    text-align: center;
    letter-spacing: 0;

    .label-content {
      @extend %transition-all;

      position: absolute;
      top: 0;
      left: 0;

      font-weight: $font-weight-regular;
      color: $color-gray-900;
    }
  }

  &.dropdown-toggle {
    position: relative;

    .dropdown-arrow {
      @extend %transition-all;

      cursor: inherit;

      display: flex;
      align-items: center;

      padding: 0;
      border: none;

      background-color: transparent;

      > img {
        width: 20px;
        height: auto;
      }
    }

    &.rotate .dropdown-arrow {
      transform: rotate(180deg);
    }

    &.rotate::after {
      transform: scaleX(1);
    }
  }

  &.active {
    & > .label-bold > .label-content {
      font-weight: $font-weight-bold;
    }
  }

  @include media-hover {
    &:hover > .label-bold > .label-content {
      color: $color-gray-500;
    }
  }
}
