.course-card {
  $accent-color: var(--accent-bg-color);

  @extend %transition-all;

  position: relative;

  display: flex;
  flex-direction: column;

  min-width: 100px;
  height: 100%;
  border-radius: 12px;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    inset: 0;

    border-radius: inherit;

    opacity: 0;
    background-color: hsla(from $color-black h s l/ $opacity-20);
    backdrop-filter: blur(6px);

    transition: ease-in 200ms;
  }

  .card-header {
    position: relative;

    overflow: hidden;
    display: flex;
    gap: 16px;
    align-items: center;

    height: 100%;
    min-height: 112px;
    padding: 36px 32px;
    border-radius: 12px 12px 0 0;

    background-color: $color-purple-50;

    &::after {
      @include card-corner-accent($accent-color);
    }

    img {
      flex-shrink: 0;
      width: auto;
      height: 100px;
      object-fit: contain;
    }
  }

  .course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 32px;
    border-color: $color-gray-200;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 12px 12px;

    background-color: $color-white;
  }

  @include media-hover {
    &:hover .card-header::after {
      @include card-corner-accent($accent-color, $isHovered: true);
    }
  }

  @include media-laptop {
    width: 100%;
  }
}

@include media-hover {
  .course-card {
    &:hover {
      &::before {
        opacity: 1;
        filter: blur(10px);
        transition: ease-out 200ms;
      }
    }
  }
}
