.about-grid {
  margin-top: 24px;
  display: grid;
  grid-template-areas:
    'a a b'
    'c d e';
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;

  @include media-laptop {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include media-tablet {
    gap: 16px;
  }

  .item {
    padding: 24px;
    background-color: $color-secondary-yellow-50;
    border-radius: 12px;
    border: 1px solid rgba(255, 219, 32, 0.078);
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: $color-secondary-gray600;
    width: 100%;

    @include media-laptop {
      font-size: 16px;
    }

    & > .item-title {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;

      img {
        max-width: 50px;
        max-height: 40px;
      }

      h2 {
        margin: 0;
        font-weight: $font-weight-medium;
        font-size: 20px;
      }
    }

    & a {
      text-decoration: underline;
    }
  }

  .item:nth-child(1) {
    grid-area: a;
  }
  .item:nth-child(2) {
    grid-area: b;
  }
  .item:nth-child(3) {
    grid-area: c;
  }
  .item:nth-child(4) {
    grid-area: d;
  }
  .item:nth-child(5) {
    grid-area: e;
  }
}
