.about-grid {
  @include media-laptop {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include media-tablet {
    gap: 16px;
  }

  display: grid;
  grid-template-areas:
    'a a b'
    'c d e';
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  margin-top: 24px;

  .item {
    @include media-laptop {
      font-size: 16px;
    }

    width: 100%;
    padding: 24px;

    font-size: 18px;
    line-height: 28px;
    color: $color-secondary-gray-600;
    letter-spacing: 0;

    background-color: $color-secondary-yellow-50;
    border: 1px solid rgb(255 219 32 / 7.8%);
    border-radius: 12px;

    & > .item-title {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: flex-start;

      margin-bottom: 10px;

      img {
        max-width: 50px;
        max-height: 40px;
      }

      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: $font-weight-medium;
      }
    }

    & a {
      text-decoration: underline;
    }
  }

  .item:nth-child(1) {
    grid-area: a;
  }

  .item:nth-child(2) {
    grid-area: b;
  }

  .item:nth-child(3) {
    grid-area: c;
  }

  .item:nth-child(4) {
    grid-area: d;
  }

  .item:nth-child(5) {
    grid-area: e;
  }
}
