.study-with-us {
  display: flex;
  flex-direction: column;
  gap: $gap-l;

  @include media-laptop {
    gap: $gap-xxxl;
  }
}

.study-wrap {
  gap: $gap-xxxl;

  @include media-tablet-large {
    gap: $gap-xxl;
  }
}

.study-description {
  width: 640px;

  @include media-tablet-large {
    width: 100%;
  }
}

.sloth-mascot {
  width: 347px;
  height: 327px;

  @include media-tablet {
    width: 278px;
    height: auto;
    object-fit: contain;
  }

  @include media-tablet-large {
    align-self: center;
  }
}

.study-options {
  display: flex;
  flex-direction: row;
  gap: $gap-l;
  align-items: flex-start;
  justify-content: space-between;

  @include media-tablet-large {
    flex-direction: column;
    gap: $gap-xl;
  }

  @include media-tablet {
    gap: $gap-xl;
  }
}

.option-item {
  display: flex;
  flex-direction: column;
  gap: $gap-s;
  max-width: 380px;

  @include media-laptop {
    max-width: 600px;
  }

  @include media-tablet {
    max-width: 100%;
  }
}
