.mentoring {
  &.content {
    @include media-laptop {
      padding: 40px;
    }

    @include media-tablet {
      padding: 40px 16px;
    }

    padding: 40px 120px;

    & > .title {
      @include media-laptop {
        font-size: 29px;
        line-height: 44px;
      }

      @include media-tablet {
        font-size: 23px;
      }

      font-size: 36px;
      letter-spacing: 0;
    }

    & > .benefits {
      @include media-laptop {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      @include media-tablet {
        gap: 16px;
      }

      display: grid;
      grid-template-areas:
        'a b c'
        'd d e';
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;

      margin-top: 24px;

      .benefit {
        width: 100%;
        padding: 24px;

        font-size: 18px;
        line-height: 28px;
        color: $color-secondary-gray600;
        letter-spacing: 0;

        background-color: $color-secondary-yellow-50;
        border: 1px solid rgb(255 219 32 / 7.8%);
        border-radius: 12px;
      }

      .benefit:nth-child(1) {
        grid-area: a;
      }

      .benefit:nth-child(2) {
        grid-area: b;
      }

      .benefit:nth-child(3) {
        grid-area: c;
      }

      .benefit:nth-child(4) {
        grid-area: d;
      }

      .benefit:nth-child(5) {
        grid-area: e;
      }
    }
  }
}
