.school-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: baseline;
  justify-content: flex-start;

  color: $color-gray-100;

  & .heading {
    margin: 0;
    font-size: 12px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;

    &.dark {
      color: $color-black;
    }

    &.light {
      color: $color-gray-400;
    }
  }

  .school-list {
    display: flex;
    flex-flow: column wrap;
    gap: 19px;
    column-gap: 40px;
    align-items: baseline;

    max-height: 260px;

    list-style-type: none;

    &_width {
      width: 512px;

      @media (width <= 795px) {
        width: auto;
      }
    }

    & .school-item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: baseline;
      justify-content: flex-start;

      &.with-icon {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        justify-content: flex-start;

        .details {
          display: flex;
          flex-direction: column;
          gap: 5px;
          align-items: start;
          justify-content: flex-start;
        }
      }

      span {
        @extend %transition-all;

        font-weight: $font-weight-medium;
        line-height: 20px;
        text-align: start;

        &.dark {
          color: $color-gray-600;
        }

        &.light {
          color: $color-gray-200;
        }

        &:hover {
          color: $color-gray-400;
        }
      }

      small {
        font-size: 12px;
        color: $color-gray-500;
      }
    }

    @include media-mobile-landscape {
      column-gap: 10px;
      max-height: 600px;
    }
  }
}
