.principles {
  .cards {
    gap: 32px;
    align-items: stretch;
    margin-top: 24px;

    @include media-laptop {
      gap: 16px;
      width: 100%;
    }

    @include media-tablet {
      gap: 8px;
    }
  }
}
