.principles {
  .cards {
    gap: $gap-xl;
    align-items: stretch;
    margin-top: 24px;

    @include media-laptop {
      gap: $gap-s;
      width: 100%;
    }

    @include media-tablet {
      gap: $gap-xs;
    }
  }
}
