.mobile-view {
  display: none;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  align-items: baseline;
  justify-content: flex-start;

  width: 100%;

  @include media-tablet {
    display: flex;
  }
}

.category-link {
  font-size: 24px;
  font-weight: $font-weight-bold;
}

.divider {
  width: 100%;
  border: none;
  border-bottom: 1px solid currentcolor;
}

.dark {
  color: $color-gray-600;
}

.light {
  color: $color-gray-100;
}
