.mobile-view {
  display: none;
  min-height: 100%;

  .menu-logo {
    display: flex;
    align-items: center;
    min-height: 48px;
  }

  .menu-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $gap-s;
    align-items: baseline;

    width: 100%;
    height: 100%;

    .content.breadcrumbs-content {
      @include media-tablet {
        padding: 0;
      }
    }
  }

  @include media-tablet-large {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }
}

.category-container {
  width: 100%;
}

.category-link {
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  background: none;
}

.dark.divider {
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-gray-300;
}

.light.divider {
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-gray-100;
}

.dark {
  color: $color-gray-900;
}

.light {
  color: $color-gray-100;
}

.lang-switcher {
  margin-right: 32px;
  margin-left: auto;
}
