.rs-course-card {
  @extend %transition-all;

  @include media-laptop {
    width: 100%;
  }

  @include media-tablet {
    max-width: 100%;
  }

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 380px;
  min-width: 100px;
  height: min-content;
  padding: 0;

  color: $color-secondary-gray600;

  border-radius: 12px;

  &__top {
    position: relative;

    overflow: hidden;
    display: flex;
    gap: 24px;
    place-content: flex-start flex-start;
    align-items: center;

    width: 100%;
    height: min-content;
    padding: 32px 24px 24px;

    background-color: #eef3fe;
    border: 1px solid #e2e2e2;
    border-bottom: none;
    border-radius: 12px 12px 0 0;

    &::after {
      @extend %transition-all;

      content: '';

      position: absolute;
      z-index: 1;
      right: -150px;
      bottom: -180px;

      display: block;

      width: 258px;
      height: 250px;

      opacity: 0.5;
      background-color: var(--accent-bg-color);
      filter: blur(32px);
      border-radius: 100%;
    }

    h3 {
      margin: 0;
    }

    img {
      display: block;
      width: 60px;
      height: 54px;
    }
  }

  &__title {
    @include media-laptop {
      font-size: 19px;
    }

    @include media-tablet {
      font-size: 24px;
    }

    width: 100%;
    height: auto;

    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 32px;
    color: var($color-secondary-gray600);
    text-align: left;
    letter-spacing: 0;
  }

  &__bottom {
    display: flex;
    gap: 24;
    place-content: flex-start space-between;
    align-items: center;

    width: 100%;
    padding: 24px 24px 24px 24px;

    background-color: #fefefe;
    border: 1px solid #e2e2e2;
    border-top: none;
    border-radius: 0 0 12px 12px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;

    font-size: 14px;
  }

  &__date-info {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
  }

  &__note-icon {
    width: 16px;
    height: 16px;
  }

  &__date {
    letter-spacing: 0.3px;
  }

  &__lang-info {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
  }

  &__mic-icon {
    width: 16px;
    height: 16px;
  }

  &__lang {
    text-transform: uppercase;
  }

  &__mode {
    text-transform: capitalize;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__more {
    @extend %transition-all;

    display: flex;
    align-content: center;
    align-items: center;

    padding: 10px 12px 10px 12px;

    font-size: 14px;
    color: $color-primary-black;

    background-color: #eee;
    border-radius: 9999px;

    .material-symbols-outlined {
      margin-left: 8px;
      font-size: 16px;
    }
  }
}

@include media-hover {
  .rs-course-card {
    &:hover {
      box-shadow: 0 4px 16px 0 rgb(0 0 0 / 14%);
    }

    &:hover > &__top::after {
      right: -130px;
      bottom: -160px;
      width: 279px;
      height: 270px;
    }

    &__more:hover {
      background-color: $color-secondary-gray400;
    }
  }
}
