.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.pagination-button {
  cursor: pointer;

  padding: 8px 12px;
  border: 1px solid $color-gray-200;
  border-radius: 4px;

  background: $color-white;

  transition: all 0.2s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: $opacity-50;
  }

  &:hover:not(:disabled) {
    color: $color-black;
    background: $color-gray-100;
  }

  &.active {
    border-color: $color-black;
    color: $color-white;
    background: $color-black;
  }

  &.arrow {
    font-weight: $font-weight-bold;
  }
}
