.pagination {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  margin-top: 24px;
}

.pagination-button {
  cursor: pointer;

  padding: 8px 12px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;

  background: $color-white;

  transition: all 0.2s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: $opacity-50;
  }

  &:hover:not(:disabled) {
    color: $color-black;
    background: #f7fafc;
  }

  &.active {
    border-color: #3182ce;
    color: $color-white;
    background: #3182ce;
  }

  &.arrow {
    font-weight: $font-weight-bold;
  }
}

.total-pages {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.total-pages-text {
  margin-left: 10px;
}
