.school {
  & .study {
    
    @include media-tablet-large {
      flex-direction: column;
      gap: 0px;
    }
    
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    & .left {

      @include media-tablet-large {
        width: 100%;
      }

      width: 640px;
      text-align: left;
    }

    & .right {
      @include media-tablet-large {
        margin: 40px auto 0;
      }
    }

    & .picture {
      @include media-tablet {
        width: 278px;
        height: auto;
        object-fit: contain;
      }
      
      width: 347px;
      height: 327px;
    }

    & .title,
    & .subtitle,
    & .paragraph {
      margin-top: 16px;
    }
  }

  & .study-options {
    align-items: flex-start;
    margin-top: 24px;
  }

  & .column-3 {
    @include media-tablet-large {
      flex-direction: column;
      gap: 0;
    }

    flex-direction: row;
    gap: 24px;
  }
}
