.courses-dropdown {
  @extend %transition-all;

  pointer-events: none;

  position: absolute;
  z-index: 1;
  top: 64px;
  left: 0;
  transform: translateY(-10px);

  width: max-content;
  max-width: calc(100vw - 32px);
  height: max-content;
  padding: 32px;

  visibility: hidden;
  opacity: 0;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 25%);

  &.open {
    pointer-events: all;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
