.stage-links {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  @include media-laptop {
    flex-direction: column;
    gap: 16px;
  }

  & > a {
    color: $color-secondary-gray600;
    text-decoration: underline;
    @extend %transition-all;

    &.disabled {
      pointer-events: none;
      color: $color-secondary-gray200;
      line-height: 1em;
      text-decoration: none;
    }

    &:hover {
      color: $color-secondary-gray400;
    }
  }
}
