@import '../../constants';
@import '../../mixins';

.partnered {
  &.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &.content {
    width: 1440px;
    padding: 80px 120px 40px 120px;
    display: flex;
    flex-direction: column;

    @include media-laptop {
      padding: 80px 40px 40px;
      max-width: 1440px;
      width: 100%;
    }
    @include media-tablet {
      padding: 40px 16px;
    }

    & .title {
      font-weight: 500;
      font-style: normal;
      font-family: 'Inter-Medium', 'Inter', sans-serif;
      color: $color-primary-black;
      font-size: 36px;
      letter-spacing: 0em;
      line-height: 44px;
    }

    & .partners {
      width: 500px;
      height: min-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px 16px 16px 16px;
      overflow: hidden;
      align-content: center;
      flex-wrap: nowrap;
      align-self: center;
    }
  }
}
