.merch {
  gap: 50px;

  .info {
    width: 600px;

    @include media-laptop {
      width: 100%;
    }
  }

  .image {
    width: 680px;
    height: 700px;
    object-fit: cover;

    @include media-laptop {
      width: 680px;
      height: 618px;
    }

    @include media-tablet {
      width: 100%;
      height: auto;
    }
  }

  @include media-laptop {
    gap: 74px;
  }
}
