.merch {
  &.content {
    gap: 50px;

    @include media-laptop {
      flex-direction: column;
    }

    .info {
      @include media-laptop {
        width: 100%;
      }

      width: 600px;
      text-align: left;

      .title,
      .subtitle,
      .paragraph {
        margin-top: 16px;
      }
    }

    .button {
      margin-top: 24px;
    }

    .picture {
      @include media-laptop {
        width: 680px;
        height: 618px;
        margin-top: 24px;
      }

      @include media-tablet {
        width: 100%;
        height: auto;
      }

      width: 680px;
      height: 700px;
      margin: 0 auto;
    }
  }
}
