.merch {
  gap: 50px;

  .info {
    width: 600px;
    text-align: left;

    > :nth-child(2),
    > :nth-child(3),
    > :nth-child(4) {
      margin-top: 16px;
    }

    @include media-laptop {
      width: 100%;
    }
  }

  .picture {
    width: 680px;
    height: 700px;
    margin: 0 auto;

    @include media-laptop {
      width: 680px;
      height: 618px;
      margin-top: 24px;
    }

    @include media-tablet {
      width: 100%;
      height: auto;
    }
  }

  @include media-laptop {
    flex-direction: column;
  }
}
