.merch {
  gap: 50px;

  .info {
    width: 600px;
    text-align: left;

    @include media-laptop {
      width: 100%;
    }
  }

  .image {
    width: 680px;
    height: 700px;
    margin: 0 auto;

    @include media-laptop {
      width: 680px;
      height: 618px;
      margin-top: 24px;
    }

    @include media-tablet {
      width: 100%;
      height: auto;
    }
  }

  @include media-laptop {
    flex-direction: column;
  }
}
