.filter-catalog {
  display: flex;
  gap: $gap-xl;

  @include media-tablet-large {
    display: flex;
    flex-direction: column;
    gap: $gap-xxxl;
    align-items: center;

    width: 100%;
  }
}

.filter-sidebar {
  display: block;
  width: 222px;

  @include media-tablet-large {
    width: 100%;
  }
}

.empty-image {
  max-width: 170px;
  height: auto;
}

.empty-paragraph {
  max-width: 480px;
  text-align: center;
}

.empty-wrapper {
  display: flex;
  flex-direction: column;
  gap: $gap-xl;
  align-items: center;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: $gap-s;
}

.filter-title {
  margin: 0;
}

.desktop-layout {
  display: block;

  @include media-tablet-large {
    display: none;
  }
}

.mobile-layout {
  display: none;

  @include media-tablet-large {
    display: block;
  }
}
