.merch-catalog-wrapper {
  display: flex;
  gap: $gap-xl;

  @include media-tablet-large {
    display: flex;
    flex-direction: column;
    gap: $gap-xxxl;
    align-items: center;

    width: 100%;
  }
}

.filters {
  display: block;
  width: 222px;

  @include media-tablet-large {
    width: 100%;
  }
}

.desktop-layout {
  display: block;

  @include media-tablet-large {
    display: none;
  }
}

.mobile-layout {
  display: none;

  @include media-tablet-large {
    display: block;
  }
}
