.trainers {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 120px;

    @include media-laptop {
      padding: 40px;
    }

    @include media-tablet {
      padding: 40px 16px;
    }
  }

  .trainers-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 32px;

    @include media-tablet-large {
      grid-template-columns: 1fr;
    }
  }
}
