.mentors-container {
  background: $color-gray-100;

  .mentors-content {
    flex-direction: row;

    .mentors-info {
      max-width: 640px;

      @include media-tablet-large {
        max-width: 100%;
      }
    }

    .sloth-mascot {
      @include media-tablet {
        width: 296px;
        height: 272px;
      }
    }

    @include media-tablet-large {
      flex-direction: column;
      gap: 40px;
    }
  }
}
