@import 'Styles/mixins';
@import 'Styles/constants';
@import 'Styles/placeholders';

.school-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 16px;
  color: $color-secondary-gray100;

  & .heading {
    margin: 0;
    font-size: 12px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;

    &.dark {
      color: $color-primary-black;
    }
    &.light {
      color: $color-secondary-gray400;
    }
  }

  .school-list {
    max-height: 260px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    gap: 19px;
    column-gap: 40px;

    @include media-laptop-medium {
      column-gap: 30px;
    }

    @include media-tablet {
      column-gap: 20px;
    }

    @include media-mobile-landscape {
      column-gap: 10px;
    }

    & .school-item {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: flex-start;
      gap: 5px;

      & .with-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        & .icon-wrapper {
          max-width: 40px;
          max-height: 40px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        @include media-tablet {
          &.with-icon {
            gap: 5px;
            & .icon-wrapper {
              max-width: 32px;
              max-height: 32px;
            }
          }

          @include media-mobile-landscape {
            &.with-icon {
              & .icon-wrapper {
                max-width: 26px;
                max-height: 26px;
              }
            }
          }
        }

        .details {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          justify-content: flex-start;
          gap: 5px;
        }
      }

      span {
        font-weight: $font-weight-medium;
        line-height: 20px;
        @extend %transition-all;

        &.dark {
          color: $color-secondary-gray600;
        }

        &.light {
          color: $color-secondary-gray200;
        }

        &:hover {
          color: $color-secondary-gray400;
        }
      }

      small {
        font-size: 12px;
        color: $color-secondary-gray500;
      }

      @include media-mobile-landscape {
        span {
          font-size: 12px;
          display: block;
          max-width: 220px;
          max-height: 20px;
          overflow-x: auto;
        }

        small {
          font-size: 10px;
        }
      }

      @media (max-width: 430px) {
        span {
          max-width: 135px;
        }
      }
    }
  }
}
