@import 'Styles/mixins';
@import 'Styles/constants';
@import 'Styles/placeholders';

.school-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 16px;
  color: $color-secondary-gray100;

  & .heading {
    margin: 0;
    font-size: 12px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;

    &.dark {
      color: $color-primary-black;
    }

    &.light {
      color: $color-secondary-gray400;
    }
  }

  .school-list {
    max-height: 260px;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    align-items: baseline;
    gap: 19px;
    column-gap: 40px;

    @include media-mobile-landscape {
      max-height: 600px;
      column-gap: 10px;
    }

    &_width {
      width: 512px;

      @media (width <= 795px) {
        width: auto;
      }
    }

    & .school-item {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: flex-start;
      gap: 5px;

      &.with-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;

        .details {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: flex-start;
          gap: 5px;
        }
      }

      span {
        text-align: start;
        font-weight: $font-weight-medium;
        line-height: 20px;

        @extend %transition-all;

        &.dark {
          color: $color-secondary-gray600;
        }

        &.light {
          color: $color-secondary-gray200;
        }

        &:hover {
          color: $color-secondary-gray400;
        }
      }

      small {
        font-size: 12px;
        color: $color-secondary-gray500;
      }
    }
  }
}
