@import '../../../../constants';
@import '../../../../mixins';

.partnered {
  &.content {
    display: flex;
    flex-direction: column;

    & .title {
      font-weight: 500;
      font-style: normal;
      font-family: 'Inter-Medium', 'Inter', sans-serif;
      color: $color-primary-black;
      font-size: 36px;
      letter-spacing: 0em;
      line-height: 44px;
    }

    & .partners {
      width: 500px;
      height: min-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px 16px 16px 16px;
      overflow: hidden;
      align-content: center;
      flex-wrap: nowrap;
      align-self: center;
      @include media-tablet {
        flex-direction: column;
        & > svg {
          margin-top: 24px;
        }
      }
    }
  }
}
