.numbers-content {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .numbers-map {
    position: absolute;
    z-index: -1;
    top: -40px;
    left: 0;

    width: 90%;
    max-width: 950px;
    max-height: 650px;

    @include media-tablet {
      width: 100%;
      max-width: none;
      max-height: none;
    }
  }

  .text-container {
    align-self: flex-end;
    width: 50%;
    text-wrap: balance;

    @include media-laptop {
      align-self: flex-start;
      width: 100%;
      text-wrap: unset;
    }
  }

  .numbers-info {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;

    margin: 24px 24px 40px 24px;

    :last-child::after {
      display: none;
    }

    @include media-tablet {
      grid-auto-flow: row;
      grid-template-columns: min-content;
      gap: 24px;

      :nth-child(odd) {
        width: 123px;
      }

      :nth-child(n + 3) {
        grid-row: 2 / 3;
      }

      :nth-child(2)::after {
        display: none;
      }
    }

    @include media-mobile {
      padding: 0;
    }
  }
}
