.numbers-content {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;

  .numbers-title {
    white-space: nowrap;

    @include media-laptop-medium {
      white-space: normal;
    }
  }

  .numbers-grid {
    width: 960px;
    height: 180px;
    margin-bottom: 40px;

    @include media-laptop {
      max-width: 800px;
    }

    @include media-laptop-medium {
      width: 100%;
    }

    @include media-tablet {
      height: auto;
    }
  }

  .numbers-map {
    position: absolute;
    z-index: $z-index-behind;
    top: -56px;
    left: 0;

    width: 90%;
    max-width: 950px;
    max-height: 650px;

    @include media-tablet {
      top: 56px;
      width: 100%;
      max-width: none;
      max-height: none;
    }
  }

  .text-container {
    align-self: flex-end;
    width: 50%;
    text-wrap: balance;

    @include media-laptop {
      align-self: flex-start;
      width: 100%;
      text-wrap: unset;
    }
  }

  @include media-tablet {
    gap: 64px;
  }
}
