.title {
  @include media-tablet {
    font-size: 36px;
    line-height: 44px;
  }

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  color: $color-black;
  text-align: left;
  letter-spacing: -0.04em;

  &.big {
    @include media-tablet {
      font-size: 36px;
      line-height: 44px;
    }

    font-size: 52px;
    line-height: 64px;
  }

  &.bigger {
    @include media-laptop {
      font-size: 96px;
      line-height: 1.2em;
    }

    font-size: 75px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: -0.04em;
  }

  &.extra-big {
    @include media-laptop {
      font-size: 77px;
    }

    @include media-tablet {
      font-size: 61px;
    }

    font-size: 96px;
    font-weight: 700;
    line-height: 1.2em;
  }

  & .before {
    margin-right: 8px;
    color: $color-red;
  }
}
