@import 'Styles/mixins';

.logo-wrapper {
  max-width: 56px;
  max-height: 56px;

  img {
    height: 100%;
    width: 100%;
  }

  @include media-tablet {
    max-width: 40px;
    max-height: 40px;
  }
}
