$content-width: 1440px;
$medium-laptop-width: 1250px;
$large-tablet-width: 1024px;
$tablet-width: 810px;
$mobile-landscape-width: 568px;
$mobile-width: 375px;

// font-family
$font-primary: 'Inter', sans-serif;

// font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// primary font colors
$color-primary-black: #000;
$color-primary-white: #fff;

// secondary font colors
$color-secondary-gray600: #545454;
$color-secondary-gray500: #757575;
$color-secondary-gray400: #afafaf;
$color-secondary-gray200: #e6e6e6;
$color-secondary-gray100: #f2f2f2;
$color-secondary-brown: #664d1b;
$color-secondary-yellow: #ffdb20;
$color-secondary-yellow-50: #fffaf0;
$color-secondary-red: #d44333;

// accent font colors
$color-accent-yellow: rgb(255 219 32 / 80%);
