$content-width: 1440px;
$medium-laptop-width: 1250px;
$large-tablet-width: 1024px;
$tablet-width: 810px;
$mobile-landscape-width: 568px;
$mobile-width: 375px;

// font-family
$font-primary: 'Inter', sans-serif;

// font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


// COLORS

// Primary colors
$color-primary-black: hsl(0deg 0% 0%);
$color-primary-white: hsl(0deg 0% 100%);

// Yellow colors
$color-secondary-yellow: hsl(50deg 100% 56%);
$color-secondary-yellow-700: hsl(40deg 58% 25%);
$color-secondary-yellow-500: hsl(49deg 87% 53%);
$color-secondary-yellow-50: hsl(40deg 100% 97%);

// Red colors
$color-secondary-red: #d44333;

// Secondary font colors
$color-secondary-gray-600: hsl(0deg 0% 33%);
$color-secondary-gray-500: hsl(0deg 0% 46%);
$color-secondary-gray-400: hsl(0deg 0% 69%);
$color-secondary-gray-200: hsl(0deg 0% 90%);
$color-secondary-gray-100: hsl(0deg 0% 95%);


// OPACITY
$opacity-100: 1;
$opacity-80: 0.8;
$opacity-50: 0.5;
$opacity-20: 0.2;
$opacity-8: 0.08;
$opacity-0: 0;
