$content-width: 1440px;
$medium-laptop-width: 1250px;
$large-tablet-width: 1024px;
$tablet-width: 810px;
$mobile-landscape-width: 568px;
$mobile-width: 375px;

// font-family
$font-primary: 'Inter', sans-serif;

// font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


// COLORS

// Primary colors
$color-black: hsl(0deg 0% 0%);  // #000
$color-white: hsl(0deg 0% 100%);  // #fff

// Yellow colors
$color-yellow: hsl(50deg 100% 56%);  // #ffdb20
$color-yellow-700: hsl(40deg 58% 25%);  // #664d1b
$color-yellow-500: hsl(49deg 87% 53%);  // #efc91f
$color-yellow-100: hsl(39deg 100% 93%);  // #fff2d9
$color-yellow-50: hsl(40deg 100% 97%);  // #fffaf0

// Red colors
$color-red: hsl(6deg 65% 52%);  // #d44333

// Purple colors
$color-purple-400: hsl(257deg 45% 54%);  // #7356bf
$color-purple-50: hsl(260deg 47% 96%);  // #f4f1fa

// Secondary font colors
$color-gray-600: hsl(0deg 0% 33%);  // #545454
$color-gray-500: hsl(0deg 0% 46%);  // #757575
$color-gray-400: hsl(0deg 0% 69%);  // #afafaf
$color-gray-200: hsl(0deg 0% 90%);  // #e6e6e6
$color-gray-100: hsl(0deg 0% 95%);  // #f2f2f2


// OPACITY
$opacity-100: 1;
$opacity-80: 0.8;
$opacity-50: 0.5;
$opacity-20: 0.2;
$opacity-8: 0.08;
$opacity-0: 0;
