@mixin media-laptop {
  @media (max-width: $content-width) {
    @content;
  }
}

@mixin media-laptop-medium {
  @media (max-width: $medium-laptop-width) {
    @content;
  }
}

@mixin media-tablet-large {
  @media (max-width: $large-tablet-width) {
    @content;
  }
}
@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile-landscape {
  @media (max-width: $mobile-landscape-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-hover {
  @media (hover: hover) {
    @content;
  }
}
