@import './normalize';

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: $color-gray-600;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  text-align: left;
}

.content {
  @include media-laptop {
    padding: 80px 40px 40px;
  }

  @include media-tablet {
    padding: 40px 16px;
  }

  width: 100%;
  max-width: 1440px;
  padding: 80px 120px 40px 120px;
}

.column-2 {
  @include media-laptop {
    flex-direction: column;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.column-3 {
  @include media-laptop {
    flex-direction: column;
    align-items: flex-start;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
