.rs-banner {
  width: 300px;
  height: 200px;
}

.course-wrap {
  display: flex;
  flex-direction: row;

  @include media-tablet-large {
    flex-direction: column;
    gap: 24px;
  }
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: space-between;

  width: 800px;

  @include media-tablet-large {
    width: 100%;
  }
}
