.about-course-grid {
  display: grid;
  grid-template-areas:
    'a a b'
    'c d e';
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 30px;

  margin-bottom: 16px;

  .grid-item {
    display: flex;
    flex-direction: column;
    gap: 18px;

    width: 100%;
    padding: 24px;
    border: 1px solid hsla(from $color-yellow h s l/ $opacity-8);
    border-radius: $border-radius-s;

    background-color: $color-yellow-50;

    .item-title {
      display: flex;
      gap: 16px;
      align-items: center;

      .grid-icon {
        width: auto;
        max-width: 50px;
        height: auto;
        max-height: 40px;
      }
    }

    &:nth-child(1) {
      grid-area: a;
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    &:nth-child(4) {
      grid-area: d;
    }

    &:nth-child(5) {
      grid-area: e;
    }
  }

  @include media-laptop {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include media-tablet {
    gap: 16px;
  }
}
