@import '../../constants';
@import '../../mixins';

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: 0.04em;
  color: $color-primary-black;
  text-align: left;
  @include media-tablet {
    font-size: 36px;
    line-height: 44px;
  }

  &.big {
    font-size: 52px;
    line-height: 64px;
    @include media-tablet {
      font-size: 36px;
      line-height: 44px;
    }
  }

  &.extra-big {
    font-size: 96px;
    line-height: 1.2em;
    font-weight: 700;
    @include media-laptop {
      font-size: 77px;
    }
    @include media-tablet {
      font-size: 61px;
    }
  }

  & .before {
    color: $color-secondary-red;
  }

  & .before {
    margin-right: 8px;
  }
}
