@import 'Styles/constants';
@import 'Styles/mixins';

.section-label {
  margin: 8px;

  font-size: 14px;
  font-weight: $font-weight-regular;
  line-height: 16px;
  color: $color-secondary-gray600;
  text-transform: uppercase;
  letter-spacing: 0;
}
