.date {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;

  margin: 0;

  font-size: $font-size-xs;
}

.icon {
  width: 24px;
  height: 24px;
}

.bold {
  font-weight: $font-weight-bold;
}
