.header {
  position: sticky;
  z-index: $z-index-max;
  top: 0;
  left: 0;
}

.navbar {
  width: 100%;
  height: 64px;
  padding: 0 40px;

  background-color: $color-white;
  box-shadow: $shadow-m;

  @include media-tablet-large {
    padding: 0 16px;
  }
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1440px;
  height: 100%;
  margin: 0 auto;

  @include media-desktop-wide {
    max-width: 1280px;
  }
}

.navbar-content > .menu {
  position: relative;

  display: flex;
  gap: $gap-xl;
  align-items: center;

  height: 100%;
  padding-inline-start: 0;

  @include media-tablet-large {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);

  overflow: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  height: min-content;
  min-height: 100dvh;
  max-height: 100dvh;
  margin-top: 0;
  padding: 8px 24px 28px 16px;

  color: $color-gray-900;

  opacity: 0;
  background-color: $color-white;

  transition: transform 0.4s ease-out;
}

.mobile-menu.open {
  transform: translateY(0);
  display: none;
  opacity: $opacity-100;

  @include media-tablet-large {
    display: block;
  }
}

.support-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;

  text-align: start;
}
