.main {
  width: 100%;
  display: block;
  background: #ffdb20;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 0px 0px 0px 0px;
  padding-top: 150px;
  padding-left: 5%;
  padding-right: 5%;
}

.title-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
}

.title {
  font-weight: bold;
  font-size: 60px;
  line-height: 1.4em;
  letter-spacing: 2.4px;
  color: #000000;
}

.title::after {
  content: '*';
  color: #d44333;
}

.title-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  font-weight: medium;
}

.connecting-people-growing-together-having-fun {
  font-size: 30px;
  letter-spacing: 2.4px;
  width: 575px;
  height: auto; /* 104px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
  color: #ffffff;
  line-height: 1.2;
}

.tag {
  box-sizing: border-box;
  flex-shrink: 0;
  width: min-content; /* 187px */
  height: min-content; /* 40px */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 16px 8px 16px;
  box-shadow: 0px 0px 16px 0px rgba(114, 92, 19, 0.08);
  overflow: visible;
  position: relative;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 0;
  border-radius: 24px;
  border: 2px solid #fffaf0;
}

.label {
  flex-shrink: 0;
  width: auto; /* 155px */
  height: auto; /* 24px */
  white-space: pre;
  position: relative;
  color: var(--Primary_White, #ffffff);
  line-height: 1.2;
}

.asterix {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: block;
  overflow: visible;
  position: relative;
  border-radius: 0px 0px 0px 0px;
}

.asterix_label {
  width: auto; /* 9px */
  height: auto; /* 19px */
  white-space: pre;
  font-weight: 500;
  font-style: normal;
  font-family: 'Inter-Medium', 'Inter', sans-serif;
  color: var(--Secondary_red, #d44333);
  font-size: 24px;
  letter-spacing: 0em;
  line-height: 24px;
  position: absolute;
}
