.stage-links {
  @include media-laptop {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;

  margin: 0;

  & > a {
    @extend %transition-all;

    color: $color-gray-600;
    text-decoration: underline;

    &.disabled {
      pointer-events: none;
      line-height: 1em;
      color: $color-gray-200;
      text-decoration: none;
    }

    &:hover {
      color: $color-gray-400;
    }
  }
}
