.rs-about {
  .content {
    > .column-2 {
      display: flex;
      gap: 120px;
      justify-content: flex-start;
      width: 100%;

      .card-wrapper {
        width: 380px;

        @include media-tablet {
          max-width: 100%;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        min-width: 300px;
      }
    }
  }
}
