.hero {
  min-height: 440px;
  background: url('../../../../shared/assets/mentorship-hero.webp') center / cover no-repeat;

  &-info {
    display: flex;
    flex-direction: column;

    width: fit-content;
    padding: 32px;

    text-align: left;

    background-color: hsla(from $color-white h s l/ $opacity-80);
    border-radius: 12px;

    .title-main {
      @include media-tablet {
        font-size: 80px;
      }

      @include media-mobile-landscape {
        font-size: 40px;
      }
    }
  }
}
