.feature-item {
  display: flex;
  flex-direction: column;
  gap: $gap-s;

  width: 100%;
  padding: 24px;
  border: 1px solid hsla(from $color-yellow h s l/ $opacity-8);
  border-radius: $border-radius-s;

  background-color: $color-yellow-50;

  .item-title {
    display: flex;
    gap: $gap-s;
    align-items: center;

    .item-icon {
      width: auto;
      max-width: 50px;
      height: auto;
      max-height: 40px;
    }
  }

  &:nth-child(1) {
    grid-area: a;
  }

  &:nth-child(2) {
    grid-area: b;
  }

  &:nth-child(3) {
    grid-area: c;
  }

  &:nth-child(4) {
    grid-area: d;
  }

  &:nth-child(5) {
    grid-area: e;
  }
}
