@import '../../constants';
@import '../../placeholders';
@import '../../mixins';

.button-outlined {
  margin: 24px 0;
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: $font-weight-medium;
  color: $color-primary-black;
  border: 2px solid currentColor;
  @extend %transition-all;

  & .arrow {
    margin-left: 8px;
  }

  @include media-hover {
    &:hover {
      background-color: $color-secondary-gray100;
    }
  }
}
