@import '../../constants';
@import '../../mixins';

.about {
  &.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &.content {
    width: 1440px;
    padding: 80px 120px 40px 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include media-laptop {
      padding: 80px 40px 40px;
      flex-direction: column;
      max-width: 1440px;
      width: auto;
    }
    @include media-tablet {
      padding: 40px 16px;
    }
  }

  & .left {
    min-width: 640px;
    text-align: left;
    margin-right: 200px;
    @include media-laptop {
      min-width: 400px;
      margin-right: 20px;
    }
    @include media-tablet {
      min-width: auto;
    }
    & .subtitle {
      margin: 16px 0;
    }
  }

  .picture {
    width: 370px;
    height: 340px;
    @include media-laptop {
      margin-top: 32px;
    }
    @include media-tablet {
      width: 296px;
      height: 272px;
      margin: 32px 0;
    }
  }
}
