.social-media {
  $transition-social: all 0.4s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: $gap-xs;
  align-items: center;
  justify-content: center;

  width: 112px;
  margin-top: 36px;

  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  line-height: 16px;
  color: $color-gray-900;
  text-align: center;
  text-decoration: none;

  &.inline {
    display: inline-flex;
  }

  .media-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 56px;
    height: 56px;
    border-radius: $border-radius-round;

    background-color: $color-gray-200;

    transition: $transition-social;

    > img {
      transition: $transition-social;
    }
  }

  @include media-hover {
    &:hover {
      color: $color-gray-900;

      .media-icon {
        background-color: $color-gray-600;

        > img {
          filter: invert(100%);
        }
      }
    }
  }

  @include media-tablet {
    font-size: $font-size-xxs;
    line-height: 16px;
  }
}
