.info-wrapper {
  h2,
  p {
    width: 640px;

    @include media-tablet {
      width: 100%;
    }
  }

  p {
    margin-top: 16px;
  }
}

.alumni {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 48px;
  place-items: center;

  margin-top: 40px;
  margin-bottom: 48px;

  @include media-laptop {
    .logo-container {
      grid-column: span 3;
    }

    .logo-container:nth-child(n + 13) {
      display: none;
    }
  }

  @include media-tablet {
    .logo-container {
      grid-column: span 6;
    }

    .logo-container:nth-child(n + 7) {
      display: none;
    }
  }

  @include media-mobile {
    .logo-container {
      grid-column: span 12;
    }
  }
}

.logo-container {
  display: block;
  grid-column: span 2;
}

.logo {
  width: 141px;
  height: 40px;
}
