h2,
p {
  width: 640px;

  @include media-tablet {
    width: 100%;
  }
}

p {
  margin-top: 16px;
}

.alumni {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  margin-top: 40px;
}

.logo-container {
  display: flex;
  flex-basis: 16.5%;
  align-items: center;
  justify-content: center;

  margin-bottom: 48px;

  @include media-laptop {
    flex-basis: 25%;
  }

  @include media-tablet {
    flex-basis: 50%;
  }
}

.logo {
  width: 141px;
  height: 40px;
}
