.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;

  &.margin {
    margin: 16px 0 40px;
  }
}

.date,
.additional-info {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;

  margin: 0;

  color: $color-gray-600;
}

.bold {
  font-weight: 700;
}

.icon {
  width: 24px;
  height: 24px;
}

.mode {
  text-transform: capitalize;
}
