.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;

  &.margin {
    margin: 16px 0 40px;
  }
}

.date,
.additional-info {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;

  margin: 0;

  font-size: 14px;
  color: $color-gray-600;
}

.icon {
  width: 16px;
}

.language {
  text-transform: uppercase;
}

.mode {
  text-transform: capitalize;
}
