.widget-title {
  font-weight: $font-weight-bold;
  color: $color-gray-900;
  letter-spacing: -0.04em;

  &::before {
    margin-right: 8px;
    color: $color-red;
  }
}

.small {
  padding-bottom: 24px;
  font-size: $font-size-2m;
  line-height: 44px;
  letter-spacing: 0;
}

.medium {
  padding-bottom: 20px;
  font-size: $font-size-2xl;
  line-height: 52px;

  @include media-tablet {
    padding-bottom: 16px;
    font-size: $font-size-2m;
    line-height: 44px;
  }
}

.large {
  padding-bottom: 24px;
  font-size: $font-size-2xl;
  line-height: 64px;

  @include media-tablet {
    padding-bottom: 16px;
    font-size: $font-size-2m;
    line-height: 44px;
  }
}

.smallest {
  padding-bottom: 0;
  font-size: $font-size-2xs;
  font-weight: $font-weight-medium;
  line-height: 36px;
}

.lines:not(.smallest)::before {
  content: '‖';
}

.asterisk:not(.smallest)::before {
  content: '*';
}
