.stage-step {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  align-self: stretch;

  height: auto;
}

.stage-number {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  font-size: 24px;
  line-height: 32px;

  background-color: #fffaf0;
  border: 1px solid #fff2d9;
  border-radius: 50%;

  @include media-tablet {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}

.stage-line {
  width: 2px;
  height: calc(100% - 80px - 10px);
  background-color: $color-gray-400;

  @include media-tablet {
    height: calc(100% - 40px - 10px);
  }
}

.stage:last-child .stage-step .stage-line {
  display: none;
}
