@import 'Styles/constants';
@import 'Styles/mixins';

.contribute {
  &.content {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include media-laptop {
      flex-direction: column;
      align-items: center;
    }

    & .general {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      @include media-laptop {
        flex-direction: column;
        align-items: center;
      }
    }

    & .info {
      width: 640px;
      text-align: left;

      @include media-laptop {
        width: 100%;
      }

      & .subtitle,
      & .paragraph {
        margin-top: 16px;
      }
    }

    & .picture {
      width: 358px;
      height: 358px;

      @include media-laptop {
        margin-top: 16px;
      }

      @include media-mobile {
        width: 100%;
        height: auto;
      }
    }

    & .contribute-options {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;
      @include media-laptop {
        flex-direction: column;
        align-items: flex-start;
      }

      & .option {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $color-secondary-gray600;
        @include media-laptop {
          max-width: 600px;
          margin-top: 24px;
        }
        @include media-tablet {
          max-width: 100%;
        }
      }

      & .option-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0;
        @include media-tablet {
          font-size: 24px;
          line-height: 32px;
        }
      }

      & .option-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0;
        margin-top: 16px;
        text-align: left;
        @include media-tablet {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    & .paragraph {
      width: 100%;
    }
  }
}
