.social-media {
  $transition-social: all 0.4s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 112px;
  margin-top: 36px;

  font-size: 14px;
  font-weight: $font-weight-medium;
  line-height: 16px;
  color: $color-gray-600;
  text-align: center;
  text-decoration: none;

  figure {
    display: flex;
    background-color: $color-gray-200;
    border-radius: 50%;
    transition: $transition-social;

    > img {
      width: 56px;
      height: 56px;
      transition: $transition-social;
    }
  }

  @include media-hover {
    &:hover {
      color: $color-black;

      figure {
        background-color: $color-gray-600;

        > img {
          filter: invert(100%);
        }
      }
    }
  }

  @include media-tablet {
    font-size: 12px;
    line-height: 16px;
  }
}
