.mentors-wanted {
  background-color: $color-yellow-50;

  &-content {
    align-items: flex-start;

    .content-left {
      display: flex;
      flex-direction: column;
      max-width: 50%;

      @include media-tablet {
        max-width: 100%;
      }
    }

    .sloth-mascot {
      align-self: center;

      width: auto;
      max-width: 290px;
      height: auto;

      object-fit: contain;
    }

    @include media-tablet {
      gap: $gap-xxl;
    }
  }
}
