.footer {
  background-color: $color-primary-black;

  &.content {
    padding: 40px 120px;

    @include media-laptop {
      padding: 40px;
    }

    @include media-tablet {
      padding: 40px 16px;
    }

    & .desktop-view {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 75px;

      & .left {
        display: flex;
        gap: 167px;
      }

      @include media-laptop-medium {
        gap: 50px;

        & .left {
          gap: 50px;
        }
      }

      @include media-tablet-large {
        flex-direction: column;

        & .left {
          max-width: 430px;
          width: 100%;
          justify-content: space-between;
        }
      }

      // AboutList component styles
      .about-list {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-start;
        gap: 24px;
        font-size: 18px;
        font-weight: $font-weight-medium;
        line-height: 24px;
        letter-spacing: 0px;
        color: $color-secondary-gray100;

        .about-links {
          list-style-type: none;

          & li:not(:last-child) {
            margin-bottom: 24px;
          }

          a {
            color: currentColor;
            @extend %transition-all;

            &:hover {
              color: $color-secondary-gray400;
            }
          }
        }
      }
    }

    .copyright {
      margin-top: 64px;
      color: $color-primary-white;
      line-height: 24px;
    }
  }
}
