.filter-catalog {
  display: flex;
  gap: 30px;

  @media (width <= 960px) {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    width: 100%;
  }
}

.filter-sidebar {
  display: block;
  width: 222px;

  @media (width <= 960px) {
    width: 100%;
  }
}
