@import '../../constants';
@import '../../mixins';

.principle-card {
  position: relative;
  width: 380px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 36px 24px 24px;
  background-color: #fffaf0;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 12px;
  border: 1px solid rgba(255, 219, 32, 0.08);
  cursor: pointer;
  color: $color-secondary-gray600;
  @include media-laptop {
    width: 100%;
    height: auto;
  }

  &:hover {
    padding: 24px 24px 24px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.14);
  }

  & .accent {
    flex-shrink: 0;
    width: 20px;
    height: 19px;
    display: block;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    background-color: $color-accent-yellow;
    z-index: 1;
    position: absolute;
    border-radius: 100%;
  }

  & .card-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
    margin-top: 16px;
    text-align: center;
    @include media-tablet {
      font-size: 24px;
      line-height: 32px;
    }
  }

  & .card-description {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    margin-top: 16px;
    text-align: left;
    @include media-tablet {
      font-size: 16px;
      line-height: 24px;
    }
  }

  & > svg {
    display: block;
  }
}

.accent-corner {
  flex-shrink: 0;
  width: 310px;
  height: 300px;
  display: block;
  -webkit-filter: blur(32px);
  filter: blur(32px);
  background-color: rgba(255, 219, 32, 0.2);
  z-index: 1;
  position: absolute;
  right: -160px;
  bottom: -150px;
  border-radius: 100%;
}
