.mentors-docs {
  background-color: $color-yellow-50;
}

.docs-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.docs {
  display: flex;
  flex-direction: column;
  gap: 40px;

  max-width: 45%;

  text-align: left;
}

.picture-wrapper {
  align-self: center;
  max-width: 290px;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
