.docs-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
  }
}

.docs {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  text-align: left;

  @include media-tablet {
    max-width: unset;
  }
}

.title {
  font-size: 36px;
  letter-spacing: 0;

  @include media-laptop {
    font-size: 29px;
    line-height: 44px;
  }
}

.picture-wrapper {
  align-self: center;
  max-width: 290px;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
