.mentors-docs {
  background-color: $color-yellow-50;
}

.docs-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.title {
  font-size: 36px;
  letter-spacing: 0;

  @include media-laptop {
    font-size: 29px;
    line-height: 44px;
  }

  @include media-tablet {
    font-size: 23px;
  }
}

.docs {
  display: flex;
  flex-direction: column;
  gap: 40px;

  max-width: 45%;

  text-align: left;
}

.additional {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.social-media {
  display: flex;
}

.picture-wrapper {
  align-self: center;
  max-width: 290px;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
