.mentorship-benefits {
  display: grid;
  grid-template-areas:
    'top-left top-center top-right'
    'bottom-left bottom-left bottom-right';
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  margin-top: 24px;

  .benefit-item {
    padding: 24px;

    font-size: 18px;
    line-height: 28px;
    color: $color-gray-600;

    background-color: $color-yellow-50;
    border: 1px solid rgb(255 219 32 / #{$opacity-8});
    border-radius: 12px;

    &:nth-child(1) {
      grid-area: top-left;
    }

    &:nth-child(2) {
      grid-area: top-center;
    }

    &:nth-child(3) {
      grid-area: top-right;
    }

    &:nth-child(4) {
      grid-area: bottom-left;
    }
  }

  @include media-laptop {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include media-tablet {
    gap: 16px;
  }
}
