@import '../../../../constants';
@import '../../../../mixins';

.places {
  white-space: nowrap;
  @include media-tablet {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &.content {
    padding: 0;
    border-style: solid;
    padding: 5px 20px;
    border-color: $color-secondary-gray600;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
  }

  & .place-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    color: $color-primary-black;
  }

  & .place {
    display: inline-block;
    padding: 0 16px;
  }

  & .divider {
    display: inline-block;
    font-size: 36px;
    height: 12px;
    color: $color-secondary-red;
  }
}
