.mentorship-courses {
  display: flex;
  flex-direction: column;

  .courses-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-xl;

    .mentorship-course-card {
      width: 100%;
    }

    @include media-tablet-large {
      grid-template-columns: 1fr;
    }
  }
}
