@import 'Styles/constants';
@import 'Styles/mixins';
@import 'Styles/placeholders';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 16px 24px;
  width: min-content;
  height: min-content;
  background-color: #000000;
  overflow: visible;
  @extend %transition-all;

  & .arrow {
    position: relative;
    top: 2px;
    margin-left: 8px;
  }

  @include media-tablet {
    width: 100%;
  }

  @include media-hover {
    &:hover {
      background-color: #545454;
    }
  }

  & #btn-arrow {
    stroke: white;
    stroke-width: 2;
  }

  & .label {
    flex-shrink: 0;
    width: auto;
    height: auto;
    text-align: center;
    white-space: pre;
    font-size: 18px;
    letter-spacing: 0em;
    font-weight: $font-weight-medium;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    color: #ffffff;
  }
}
