@import 'Styles/constants';
@import 'Styles/mixins';
@import 'Styles/placeholders';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %transition-all;

  &.outlined {
    padding: 10px 24px;
    margin: 24px 0;
    width: max-content;
    font-size: 18px;
    font-weight: $font-weight-medium;
    color: $color-primary-black;
    border: 2px solid currentColor;

    @include media-hover {
      &:hover {
        background-color: $color-secondary-gray100;
      }
    }
  }

  &.colored {
    width: min-content;
    padding: 16px 24px;
    background-color: $color-primary-black;

    @include media-tablet {
      width: 100%;
    }

    @include media-hover {
      &:hover {
        background-color: $color-secondary-gray600;
      }
    }

    & #btn-arrow {
      stroke: $color-primary-white;
      stroke-width: 2;
    }

    & .label {
      text-align: center;
      white-space: pre;
      font-size: 18px;
      letter-spacing: 0em;
      font-weight: $font-weight-medium;
      font-family: $font-primary;
      line-height: 24px;
      color: $color-primary-white;
    }
  }

  & .arrow {
    position: relative;
    top: 2px;
    margin-left: 8px;
  }
}
