.button {
  @extend %transition-all;

  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  place-content: center center;
  align-items: center;

  & .arrow {
    max-height: 24px;
  }
}

.colored {
  &.large {
    @include media-tablet {
      width: 100%;
    }

    @include media-hover {
      &:hover {
        background-color: #545454;
      }
    }

    overflow: visible;

    width: min-content;
    height: min-content; /* 56px */
    margin-top: 24px;
    padding: 16px 24px;

    background-color: $color-primary-black;
    border-radius: 0;

    & .label {
      font-family: $font-primary;
      font-size: 18px;
      font-weight: $font-weight-medium;
      line-height: 24px;
      color: $color-primary-white;
      text-align: center;
      letter-spacing: 0;
      white-space: pre;
    }
  }

  &.small {
    @include media-tablet {
      gap: 0;

      &.regular {
        margin-right: 8px;
      }
    }

    @include media-hover {
      &:hover {
        background-color: rgb(84 84 84 / 40%);
      }
    }

    overflow: hidden;

    width: min-content;
    height: 36px;
    padding: 10px 12px;

    background-color: #eee;
    border-radius: 9999px;

    & .label {
      font-family: Inter-Medium, Inter, sans-serif;
      font-size: 14px;
      font-weight: $font-weight-medium;
      line-height: 16px;
      color: $color-primary-black;
      text-align: center;
      letter-spacing: 0;
      white-space: pre;

      &.regular {
        font-weight: $font-weight-regular;
      }
    }

    &.without-arrow {
      margin-top: 32px;
    }
  }
}

.outlined {
  margin: 24px 0;
  font-weight: $font-weight-medium;
  color: $color-primary-black;

  &.large {
    @include media-hover {
      &:hover {
        background-color: $color-secondary-gray100;
      }
    }

    justify-content: flex-start;

    width: max-content;
    padding: 12px 24px;

    font-size: 18px;

    border: 2px solid $color-primary-black;
  }

  &.medium {
    @include media-mobile-landscape {
      justify-content: center;
      width: 100%;
    }

    @include media-hover {
      &:hover {
        background-color: $color-secondary-gray200;
      }
    }

    place-content: flex-start flex-start;
    align-items: flex-start;

    width: 240px;
    padding: 8px 24px;

    font-family: $font-primary;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    white-space: pre;

    border: 2px solid;
    border-radius: 0;
  }
}
