.button {
  @extend %transition-all;

  @include media-tablet {
    width: 100%;
  }

  @include media-hover {
    &:hover {
      background-color: #545454;
    }
  }

  position: relative;

  overflow: visible;
  display: flex;
  flex-flow: row nowrap;
  place-content: center center;
  align-items: center;

  width: min-content;
  height: min-content; /* 56px */
  padding: 16px 24px 16px 24px;

  background-color: #000;
  border-radius: 0;

  & .label {
    position: relative;

    flex-shrink: 0;

    width: auto; /* 138px */
    height: auto; /* 24px */

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: $font-weight-medium;
    font-style: normal;
    line-height: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: 0;
    white-space: pre;

    & ~ .material-symbols-outlined.arrow {
      margin-left: 8px;
      color: $color-primary-white;
    }
  }
}
