.details-container {
  background: linear-gradient(90deg, $color-mentorship-100, $color-mentorship-200);

  .details-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;

    .details-info {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: stretch;

      article {
        padding: 8px 0;

        @include media-laptop {
          padding: 8px 40px;
        }

        @include media-tablet {
          padding: 8px 0;
        }
      }

      & > :last-child article {
        max-width: fit-content;

        @include media-laptop {
          max-width: 220px;
        }
      }

      & > *:not(:last-child) {
        border-right: 1px solid $color-black;
      }

      .details-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        &:first-child {
          justify-content: flex-start;

          @include media-laptop {
            justify-content: center;
          }
        }

        &:last-child {
          justify-content: flex-end;

          @include media-laptop {
            justify-content: center;
          }
        }
      }

      @include media-tablet-large {
        grid-auto-flow: row;
        gap: 24px;

        :nth-child(n + 3) {
          grid-row: 2 / 3;
        }

        :nth-child(2) {
          border-right: none;
        }
      }

      @include media-mobile {
        padding: 0;
      }
    }
  }
}
