.details-container {
  background: linear-gradient(90deg, $color-blue-100, $color-blue-200);

  .details-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }
}
