.search {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.results {
  a {
    color: $color-gray-900;
  }
}

.no-results {
  margin-top: 20px;
}

.subresults {
  margin-top: 10px;
  padding-left: 15px;
  border-left: 2px solid #ccc;
}

.subresult {
  margin-bottom: 5px;
}

.subresult h4 {
  margin: 0;
}

.subresult p {
  font-size: $font-size-xs;
}
