.search {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.search-input {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  border: 1px solid $color-gray-400;
  border-radius: 5px;

  outline-offset: -2px;

  &:focus {
    outline: 2px solid $color-blue-500;
  }
}

.results {
  margin-top: 10px;

  a {
    color: $color-gray-900;
  }
}

.no-results {
  margin-top: 20px;
}

.subresults {
  margin-top: 10px;
  padding-left: 15px;
  border-left: 2px solid #ccc;
}

.subresult {
  margin-bottom: 5px;
}

.subresult h4 {
  margin: 0;
}

.subresult p {
  font-size: 14px;
}
