@import 'Styles/constants';
@import 'Styles/mixins';

.alumni {
  &.content {
    & .title,
    & .paragraph {
      width: 640px;

      @include media-tablet {
        width: 100%;
      }
    }

    & .paragraph {
      margin-top: 16px;
    }

    & .alumni {
      margin-top: 40px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
    }

    & .alumni-logo-container {
      flex-basis: 16.5%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 48px;

      @include media-laptop {
        flex-basis: 25%;
      }

      @include media-tablet {
        flex-basis: 50%;
      }
    }

    & .alumni-logo {
      width: 141px;
      height: 40px;
    }
  }
}
