.support-container {
  background-color: $color-gray-100;

  .support-content {
    gap: $gap-xxxl;

    .support-info {
      width: 640px;
      font-weight: $font-weight-medium;
      color: $color-gray-900;
      text-align: left;

      @include media-laptop {
        width: 100%;
      }
    }

    .sloth-mascot {
      width: 348px;
      height: 288px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include media-laptop {
        width: 300px;
        height: auto;
        object-fit: contain;
      }

      @include media-tablet {
        width: 280px;
      }
    }

    .donate-options {
      display: flex;
      flex-wrap: wrap;
      gap: $gap-s;
      justify-content: space-between;

      margin-top: 24px;

      .donate-item {
        display: flex;
        flex-direction: column;
        gap: $gap-l;

        @include media-tablet {
          gap: $gap-s;
        }
      }

      @include media-tablet {
        flex-direction: column;
      }
    }

    @include media-tablet-large {
      gap: $gap-xxl;
    }
  }
}
