.stage-topics {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: flex-start;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
  list-style-type: none;

  @include media-tablet {
    font-size: 16px;
  }
}

.topics-item {
  margin: 0;
}

.topics-item:not(:last-child)::after {
  content: ',';
  margin-right: 6px;
}
