@import '../../../../constants';
@import '../../../../mixins';

.alumni {
  &.content {
    & .title,
    & .paragraph {
      width: 640px;
      @include media-tablet {
        width: 100%;
      }
    }

    & .paragraph {
      margin-top: 16px;
    }

    & .alumni {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    & .alumni-logo {
      width: 141px;
      height: 40px;
      margin-right: 35px;
      margin-bottom: 48px;
    }
  }
}
