.info-cell {
  display: flex;
  justify-content: center;
  width: 100%;

  .with-gap {
    gap: 16px;
  }

  .large-card-size {
    width: 240px;

    @include media-laptop {
      max-width: 220px;
    }

    @include media-laptop-medium {
      max-width: 180px;
    }

    @include media-tablet-large {
      max-width: 150px;
    }

    @include media-tablet {
      width: 150px;
    }
  }

  .medium-card-size {
    width: 160px;

    @include media-laptop {
      max-width: 120px;
    }
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      margin: 0;
      padding: 0;
      letter-spacing: 0.04em;

      &.medium-font-size {
        font-size: $font-size-h1;
        font-weight: $font-weight-bold;
        line-height: 46px;

        @include media-laptop {
          font-size: $font-size-h3;
          line-height: 34px;
        }
      }

      &.large-font-size {
        font-size: $font-size-hero-xl;
        font-weight: $font-weight-medium;
        line-height: 64px;

        @include media-laptop {
          font-size: $font-size-hero-lg;
          line-height: 52px;
        }
      }
    }

    .description {
      height: 56px;
      margin: 0;
      font-size: $font-size-md;
      font-weight: $font-weight-regular;
    }
  }
}
