.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: $font-size-m;
  line-height: 28px;
  letter-spacing: 0.5px;
  list-style-type: none;

  &.compact {
    gap: 0;
    letter-spacing: 0;

    @include media-laptop {
      font-size: $font-size-s;
      line-height: 24px;
    }
  }

  &.marked {
    list-style-type: disc;
  }

  @include media-tablet-large {
    font-size: $font-size-s;
  }
}
