.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: 18px;
  line-height: 28px;
  color: $color-gray-600;
  letter-spacing: 0.5px;
  list-style-type: none;

  .marked {
    list-style-type: disc;
  }

  @include media-tablet-large {
    font-size: 16px;
  }
}
