.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  background-color: rgba(95, 44, 20, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.3s;
}

.navbar:hover {
  background-color: rgba(95, 44, 20, 0.2);
}

.columns {
  display: flex;
  align-items: center;
}

.r-s-logo {
  width: 56px;
  height: 56px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-ellipse {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.menu {
  display: flex;
  gap: 16px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 14px 14px 14px;
}

.label {
  white-space: nowrap;
  font-weight: 500;
  font-style: normal;
  font-family: 'Inter-Medium', 'Inter', sans-serif;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 809px) {
  .menu-item {
    display: none;
  }
}
