@import '../../mixins';

.navbar {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.3s;
  border-radius: 0;

  &.gray {
    background-color: rgba(95, 44, 20, 0.1);
    &:hover {
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
      background-color: rgba(95, 44, 20, 0.2);
    }
  }

  &.none {
    display: none;
  }
  &.white {
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.082) 0px 1.02604px 8.06943px 0px;
    opacity: 1;
    &:hover {
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
    }
  }
}

.logo-container {
  width: 56px;
  height: 56px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  display: flex;
  align-items: center;
  position: relative;
}

.menu.open {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffdb20;
}

.menu-item {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 14px 14px 14px 14px;
  cursor: pointer;
  &:hover {
    border-color: #000000;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
  }

  & .label {
    white-space: nowrap;
    font-weight: 500;
    font-style: normal;
    font-family: 'Inter-Medium', 'Inter', sans-serif;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 20px;
    text-align: center;
    &:hover {
      font-weight: 600;
      font-family: 'Inter-SemiBold', 'Inter', sans-serif;
      color: #000000;
    }
  }
}

.burger {
  width: 32px;
  height: 32px;
  display: none;
  overflow: hidden;
  position: relative;
  border-radius: 0px 0px 0px 0px;
  cursor: pointer;
  transition: 0.4s;
}

.burger.open {
  display: block;
}

.top,
.mid,
.bottom {
  width: 24px;
  height: 2px;
  display: block;
  background-color: #888888;
  overflow: hidden;
  position: absolute;
  border-radius: 0px 0px 0px 0px;
  &:hover {
    height: 3px;
  }
}

.top {
  top: 7px;
  left: 4px;
}

.mid {
  left: 4px;
  top: 15px;
}

.bottom {
  left: 4px;
  top: 23px;
}

.burger.open .top {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.open .mid {
  opacity: 0;
}

.burger.open .bottom {
  transform: rotate(45deg) translate(-5px, -6px);
}

@include media-tablet {
  .menu {
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-item {
    display: none;
  }
  .menu.open .menu-item {
    display: block;
  }
  .burger {
    display: block;
  }
}
