.breadcrumbs-content {
  ul {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    list-style: none;
  }

  .separator {
    padding: 0 8px;
  }

  .link {
    @extend %transition-all;

    color: $color-gray-500;

    &.disabled {
      color: $color-gray-600;
      text-decoration: underline;
    }

    &:hover {
      color: $color-gray-600;
    }
  }

  @include media-laptop {
    padding: 24px 40px;
  }

  @include media-tablet {
    padding: 24px;
  }
}

.mobile-breadcrumbs.breadcrumbs-content {
  @include media-tablet-large {
    width: 100%;
    padding: 6px;
    padding-left: 0;
  }
}
