.subtitle {
  margin: 0;
  color: $color-gray-900;

  &.font-size {
    &-extra-small {
      font-size: $font-size-l;
      line-height: 28px;

      @include media-tablet {
        font-size: $font-size-m;
        line-height: 24px;
      }
    }

    &-small {
      font-size: $font-size-xl;
      line-height: 32px;

      @include media-tablet {
        font-size: $font-size-l;
        line-height: 28px;
      }
    }

    &-medium {
      font-size: $font-size-2xl;
      line-height: 36px;

      @include media-tablet {
        font-size: $font-size-xl;
        line-height: 32px;
      }
    }

    &-large {
      font-size: $font-size-3xl;
      line-height: 40px;

      @include media-tablet {
        font-size: $font-size-2xl;
        line-height: 36px;
      }
    }

    &-extra-large {
      font-size: $font-size-4xl;
      line-height: 44px;

      @include media-tablet {
        font-size: $font-size-3xl;
        line-height: 36px;
      }
    }
  }

  &.font-weight {
    &-light {
      font-weight: $font-weight-light;
    }

    &-regular {
      font-weight: $font-weight-regular;
    }

    &-medium {
      font-weight: $font-weight-medium;
    }

    &-bold {
      font-weight: $font-weight-bold;
    }
  }
}
