@import 'Styles/mixins';
@import 'Styles/constants';
@import 'Styles/placeholders';

.study-path {
  &.content {
    @include media-laptop {
      padding: 40px;
    }

    @include media-laptop {
      width: 100%;
    }

    @include media-tablet {
      justify-content: flex-start;
      padding: 40px 16px;
    }

    padding: 40px 120px;

    & > .title {
      @include media-tablet {
        font-size: 28px;
        line-height: 36px;
      }

      margin-bottom: 10px;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -0.02em;
    }

    & > .paragraph {
      @include media-tablet {
        font-size: 16px;
        line-height: 24px;
      }

      max-width: 600px;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
