@import '../../constants';
@import '../../mixins';

.school {
  &.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &.content {
    width: 1440px;
    padding: 80px 40px 40px;
    @include media-laptop {
      padding: 80px 40px 40px;
      max-width: 1440px;
      width: auto;
    }
    @include media-tablet {
      padding: 40px 16px;
    }
  }

  & .study {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    @include media-laptop {
      flex-direction: column;
    }

    & .left {
      text-align: left;
      width: 640px;
      @include media-laptop {
        width: 100%;
      }
    }

    & .right {
      @include media-laptop {
        margin: 40px auto 0;
      }
    }

    & .picture {
      width: 347px;
      height: 327px;
      @include media-tablet {
        width: 278px;
        height: auto;
      }
    }

    & .title,
    & .subtitle,
    & .paragraph {
      margin-top: 16px;
    }
  }

  & .study-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    @include media-laptop {
      flex-direction: column;
    }

    & .option {
      max-width: 380px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $color-secondary-gray600;
      @include media-laptop {
        max-width: 600px;
        margin-top: 24px;
      }
      @include media-tablet {
        max-width: 100%;
      }
    }

    & .option-title {
      font-weight: 500;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0;
      @include media-tablet {
        font-size: 24px;
        line-height: 32px;
      }
    }

    & .option-description {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0;
      margin-top: 16px;
      text-align: left;
      @include media-tablet {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
