.mentor-activities {
  .activity-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-xl;

    @include media-tablet {
      grid-template-columns: 1fr;
    }

    @include media-tablet {
      gap: $gap-s;
    }
  }
}
