.menu {
  position: sticky;
  top: 100px;

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
    font-size: 14px;
    margin-left: 0.75rem;
    padding-left: 0.75rem;
    gap: 0.25rem;

    li {
      a {
        display: block;
        text-decoration: none;
        color: rgb(107 114 128 / 1);
        transition: color 0.2s;
        padding: 6px 8px;

        &.active {
          font-weight: bold;
          color: rgb(0, 76, 163);
          background-color: hsl(212deg 100% calc(45% + 49%) / 1);
        }

        &:hover {
        }
      }
    }

    span {
      display: block;
      padding: 6px 8px;
      margin-top: 1.25rem;
    }
  }
}
