.course-title {
  margin-top: 24px;
}

.image {
  img {
    width: 299px;
    height: 193px;
  }

  @include media-laptop {
    margin-top: 24px;
  }
}

.course-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 800px;

  .course-card {
    @extend %transition-all;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-top: 24px;

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;

      img {
        width: 48px;
        height: 36px;
        object-fit: contain;
      }
    }

    .course-info {
      width: 100%;
      text-align: left;

      .name {
        margin-top: 0;
        margin-bottom: 0;

        font-size: 18px;
        font-weight: $font-weight-medium;
        line-height: 24px;
        color: $color-black;
      }

      .date {
        margin-top: 8px;
        margin-bottom: 0;

        font-size: 14px;
        line-height: 20px;
        color: $color-gray-600;
      }
    }

    .details-container {
      padding: 16px;
    }

    @include media-hover {
      &:hover {
        box-shadow: 0 4px 16px 0 rgb(0 0 0 / 12%);
      }
    }
  }

  @include media-laptop {
    width: 100%;
  }
}
