.course-title {
  margin-top: 24px;
}

.image {
  img {
    width: 299px;
    height: 193px;
  }

  @include media-laptop {
    margin-top: 24px;
  }
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: space-between;

  width: 800px;

  @include media-laptop {
    width: 100%;
  }
}
