.partnered {
  &.content {
    display: flex;
    flex-direction: column;

    & .title {
      font-size: $font-size-xxl;
      font-weight: $font-weight-medium;
      line-height: 44px;
      color: $color-black;
      letter-spacing: 0;
    }

    & .partners {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      align-self: center;
      justify-content: space-between;

      width: 100%;
      max-width: 500px;
      padding: 16px;

      .partner-logo-container {
        display: flex;
        flex-basis: 20%;
        align-items: center;
        justify-content: center;

        @include media-tablet {
          flex-basis: 50%;
        }
      }

      @include media-tablet {
        row-gap: $gap-s;
        padding: 16px 0;
      }
    }
  }
}
