.activity-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 624px;
  padding: 32px;
  border: 1px solid hsla(from $color-yellow h s l / $opacity-8);
  border-radius: 12px;

  box-shadow: 0 4px 8px 0 hsla(from $color-black h s l / $opacity-10);

  .card-description {
    padding-bottom: 0;
  }

  .icon {
    position: relative;

    img {
      width: 38px;
      height: 38px;
    }

    &-accent {
      position: absolute;
      top: 6px;
      left: 12px;

      width: 20px;
      height: 20px;
      border-radius: 100%;

      background: $color-blue-background-100;
      filter: blur(8px);
    }
  }

  .gray-link {
    color: $color-gray-600;
  }

  @include media-tablet {
    max-width: 100%;
  }

  @include media-laptop {
    width: 100%;
    padding: 24px;
  }
}
