.partnered {
  &.content {
    display: flex;
    flex-direction: column;

    & .title {
      font-size: 36px;
      font-weight: $font-weight-medium;
      line-height: 44px;
      color: $color-primary-black;
      letter-spacing: 0;
    }

    & .partners {
      @include media-tablet {
        flex-direction: column;
        width: 100%;

        & > img {
          margin-top: 24px;
        }
      }

      overflow: hidden;
      display: flex;
      flex-flow: row nowrap;
      place-content: center space-between;
      align-items: center;
      align-self: center;

      width: 500px;
      height: min-content;
      padding: 16px 16px 16px 16px;
    }
  }
}
