.event-card {
  @extend %transition-all;

  @include media-hover {
    &:hover {
      box-shadow: 0 4px 16px 0 rgb(0 0 0 / 14%);
    }
  }

  @include media-mobile {
    width: 100%;
  }

  width: 320px;
  padding: 0;
  border-radius: 12px;

  &__header {
    position: relative;

    overflow: hidden;

    height: 304px;
    padding: 32px 24px 24px 24px;

    background-color: #f4f1fa;
    border: solid #e2e2e2;
    border-width: 1px 1px 0 1px;
    border-radius: 12px 12px 0 0;

    &::after {
      @extend %transition-all;

      @include card-corner-accent;
    }

    .event-tag {
      display: flex;
      align-items: center;
      justify-content: center;

      width: fit-content;
      min-width: 124px;
      height: 36px;

      font-size: 16px;
      font-weight: $font-weight-regular;
      line-height: 1.2;
      color: $color-secondary-gray600;

      background-color: rgb(255 255 255 / 5%);
      border: 4px solid #cdbaeb;
      border-radius: 36px;
    }

    .about-organization {
      margin-top: 32px;

      .organized-by {
        margin-bottom: 0;
        font-weight: normal;
        color: $color-primary-black;
      }

      .event-organization {
        margin-top: 10px;
        font-size: 20px;
        font-weight: $font-weight-medium;
        color: $color-primary-black;
      }
    }

    .about-event {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 112px;

      .event-title {
        @include media-mobile {
          width: 100%;
        }

        height: auto;
        margin-top: 16px;
        margin-bottom: 0;

        font-weight: $font-weight-medium;
        line-height: 32px;
        color: $color-primary-black;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: pre-line;
      }

      .event-additional-info {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;

        max-height: 40px;
        margin-top: 0;
        margin-bottom: 8px;

        font-size: 16px;
        text-overflow: ellipsis;

        -webkit-line-clamp: 2;
      }
    }
  }

  &__info {
    @include media-mobile {
      width: 100%;
    }

    position: relative;

    display: flex;
    flex-flow: column nowrap;
    place-content: flex-start flex-start;
    align-items: flex-start;

    height: 192px;
    padding: 24px;

    background-color: #fefefe;
    border: solid #e2e2e2;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 12px 12px;

    .event-date {
      display: flex;
      flex-flow: row nowrap;
      place-content: flex-start;
      align-items: flex-start;

      font-size: 14px;
      font-weight: $font-weight-medium;
      color: #9fa1ad;
      letter-spacing: -0.2px;
    }

    .event-address {
      margin-bottom: 0;

      color: $color-primary-black;
      word-break: break-word;
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    .details-button {
      @extend %transition-all;

      cursor: pointer;

      position: absolute;
      bottom: 27px;
      left: 24px;

      padding: 8px 12px;

      font-size: 14px;
      font-weight: $font-weight-medium;
      color: $color-primary-black;
      text-align: center;
      text-decoration: none;

      background-color: #eee;
      border-radius: 32px;
    }
  }
}

@include media-hover {
  .event-card {
    &:hover &__header::after {
      @include card-corner-accent-hover;
    }

    &:hover .details-button {
      background-color: rgb(82 82 82 / 40%);
    }
  }
}
