@import 'Styles/constants';
@import 'Styles/mixins';
@import 'Styles/placeholders';

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  border-radius: 12px;

  @extend %transition-all;

  @include media-hover {
    &:hover {
      box-shadow: 0 4px 16px 0 rgb(0 0 0 / 14%);
    }
  }

  & .card-top {
    width: 320px;
    height: min-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px 24px 24px 24px;
    background-color: #f4f1fa;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
    border-color: #e2e2e2;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    position: relative;

    @include media-mobile {
      width: 100%;
    }

    & .card-tag {
      width: 123px;
      height: 36px;
      overflow: visible;
      background-color: rgb(255 255 255 / 5%);
      border-radius: 60px;
      border: 4px solid #cdbaeb;
      font-weight: 400;
      color: $color-secondary-gray600;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 1.2;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .organizedBy {
      color: $color-primary-black;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
      margin-top: 32px;
    }

    & .organization {
      font-weight: 500;
      color: $color-primary-black;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 28px;
      margin-top: 8px;
    }

    & .card-title,
    & .and-more {
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-word;
      color: $color-primary-black;
      letter-spacing: 0;
      text-align: left;
    }

    & .card-title {
      width: 272px;
      height: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-word;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      margin-top: 32px;

      @include media-mobile {
        width: 100%;
      }
    }

    & .and-more {
      font-size: 16px;
      line-height: 20px;
      margin-top: 8px;
    }

    & .card-accent {
      width: 258px;
      height: 250px;
      display: block;
      filter: blur(32px);
      background-color: #7356bf;
      opacity: 0.5;
      z-index: 1;
      border-radius: 100%;
      position: absolute;
      top: 194px;
      left: 204px;

      @extend %transition-all;

      @include media-tablet {
        width: 225px;
        left: 155px;
      }

      @include media-mobile {
        width: 175px;
        left: 135px;
      }
    }
  }

  & .card-bottom {
    width: 320px;
    height: min-content;
    display: flex;
    flex-flow: column nowrap;
    place-content: flex-start flex-start;
    align-items: flex-start;
    padding: 24px;
    background-color: #fefefe;
    overflow: visible;
    position: static;
    border-radius: 0 0 12px 12px;
    border-color: #e2e2e2;
    border-style: solid;
    border-width: 0 1px 1px 1px;

    @include media-mobile {
      width: 100%;
    }

    & .date-and-time {
      width: 100%;
      height: min-content;
      display: flex;
      flex-flow: row nowrap;
      place-content: flex-start flex-start;
      align-items: flex-start;
      overflow: visible;
      padding: 0;
      font-weight: 500;
      color: #9fa1ad;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 16px;
    }

    & .address {
      width: 272px;
      height: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-word;
      color: $color-primary-black;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
      margin-top: 16px;

      @include media-mobile {
        width: 100%;
      }
    }

    & .details-button {
      display: flex;
      flex-direction: row;
      place-content: center center;
      align-items: center;
      padding: 10px 12px;
      background-color: #eee;
      overflow: hidden;
      border-radius: 9999px;
      font-weight: 500;
      color: $color-primary-black;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 16px;
      text-align: center;
      text-decoration: none;
      margin-top: 32px;
      cursor: pointer;

      @extend %transition-all;
    }
  }
}

@include media-hover {
  .card:hover > .card-top > .card-accent {
    width: 314px;
    height: 304px;
    display: block;
    filter: blur(32px);
    background-color: #7356bf;
    opacity: 0.5;
    z-index: 1;
    aspect-ratio: 1.032 / 1;
    border-radius: 100%;
    position: absolute;
    top: 140px;
    left: 160px;

    @include media-mobile {
      width: 125px;
    }
  }

  .card:hover > .card-bottom > .details-button {
    background-color: rgb(82 82 82 / 40%);
  }
}
