@import 'Styles/constants';
@import 'Styles/mixins';
@import 'Styles/placeholders';

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  border-radius: 12px;
  @extend %transition-all;

  @include media-hover {
    &:hover {
      box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.14);
    }
  }

  & .card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px 24px 24px;
    width: 320px;
    height: min-content;
    border: 1px solid $color-secondary-gray180;
    border-bottom-width: 0px;
    border-radius: 12px 12px 0px 0px;
    background-color: #f4f1fa;
    overflow: hidden;

    @include media-mobile {
      width: 100%;
    }

    & .card-tag {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 123px;
      height: 36px;
      border: 4px solid #cdbaeb;
      border-radius: 60px;
      font-size: 16px;
      font-weight: $font-weight-regular;
      letter-spacing: 0em;
      line-height: 1.2;
      color: $color-secondary-gray600;
      background-color: rgba(255, 255, 255, 0.05);
    }

    & .organizedBy {
      margin-top: 32px;
      font-size: 16px;
      letter-spacing: 0em;
      line-height: 20px;
      color: $color-primary-black;
    }

    & .organization {
      margin-top: 8px;
      font-size: 20px;
      font-weight: $font-weight-medium;
      letter-spacing: 0em;
      line-height: 28px;
      color: $color-primary-black;
    }

    & .card-title,
    & .and-more {
      text-align: left;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-word;
      color: $color-primary-black;
      letter-spacing: 0em;
    }

    & .card-title {
      margin-top: 32px;
      width: 272px;
      height: auto;
      font-size: 24px;
      font-weight: $font-weight-medium;
      line-height: 32px;

      @include media-mobile {
        width: 100%;
      }
    }

    & .and-more {
      margin-top: 8px;
      font-size: 16px;
      line-height: 20px;
    }

    & .card-accent {
      position: absolute;
      top: 194px;
      left: 204px;
      display: block;
      width: 258px;
      height: 250px;
      opacity: 0.5;
      z-index: 1;
      border-radius: 100%;
      background-color: #7356bf;
      -webkit-filter: blur(32px);
      filter: blur(32px);
      @extend %transition-all;

      @include media-tablet {
        width: 225px;
        left: 155px;
      }

      @include media-mobile {
        width: 175px;
        left: 135px;
      }
    }
  }

  & .card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    width: 320px;
    border: 1px solid $color-secondary-gray180;
    border-radius: 0px 0px 12px 12px;
    border-top-width: 0;
    background-color: $color-secondary-gray50;

    @include media-mobile {
      width: 100%;
    }

    & .date-and-time {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 14px;
      font-weight: $font-weight-medium;
      letter-spacing: 0em;
      line-height: 16px;
      color: #9fa1ad;
    }

    & .address {
      margin-top: 16px;
      width: 272px;
      font-size: 16px;
      letter-spacing: 0em;
      line-height: 20px;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-word;
      color: $color-primary-black;

      @include media-mobile {
        width: 100%;
      }
    }

    & .details-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 12px;
      margin-top: 32px;
      text-align: center;
      color: $color-primary-black;
      font-size: 14px;
      font-weight: $font-weight-medium;
      letter-spacing: 0em;
      line-height: 16px;
      border-radius: 9999px;
      background-color: $color-secondary-gray150;
      cursor: pointer;
      @extend %transition-all;
    }
  }
}

@include media-hover {
  .card:hover > .card-top > .card-accent {
    position: absolute;
    top: 140px;
    left: 160px;
    display: block;
    width: 314px;
    height: 304px;
    opacity: 0.5;
    z-index: 1;
    aspect-ratio: 1.032 / 1;
    border-radius: 100%;
    -webkit-filter: blur(32px);
    filter: blur(32px);
    background-color: #7356bf;

    @include media-mobile {
      width: 125px;
    }
  }

  .card:hover > .card-bottom > .details-button {
    background-color: rgba(82, 82, 82, 0.4);
  }
}
