@import 'Styles/constants';

.required {
  & .content {
    &.info-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    & > .title {
      max-width: 700px;
      margin-bottom: 8px;
    }

    & > .subtitle {
      font-size: 28px;
    }
  }
}
