.stage-actions {
  @include media-tablet-large {
    font-size: 16px;
  }

  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: 18px;
  line-height: 28px;
  color: $color-secondary-gray600;
  letter-spacing: 0.5px;
  list-style-type: none;
}

.marked {
  list-style-type: disc;
} 
