.place-container {
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: $font-size-l;
  font-weight: $font-weight-medium;
  line-height: 28px;
  color: $color-gray-900;
  letter-spacing: 0;

  .place {
    display: inline-block;
    padding: 0 16px;
  }

  .divider {
    display: inline-block;
    height: 12px;
    font-size: $font-size-xxl;
    color: $color-red;
  }

  @include media-tablet {
    font-size: $font-size-s;
    font-weight: $font-weight-regular;
    line-height: 24px;
  }
}
