.course-item {
  @extend %transition-all;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    .course-icon {
      width: 48px;
      height: 36px;
      object-fit: contain;
    }
  }

  .course-info {
    display: flex;
    flex-direction: column;
    gap: $gap-xs;

    width: 100%;

    line-height: 20px;
  }

  .details-link {
    margin: 16px;

    &::before {
      content: 'More details';
    }

    @include media-tablet {
      &::before {
        content: '';
      }
    }
  }

  @include media-hover {
    &:hover {
      box-shadow: $shadow-xl;
    }
  }
}
