.date-lang {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;

  & .date-info {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;

    .note-icon {
      width: 16px;
      height: auto;
    }

    .date {
      font-size: 14px;
      color: $color-secondary-gray-600;
    }
  }

  & .lang-info {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;

    .mic-icon {
      width: 16px;
      height: auto;
    }

    .language,
    .mode {
      font-size: 14px;
      color: $color-secondary-gray-600;
    }

    .language {
      text-transform: uppercase;
    }

    .mode {
      text-transform: capitalize;
    }
  }
}
