.logo {
  @include media-tablet {
    max-width: 40px;
    max-height: 40px;
  }

  max-width: 56px;
  max-height: 56px;

  img {
    width: 100%;
    height: 100%;
  }
}

.with-border {
  img {
    border: 2px solid white;
    border-radius: 50%;
  }
}
