@import 'Styles/constants';
@import 'Styles/mixins';

.rs-about {
  & .content {
    padding: 80px 120px 40px;

    @include media-laptop {
      padding: 40px;
    }

    @include media-tablet {
      padding: 40px 15px;
    }

    & > .column-2 {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      gap: 120px;

      @include media-laptop {
        align-items: flex-start;
        gap: 40px;
      }

      .card-wrapper {
        width: 380px;

        @include media-tablet {
          max-width: 100%;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 600px;
        min-width: 300px;

        @include media-laptop {
          width: 100%;
        }

        & > .paragraph {
          @include media-laptop {
            font-size: 18px;
            line-height: 28px;
          }
          @include media-tablet {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
