.hero-page {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;

  min-height: 440px; // TODO ask about design in Figma - 700px there and check @media tablet etc

  background: $color-yellow;

  .title-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: left;

    .subtitle-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include media-tablet {
        flex-direction: column;
      }
    }

    .description-title {
      @include media-tablet {
        font-size: 24px;
        line-height: 32px;
      }
    }

    ~ img.sloth-mascot {
      max-width: 336px;
      height: auto;
      object-fit: contain;

      @include media-tablet-large {
        height: 260px;
      }

      @include media-tablet {
        display: none;
      }
    }
  }

  @include media-tablet-large {
    flex-direction: column;
    gap: 0;
  }
}
