.school-item {
  display: flex;
  column-gap: $gap-xs;
  align-items: flex-start;

  font-size: $font-size-s;
  text-decoration: none;

  &.centered {
    align-items: center;
  }

  &.non-clickable {
    pointer-events: none;
    cursor: default;
  }

  .title {
    font-weight: $font-weight-medium;
    line-height: 24px;
    text-align: start;

    &.dark {
      color: $color-gray-900;
    }

    &.light {
      color: $color-gray-200;
    }
  }

  &:hover {
    .title {
      &.dark {
        color: $color-gray-500;
      }

      &.light {
        color: $color-gray-400;
      }
    }
  }

  &.with-icon {
    display: flex;
    flex-direction: row;
    gap: $gap-s;
    align-items: center;
    justify-content: flex-start;

    .details {
      display: flex;
      flex-direction: column;
      gap: $gap-xxs;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  [data-testid='school-item-icon'] {
    max-height: 32px;
  }

  .description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .description {
      font-size: $font-size-xxs;
      line-height: 24px;
      color: $color-gray-500;
    }
  }
}

.support-title {
  font-size: $font-size-xs;
}
