@import '../../constants';
@import '../../mixins';

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 112px;
  margin-top: 36px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $color-secondary-gray600;
  @include media-tablet {
    font-size: 12px;
    line-height: 16px;
  }

  &:hover {
    color: #000000;
  }

  & .text {
    margin-top: 8px;
  }
}
