.events {
  &.content {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    @include media-laptop {
      flex-direction: column;
      align-items: flex-start;
    }

    & .info {
      width: 460px;
      @include media-tablet {
        width: 100%;
      }
    }

    & .title,
    & .subtitle,
    & .paragraph {
      margin-top: 16px;
    }

    & .cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @include media-laptop {
        margin-top: 16px;
      }
      @include media-tablet {
        flex-direction: column;
      }

      & .card {
        margin-right: 16px;
        @include media-tablet {
          margin-right: 0;
          margin-top: 16px;
        }
      }
    }
  }
}
