.events {
  &.content {
    @include media-laptop {
      flex-direction: column;
      align-items: flex-start;
    }

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    text-align: left;

    & .info {
      @include media-tablet {
        width: 100%;
      }

      width: 460px;
    }

    & .title,
    & .subtitle,
    & .paragraph {
      margin-top: 16px;
    }

    & .cards {
      @include media-laptop {
        margin-top: 16px;
      }

      @include media-tablet {
        flex-direction: column;
      }

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & .card {
        @include media-tablet {
          margin-top: 16px;
          margin-right: 0;
        }

        margin-right: 16px;
      }
    }
  }
}
