.menu {
  position: sticky;
  top: 143px;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  height: 85vh;
}

.menu-wrapper {
  padding: 80px 120px 40px;

  @include media-laptop {
    padding: 80px 40px 40px;
  }

  @include media-tablet {
    padding: 56px 16px;
  }
}

.docs-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
