.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 4px;

  font-weight: inherit;

  transition: all 0.2s ease;

  &:disabled {
    pointer-events: none;
    opacity: $opacity-30;
  }

  &--pagination {
    width: 35px;
    height: 35px;
    border: 1px solid $color-gray-200;
    background: $color-white;

    &:hover:not(:disabled) {
      border-color: $color-gray-600;
      color: $color-white;
      background-color: $color-gray-600;
    }
  }

  &--pagination-arrow {
    width: 35px;
    height: 35px;
    border: 1px solid $color-gray-200;

    font-weight: $font-weight-bold;

    background: $color-white;

    &:hover:not(:disabled) {
      border-color: $color-gray-600;
      color: $color-white;
      background-color: $color-gray-600;
    }
  }

  &--pagination-active {
    width: 35px;
    height: 35px;
    border: 2px solid $color-gray-900;

    color: $color-white;

    background: $color-gray-900;
  }
}
