@import '../../constants';
@import '../../mixins';

.school-principles {
  &.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &.content {
    width: 1440px;
    padding: 20px 120px 40px;
    @include media-laptop {
      padding: 20px 40px 40px;
      max-width: 1440px;
      width: auto;
    }
    @include media-tablet {
      padding: 20px 16px 40px;
    }
  }

  & .title {
    width: 640px;
    @include media-laptop {
      width: 100%;
    }
  }

  & .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    @include media-laptop {
      width: 100%;
      flex-direction: column;
      & > div {
        margin-top: 16px;
      }
    }

    @include media-tablet {
      & > div {
        margin-top: 8px;
      }
    }
  }
}
