.button {
  @extend %transition-all;

  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  place-content: center center;
  align-items: center;

  font-weight: $font-weight-medium;
  letter-spacing: 0;
  white-space: pre;
}

.secondary {
  width: max-content;
  padding: 12px 24px;

  font-size: 18px;
  color: $color-black;

  border: 2px solid $color-black;

  img {
    filter: invert(100%);
  }

  &:hover {
    background-color: $color-gray-100;
  }
}

.primary {
  width: max-content;
  padding: 16px 24px;

  font-size: 18px;
  line-height: 24px;
  color: $color-white;

  background-color: $color-black;

  @include media-tablet {
    width: 100%;
  }

  &:hover {
    background-color: $color-gray-600;
  }
}

.rounded {
  width: max-content;
  height: 36px;
  padding: 10px 12px;

  font-size: 14px;
  line-height: 16px;
  color: $color-black;

  background-color: #eee;
  border-radius: 9999px;

  @include media-tablet {
    gap: 4px;
  }

  img {
    filter: invert(100%);
  }

  &:hover {
    background-color: hsla(from $color-gray-600 h s l/ $opacity-50);
  }
}

.text-link {
  @extend %transition-all;

  @include media-tablet {
    font-size: 16px;
  }

  font-size: 20px;
  font-weight: 600;
  color: $color-gray-600;

  &:hover {
    color: $color-black;
  }
}
