.button {
  @extend %transition-all;

  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  place-content: center center;
  align-items: center;

  font-weight: $font-weight-medium;
  letter-spacing: 0;
  white-space: pre;
}

.secondary {
  width: max-content;
  padding: 12px 24px;
  border: 1px solid $color-black;

  font-size: $font-size-m;
  color: $color-black;

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 24px;
    min-height: 24px;
  }

  &:hover {
    background-color: $color-gray-100;
  }
}

.primary {
  width: max-content;
  padding: 16px 24px;
  border: 2px solid $color-black;

  font-size: $font-size-m;
  line-height: 24px;
  color: $color-white;

  background-color: $color-black;

  &:hover {
    border-color: $color-gray-600;
    background-color: $color-gray-600;
  }

  @include media-tablet {
    width: 100%;
  }
}

.rounded {
  width: max-content;
  height: 36px;
  padding: 10px 12px;
  border-radius: $border-radius-xxxl;

  font-size: $font-size-xs;
  line-height: 16px;
  color: $color-black;

  background-color: #eee;

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 16px;
    min-height: 16px;
  }

  &:hover {
    background-color: hsla(from $color-gray-600 h s l/ $opacity-50);
  }

  @include media-tablet {
    gap: 4px;
  }
}

.text-link {
  @extend %transition-all;

  display: inline-flex;
  color: $color-blue-600;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.disabled {
  pointer-events: none;
  opacity: $opacity-30;
}

.high-contrast {
  color: $color-gray-900;
}
