.button {
  @extend %transition-all;

  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  place-content: center center;
  align-items: center;

  font-weight: $font-weight-medium;
  letter-spacing: 0;
  white-space: pre;
}

.outlined {
  margin: 24px 0;
  color: $color-black;
  border: 2px solid $color-black;

  img {
    filter: invert(100%);
  }

  &.large {
    width: max-content;
    padding: 12px 24px;
    font-size: 18px;

    &:hover {
      background-color: $color-gray-100;
    }

    &.rounded {
      width: fit-content;
      margin: 0;
      padding: 8px 16px;

      color: $color-white;

      border: 2px solid $color-yellow-50;
      border-radius: 24px;

      &:hover {
        color: $color-gray-600;
        background-color: $color-white;
        box-shadow: 0 0 16px 0 rgba(from rgb(114 92 19) r g b / $opacity-8);
      }
    }
  }

  &.medium {
    width: 240px;
    padding: 8px 24px;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      background-color: $color-gray-200;
    }

    @include media-mobile-landscape {
      width: 100%;
    }
  }
}

.colored {
  width: min-content;

  &.large {
    overflow: visible;

    margin-top: 24px;
    padding: 16px 24px;

    font-size: 18px;
    line-height: 24px;
    color: $color-white;

    background-color: $color-black;

    &:hover {
      background-color: $color-gray-600;
    }

    @include media-tablet {
      width: 100%;
    }
  }

  &.small {
    overflow: hidden;

    height: 36px;
    padding: 10px 12px;

    font-size: 14px;
    line-height: 16px;
    color: $color-black;

    background-color: #eee;
    border-radius: 9999px;

    img {
      filter: invert(100%);
    }

    &:hover {
      background-color: hsla(from $color-gray-600 h s l/ $opacity-50);
    }

    @include media-tablet {
      gap: 0;

      &.regular {
        margin-right: 8px;
      }
    }
  }
}

.text-link {
  @extend %transition-all;

  font-size: 20px;
  font-weight: 600;
  color: $color-gray-600;

  &:hover {
    color: $color-black;
  }

  @include media-tablet {
    font-size: 16px;
  }
}
