.benefits {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: space-between;

  margin-top: 24px;

  list-style-type: none;

  @include media-laptop {
    display: flex;
    gap: 24px;
  }

  @include media-tablet {
    flex-direction: column;
    gap: 16px;
  }
}

.benefit {
  width: 100%;
  padding: 24px;

  font-size: 18px;
  line-height: 28px;
  color: $color-gray-600;
  letter-spacing: 0;

  background-color: $color-yellow-50;
  border: 1px solid rgb(255 219 32 / 7.8%);
  border-radius: 12px;
}

.benefit-short {
  max-width: 30%;

  @include media-tablet {
    max-width: unset;
  }
}

.benefit-long {
  max-width: 65%;

  @include media-tablet {
    max-width: unset;
  }
}
