@import '../../../../constants';
@import '../../../../mixins';

.courses-main {
  min-height: 440px;
  display: flex;
  align-items: center;

  &.container {
    background: $color-secondary-yellow;
  }

  &.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding-bottom: 95px;

    @include media-laptop {
      padding: 120px 45px 120px;
      width: 810px;
    }
    @include media-tablet {
      padding: 120px 15px 120px;
      width: 100%;
    }
  }

  &.content > .left {
    .title-container {
      width: fit-content;
      text-align: left;

      & .title.extra-big {
        letter-spacing: -0.05em;
        line-height: 0.9;
      }

      & > .subtitle {
        color: rgb(243, 247, 247);
      }

      & > .subtitle > div {
        padding-left: 5px;
        width: fit-content;
        font-weight: 500;
        font-size: 18px;
        font-style: normal;
        color: $color-secondary-brown;
        letter-spacing: 0.6px;
        line-height: 24px;

        @include media-tablet {
          width: fit-content;
          flex-direction: column;
          align-items: flex-start;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }

  & .description {
    margin: 24px 0 0;
    width: fit-content;
    font-weight: 500;
    font-size: 44px;
    letter-spacing: 0px;
    line-height: 52px;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
    color: $color-primary-white;
    @include media-laptop {
      font-size: 36px;
      height: auto;
      text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
      line-height: 1.2;
    }
    @include media-tablet {
      width: 100%;
      font-size: 36px;
      letter-spacing: 0;
      line-height: 32px;
    }
  }

  & > .right.picture {
    width: 314px;
    height: 250px;
    display: block;
    margin-right: 22px;

    @include media-laptop {
      height: 229px;
      aspect-ratio: 1.256 / 1;
      margin-right: 0;
    }

    @include media-tablet {
      display: none;
    }
  }
}
