.navbar {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 64px;
  padding: 0 40px;

  border-radius: 0;

  transition: background-color 0.2s;

  &.gray {
    background-color: $color-yellow-500;
  }

  &.blue {
    background-color: $color-mentorship-header;
  }

  &.none {
    display: none;
  }

  &.white {
    opacity: 1;
    background-color: rgb(255 255 255);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: rgb(0 0 0 / 8.2%) 0 1.026px 8.0694px 0;
  }

  @include media-tablet {
    height: 48px;
    padding: 0 16px;
  }
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.navbar-content > .menu {
  position: relative;

  display: flex;
  gap: 28px;
  align-items: center;

  height: 100%;

  @include media-tablet {
    display: none;
  }
}

.menu.open {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  padding: 8px 24px 8px 16px;

  background-color: #ffdb20;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 14%);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);

  overflow: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  height: min-content;
  min-height: 100vh;
  max-height: 100vh;
  margin-top: 0;
  padding: 4px 24px 28px 16px;

  color: #000;

  background-color: #fff;

  transition: transform 0.4s ease-out;
}

.mobile-menu.open {
  transform: translateY(0);
  display: none;

  @include media-tablet {
    display: block;
  }
}
