@import '../../../../constants';
@import '../../../../mixins';

.about {
  & .left {
    min-width: 640px;
    text-align: left;
    margin-right: 200px;
    @include media-laptop {
      min-width: 400px;
      margin-right: 20px;
    }
    @include media-tablet {
      min-width: auto;
    }

    & .subtitle {
      margin: 16px 0;
    }
  }

  .picture {
    width: 370px;
    height: 340px;
    @include media-laptop {
      margin-top: 32px;
    }
    @include media-tablet {
      width: 296px;
      height: 272px;
      margin: 32px 0;
    }
  }
}
