.external-link {
  @include media-tablet {
    font-size: 16px;
  }

  font-size: 20px;
  font-weight: 600; 
  color: #545454;
  transition: all 0.3s ease;

  &:hover {
    color: #000;
  }

  .icon-wrapper {
    display: inline-block;
    width: 25px;
    margin-left: 5px;
  }
}

