@import '../../constants';
@import '../../mixins';

.pictures {
  &.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &.content {
    width: 1440px;
    padding: 80px 120px 40px 120px;
    @include media-laptop {
      padding: 80px 40px 40px;
      max-width: 1440px;
      width: auto;
    }
    @include media-tablet {
      padding: 40px 16px;
    }
  }

  & .title {
    width: 600px;
    text-align: left;
    @include media-tablet {
      width: 100%;
    }
  }
  & .paragraph {
    width: 600px;
    text-align: left;
    @include media-tablet {
      width: 100%;
    }
  }

  & .social-media-container {
    display: flex;
    @include media-tablet {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  & .social-media {
    width: fit-content;
    height: min-content;
    padding: 0 12px;
    margin-right: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 24px;
    @include media-tablet {
      min-width: 112px;
      margin-right: 0;
    }

    & .icon-container {
      width: 57px;
      height: 57px;
      border-radius: 50%;
      background-color: rgb(238, 238, 238);
    }

    & .text {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0;
      margin-top: 8px;
      @include media-tablet {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  & a {
    text-decoration: none;
    color: $color-secondary-gray600;
    cursor: pointer;
  }
}

.pictures .carousel-root {
  width: 1200px;
  height: 540px;
  padding: 10px 10px 40px;
  margin: 0 auto;
  @include media-laptop {
    width: 730px;
    height: 369px;
  }
  @include media-tablet {
    width: 358px;
    height: 210px;
    padding: 0 0 25px;
  }
}

.carousel {
  height: 540px;
  @include media-laptop {
    height: 369px;
  }
  @include media-tablet {
    height: 210px;
  }
}
.slider {
  height: 468px;
  @include media-laptop {
    height: 325px;
  }
  @include media-tablet {
    height: 175px;
  }
}

.carousel .slide {
  width: 750px;
  height: 468px;
  margin-right: 10px;
  @include media-laptop {
    width: 730px;
    height: 369px;
  }
  @include media-tablet {
    width: 358px;
    height: 210px;
  }
}
