.option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 380px;

  color: $color-gray-600;

  @include media-laptop {
    max-width: 600px;
    margin-top: 24px;
  }

  @include media-tablet {
    max-width: 100%;
  }
}

.option-title {
  margin: 0;
  font-size: 28px;
  font-weight: $font-weight-medium;
  line-height: 36px;

  @include media-tablet {
    font-size: 24px;
    line-height: 32px;
  }
}

.option-description {
  margin: 16px 0 24px;

  font-size: 18px;
  font-weight: $font-weight-regular;
  line-height: 28px;
  text-align: left;

  @include media-tablet {
    font-size: 16px;
    line-height: 24px;
  }
}
