// In case of updating any of these variables, please update the viewports.ts file inside e2e/utils folder
$content-width: 1440px;
$medium-laptop-width: 1250px;
$large-tablet-width: 1024px;
$tablet-width: 810px;
$mobile-landscape-width: 568px;
$mobile-width: 375px;

// font-family
$font-primary:
  -apple-system, blinkmacsystemfont, 'Segoe UI', 'Noto Sans', helvetica, arial, sans-serif;

// font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// COLORS

// Primary colors
$color-black: hsl(0deg 0% 0%); // #000

// White colors
$color-white: hsl(0deg 0% 100%); // #fff

// Yellow colors
$color-yellow: hsl(50deg 100% 56%); // #ffdb20
$color-yellow-700: hsl(40deg 58% 25%); // #664d1b
$color-yellow-500: hsl(49deg 87% 53%); // #efc91f
$color-yellow-100: hsl(39deg 100% 93%); // #fff2d9
$color-yellow-50: hsl(40deg 100% 97%); // #fffaf0

// Red colors
$color-red: hsl(6deg 65% 52%); // #d44333

// Purple colors
$color-purple-400: hsl(257deg 45% 54%); // #7356bf
$color-purple-100: hsl(263deg 55% 83%); // #cebceb
$color-purple-50: hsl(260deg 47% 96%); // #f4f1fa

// Blue colors
$color-blue-100: hsl(198deg 100% 80%); // #9be1ff
$color-blue-300: hsl(198deg 95% 62%); // #41c3fa
$color-blue-500: hsl(211deg 100% 50%); // #007bff
$color-blue-600: hsl(211deg 100% 40%); // #0969da
$color-blue-700: hsl(211deg 100% 30%); // #004ca3
$color-blue-background-100: hsl(198deg 100% 80%); // #9be1ff

// Gray colors
$color-gray-900: hsl(210deg 7% 11%); // #191b1d;
$color-gray-800: hsl(216deg 4% 23%); // #393b3e;
$color-gray-700: hsl(204deg 3% 35%); // #575a5c;
$color-gray-600: hsl(216deg 2% 43%); // #6b6d70;
$color-gray-500: hsl(204deg 2% 59%); // #939698;
$color-gray-400: hsl(204deg 3% 71%); // #b3b6b8;
$color-gray-300: hsl(216deg 7% 85%); // #d7d9dc;
$color-gray-200: hsl(210deg 14% 91%); // #e6e9ec;
$color-gray-100: hsl(216deg 20% 95%); // #f0f2f5;
$color-gray-50: hsl(210deg 50% 98%); // #f6f9fc;

// Gradient colors
$gradient-blue-background: linear-gradient(90deg, $color-blue-100, $color-blue-300);

// Technologies theme colors
$color-js-bg: hsl(52deg 100% 96%); // #fffce9
$color-js-accent: hsl(50deg 100% 56%); // #ffdb20
$color-react-bg: hsl(198deg 91% 96%); // #eaf8fe
$color-react-accent: hsl(198deg 86% 55%); // #2bb4ef
$color-angular-bg: hsl(349deg 100% 97%); // #ffeff2
$color-angular-accent: hsl(348deg 93% 66%); // #f95879
$color-node-bg: hsl(147deg 43% 96%); // #f0f9f4
$color-node-accent: hsl(77deg 73% 54%); // #aedf36
$color-aws-bg: hsl(260deg 47% 96%); // #f4f1fa
$color-aws-accent: hsl(257deg 45% 54%); // #7356bf

// Link color
$color-blue: hsl(202deg 89% 65%);

// OPACITY  /* Use color-variables with opacity: hsla(from $[color-variable] h s l / $[opacity-variable]); */
$opacity-100: 1;
$opacity-80: 0.8;
$opacity-70: 0.7;
$opacity-50: 0.5;
$opacity-30: 0.3;
$opacity-20: 0.2;
$opacity-15: 0.15;
$opacity-10: 0.1;
$opacity-8: 0.08;
$opacity-0: 0;

// Easing functions
$ease-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
$ease-emphasize-decelerate: cubic-bezier(0, 0, 0, 1);
$ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
$standard-decelerate: cubic-bezier(0, 0, 0, 1);

// Border radius
$border-radius-xs: 8px;
$border-radius-s: 12px;
$border-radius-m: 16px;
$border-radius-l: 20px;
$border-radius-xxxl: 999px;

// Font sizes
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 36px;

// Gap
$gap-4: 4px;
$gap-5: 5px;
$gap-8: 8px;
$gap-10: 10px;
$gap-12: 12px;
$gap-16: 16px;
$gap-18: 18px;
$gap-19: 19px;
$gap-20: 20px;
$gap-22: 22px;
$gap-24: 24px;
$gap-26: 26px;
$gap-28: 28px;
$gap-30: 30px;
$gap-32: 32px;
$gap-40: 40px;
$gap-48: 48px;
$gap-50: 50px;
$gap-74: 74px;
$gap-64: 64px;
$gap-75: 75px;
$gap-80: 80px;
$gap-100: 100px;
$gap-120: 120px;
$gap-167: 167px;
$gap-176: 176px;
