@use 'constants' as *;

@mixin media-laptop-large {
  @media (min-width: ($large-laptop-width)) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: $content-width) {
    @content;
  }
}

@mixin media-laptop-medium {
  @media (max-width: $medium-laptop-width) {
    @content;
  }
}

@mixin media-tablet-large {
  @media (max-width: $large-tablet-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile-landscape {
  @media (max-width: $mobile-landscape-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin card-corner-accent($bg-color, $isHovered: false) {
  content: '';

  position: absolute;
  right: -152px;
  bottom: -176px;

  display: block;

  width: 310px;
  height: 300px;
  border-radius: 100%;

  opacity: 0.5;
  background-color: $bg-color;
  filter: blur(32px);

  transition: all 200ms $ease-standard-accelerate;

  @if $isHovered {
    translate: -22px -16px;
    scale: 1.25;
    transition: all 500ms 100ms $ease-emphasize-decelerate;
  }
}
