@use 'normalize';
@use '~github-markdown-css/github-markdown-light';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

body {
  font-family: $font-primary;
  text-wrap: pretty;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

a {
  cursor: pointer;
  color: $color-gray-600;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  text-align: left;
}

.content {
  width: 100%;
  max-width: 1440px;
  padding: 80px 120px 40px;

  @include media-laptop {
    padding: 80px 40px 40px;
  }

  @include media-tablet {
    padding: 56px 16px;
  }
}

.column-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include media-laptop {
    flex-direction: column;
  }
}

.column-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include media-laptop {
    flex-direction: column;
    align-items: flex-start;
  }
}

.app-styles {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.carousel {
  .slide {
    cursor: pointer;
    padding: 0 5px;

    img {
      height: auto;
    }
  }

  .carousel-slider {
    .control-next,
    .control-prev {
      --slider-arrow-btn-height: 45px;

      top: calc(50% - var(--slider-arrow-btn-height) / 2);

      display: flex;
      align-items: center;
      justify-content: center;

      height: var(--slider-arrow-btn-height);
      margin: 2px;
      border-radius: 8px;

      opacity: $opacity-100;
      backdrop-filter: blur(20px);

      @include media-mobile-landscape {
        display: none;
      }

      @media (hover: hover) {
        &:hover {
          background-color: $color-white;

          &::before {
            filter: invert(60%);
          }
        }
      }
    }
  }

  .dot {
    display: inline-block;
    padding: 7px;
  }
}

.markdown-body {
  li {
    list-style-position: initial;
  }

  h1,
  h2,
  h3 {
    &:hover {
      .icon-link::after {
        content: url('../../shared/assets/svg/link.svg');
      }
    }

    a {
      margin-left: -26px;
      padding-right: 10px;
    }

    .icon-link {
      display: inline-block;
      width: 16px;
      height: 16px;
    }
  }
}

:root {
  --swiper-pagination-bullet-size: 10px;
}

@media only percy {
  .hide-in-percy {
    &::after {
      content: 'Video Placeholder';

      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      font-size: 24px;
      color: $color-white;

      background: $color-gray-400;
    }
  }
}
