.docs-wrapper {
  display: flex;
  flex-direction: column;

  @include media-tablet {
    flex-direction: column;
  }
}

.docs {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  text-align: left;

  @include media-tablet {
    max-width: unset;
  }
}
