.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-wrapper {
  max-width: 624px;
  min-height: 510px;
  padding: 40px 32px 40px 32px;
  border-radius: 12px;

  box-shadow: 0 4px 12px 0 hsla(from $color-black h s l / $opacity-10);

  @include media-tablet {
    padding: 16px 16px 20px 16px;
  }

  @include media-tablet-large {
    max-width: 100%;
    min-height: initial;
  }
}

.card-picture {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;

  @include media-tablet {
    width: 80px;
    height: 80px;
  }
}

.card-info {
  display: flex;
  gap: 24px;
  align-items: center;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .card-subtitle {
    margin: 0;
    font-size: 18px;
  }
}

.card-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.card-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;

  margin: 0;

  line-height: 24px;
  white-space: pre-line;

  @include media-tablet {
    -webkit-line-clamp: 15;
  }
}

.see-more-button {
  cursor: pointer;

  margin: 0;
  padding: 0;
  border: none;

  font-weight: $font-weight-bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;

  background: none;
}

.modal {
  .card-content {
    -webkit-line-clamp: revert;
  }

  .see-more-button {
    display: none;
  }
}
