/* stylelint-disable custom-property-pattern */
.social-media {
  --_transition: 0.4s;

  @extend %transition-all;

  @include media-hover {
    &:hover {
      color: $color-primary-black;

      .icon-surface {
        background-color: $color-secondary-gray600;

        > img {
          filter: invert(100%);
        }
      }
      
    }
  }

  @include media-tablet {
    font-size: 12px;
    line-height: 16px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 112px;
  margin-top: 36px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $color-secondary-gray600;
  text-align: center;
  text-decoration: none;

  .icon-surface {
    display: flex;
    background-color: $color-secondary-gray200;
    border-radius: 50%;
    transition: all var(--_transition) ease-in-out;

    > img {
      transition: filter var(--_transition) ease-in-out;
    }
  }

  & .text {
    margin-top: 8px;
  }
}
