/* stylelint-disable custom-property-pattern */
.social-media {
  --_transition: 0.4s;

  @extend %transition-all;

  @include media-hover {
    &:hover {
      color: $color-primary-black;

      svg {
        rect {
          fill: $color-secondary-gray-600;
        }

        path {
          stroke: $color-primary-white;
        }
      }

      .telegram-icon {
        path {
          fill: $color-primary-white;
          stroke: none;
        }
      }
    }
  }

  @include media-tablet {
    font-size: 12px;
    line-height: 16px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 112px;
  margin-top: 36px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $color-secondary-gray-600;
  text-align: center;
  text-decoration: none;

  .telegram-icon {
    rect {
      transition: fill var(--_transition) ease-in-out;
    }

    path {
      transition: fill var(--_transition) ease-in-out;
    }
  }

  & > svg:not(.telegram-icon) {
    rect {
      transition: fill var(--_transition) ease-in-out;
    }

    path {
      transition: stroke var(--_transition) ease-in-out;
    }
  }

  & .text {
    margin-top: 8px;
  }
}
