.communication {
  &.content {
    &.info-wrapper {
      display: flex;
      flex-direction: column;
      gap: 26px;

      .column-2 {
        @include media-tablet-large {
          flex-direction: column;
          gap: 40px;
          align-items: flex-start;
        }

        display: flex;
        flex-direction: row;
        gap: 100px;
        align-items: center;
        justify-content: flex-start;

        .paragraph {
          padding-top: 5px;
        }

        .subtitle {
          font-size: 28px;
        }

        .disclogo-wrapper {
          @include media-tablet {
            width: 150px;
            padding: 15px;
          }

          flex-shrink: 0;
          align-self: center;

          width: 250px;
          padding: 30px;

          background-color: #5865f2;
          border-radius: 30px;
        }
      }
    }
  }
}
