.principle-card {
  position: relative;
  width: 380px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 36px 24px 24px;
  background-color: #fffaf0;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 12px;
  border: 1px solid rgba(255, 219, 32, 0.08);
  cursor: default;
  color: $color-secondary-gray600;
  @extend %transition-all;

  & .card-description {
    font-weight: $font-weight-regular;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    margin-top: 16px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
  }

  & .accent {
    flex-shrink: 0;
    width: 20px;
    height: 19px;
    display: block;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    background-color: $color-accent-yellow;
    z-index: 1;
    position: absolute;
    border-radius: 100%;
  }

  & .card-title {
    position: relative;
    font-weight: $font-weight-medium;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
    margin-top: 16px;
    text-align: center;
  }

  @include media-hover {
    &:hover {
      padding: 24px 24px 24px;
      box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.14);
      height: 240px;

      .card-title {
        margin-top: 0;
        animation: hide 0.2s ease-out;
        animation-fill-mode: forwards;
        animation-delay: -0.1s;
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      }

      .card-description {
        display: block;
        height: 0;
        animation: show 0.7s;
        animation-fill-mode: forwards;
        animation-delay: 0.1s;
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }

  @include media-laptop {
    width: 100%;

    & .card-description {
      font-size: 16px;
      line-height: 24px;
      display: block;
      opacity: 1;
    }

    @include media-hover {
      &:hover {
        padding: 24px 24px 36px;
        .card-description {
          height: unset;
          font-size: 18px;
          max-width: 1100px;
          animation: show 0.1s ease-out;
          animation-fill-mode: forwards;
          animation-delay: 0.1s;
        }

        .card-title {
          animation: hide 0.1s ease-out;
          animation-fill-mode: forwards;
          animation-delay: -0.1s;
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        }
      }
    }
  }
}

.accent-corner {
  flex-shrink: 0;
  width: 310px;
  height: 300px;
  display: block;
  -webkit-filter: blur(32px);
  filter: blur(32px);
  background-color: rgba(255, 219, 32, 0.2);
  z-index: 1;
  position: absolute;
  right: -160px;
  bottom: -150px;
  border-radius: 100%;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  5% {
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    height: 0;
    visibility: hidden;
  }
}
