.speakers {
  display: flex;
  gap: 50px;
  background-color: $color-gray-100;

  .info {
    width: 640px;
    font-weight: 500;
    color: $color-black;

    .name {
      margin-top: 16px;
      font-size: 28px;
      line-height: 36px;

      @include media-tablet {
        font-size: 24px;
        line-height: 32px;
      }
    }

    .email {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      margin-top: 8px;

      font-size: 18px;
      line-height: 24px;

      span {
        margin-left: 8px;
      }

      @include media-tablet {
        font-size: 16px;
        line-height: 20px;
      }
    }

    @include media-laptop {
      width: 100%;
    }
  }

  .picture {
    width: 294px;
    height: 300px;
    margin-left: auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media-laptop {
      width: 235px;
      height: 240px;
      margin-top: 16px;
    }

    @include media-tablet {
      margin-left: 0;
    }
  }

  @include media-tablet {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
}
