.video-wrapper {
  padding: 24px 67px 0;

  .video-container {
    position: relative;

    overflow: hidden;

    width: 100%;
    max-height: 600px;
    padding-top: 56.25%;

    .video-frame {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      border: 0;
    }

    @include media-laptop-medium {
      max-height: 410px;
    }
  }

  @include media-tablet-large {
    padding: 24px 0 0;
  }
}
