@import 'Styles/constants';
@import 'Styles/mixins';

.support {
  &.container {
    background-color: $color-secondary-gray100;
  }

  &.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    @include media-laptop {
      flex-direction: column;
      align-items: center;
    }

    & .info {
      width: 640px;
      text-align: left;
      font-weight: 500;
      color: $color-primary-black;

      @include media-laptop {
        width: 100%;
      }

      & .subtitle {
        margin-top: 8px;
      }

      & .button {
        margin-top: 24px;
      }
    }

    & .picture {
      width: 348px;
      height: 288px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include media-laptop {
        width: 300px;
        height: auto;
        margin-top: 16px;
      }

      @include media-tablet {
        width: 280px;
      }
    }
  }
}
