@import '../../constants';
@import '../../mixins';

.community {
  &.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &.content {
    width: 1440px;
    padding: 80px 120px 40px 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    @include media-laptop {
      padding: 80px 40px 40px;
      max-width: 1440px;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    @include media-tablet {
      padding: 40px 16px;
    }

    & .info {
      width: 640px;
      text-align: left;

      @include media-laptop {
        width: 100%;
      }

      & .subtitle {
        margin-top: 8px;
      }

      & .social-media-container {
        width: 416px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
      }

      & .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 112px;
        margin-top: 36px;
        text-decoration: none;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $color-secondary-gray600;
        @include media-tablet {
          font-size: 12px;
          line-height: 16px;
        }

        & text {
          margin-top: 8px;
        }
      }
    }

    & .picture {
      width: 390px;
      height: 390px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include media-laptop {
        width: 350px;
        height: 350px;
        margin-top: 16px;
      }
    }
  }
}
