@import '../../../../mixins';
.rs-courses {
  @include media-laptop {
    max-width: 810px;
    padding: 40px;
    margin: 0 auto;
  }
  @include media-tablet {
    padding: 0;
  }

  & .title {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
    margin-bottom: 32px;

    @include media-laptop {
      margin-bottom: 22px;
    }

    @include media-tablet {
      margin-left: 6px;
    }

    @include media-mobile {
      margin-bottom: 16px;
    }
  }

  & .content {
    padding: 40px 120px 40px;

    @include media-laptop {
      width: 100%;
      gap: 24px;
      padding: 8px 6px;
      flex-wrap: wrap;
    }

    @include media-tablet {
      padding: 0 16px;
    }

    & .rs-courses-wrapper {
      width: 100%;
      display: flex;
      gap: 22px;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 65px 0;

      @include media-laptop {
        padding: 0;
      }
      @include media-tablet {
        flex-direction: column;
      }

      .rs-course-card {
        @include media-laptop {
          max-width: 345px;
        }
        @include media-tablet {
          max-width: 100%;
        }
      }
    }
  }
}
