@import '../../constants';
@import '../../mixins';
@import '../../placeholders';

.breadcrumbs {
  &.content {
    padding: 24px 120px 10px 120px;

    @include media-laptop {
      padding: 24px 40px 10px;
    }
    @include media-tablet {
      padding: 24px 15px 10px;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: flex-start;
      font-size: 14px;
    }

    & .separator {
      padding: 0 8px;
    }
    & .link {
      color: $color-secondary-gray500;
      @extend %transition-all;

      &.disabled {
        text-decoration: underline;
        color: $color-secondary-gray600;
      }

      &:hover {
        color: $color-secondary-gray600;
      }
    }
  }
}
