.events {
  &-content {
    display: flex;
    gap: $gap-l;
    align-items: flex-start;
    justify-content: space-between;

    .cards {
      display: flex;
      gap: $gap-s;
      align-items: center;
      justify-content: space-between;

      .event-img {
        width: 500px;
        height: auto;

        @include media-mobile-landscape {
          width: 100%;
        }
      }

      @include media-laptop {
        align-self: center;
      }

      @include media-tablet {
        flex-direction: column;
      }
    }
  }
}
