.events {
  &.content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    text-align: left;

    .info {
      width: 460px;

      @include media-laptop-medium {
        width: 100%;
      }
    }

    .paragraph {
      margin-top: 16px;
    }

    .cards {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: space-between;

      @include media-laptop {
        align-self: center;
      }

      @include media-tablet {
        flex-direction: column;
      }
    }

    img {
      width: 500px;

      @include media-mobile-landscape {
        width: 100%;
      }
    }

    @include media-laptop-medium {
      flex-direction: column;
      align-items: start;
    }
  }
}
