.events {
  &.content {
    display: flex;
    align-items: start;
    justify-content: space-between;

    .info {
      width: 640px;

      @include media-laptop-medium {
        width: 100%;
      }
    }

    .cards {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: space-between;

      .event-img {
        width: 500px;

        @include media-mobile-landscape {
          width: 100%;
        }
      }

      @include media-laptop {
        align-self: center;
      }

      @include media-tablet {
        flex-direction: column;
      }
    }

    @include media-laptop-medium {
      flex-direction: column;
      align-items: start;
    }
  }
}
