.tag {
  @extend %transition-all;

  @include media-hover {
    &:hover {
      color: $color-secondary-gray600;
      background-color: $color-primary-white;
      box-shadow: 0 0 16px 0 rgb(114 92 19 / 8%);
    }
  }

  cursor: pointer;

  width: fit-content;
  padding: 8px 16px;

  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: $color-primary-white;
  letter-spacing: 0;

  border: 2px solid #fffaf0;
  border-radius: 24px;
}
