.media-grid {
  p {
    width: 640px;
    margin-top: 0;

    @include media-tablet {
      width: 100%;
    }
  }
}

.media-grid-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 48px;
  place-items: center;

  padding: 40px 0 48px;
}

.logo-container {
  display: block;
  grid-column: span 2;

  @include media-laptop {
    grid-column: span 3;

    &:nth-child(n + 13) {
      display: none;
    }
  }

  @include media-tablet {
    grid-column: span 6;

    &:nth-child(n + 7) {
      display: none;
    }
  }

  @include media-mobile {
    grid-column: span 12;
  }
}

.logo {
  width: 136px;
  height: 40px;
}
