.remove-items-on-responsive {
  & > * {
    @include media-laptop {
      &:nth-child(n + 13) {
        display: none;
      }
    }

    @include media-tablet {
      &:nth-child(n + 7) {
        display: none;
      }
    }
  }
}

.media-grid-list {
  display: grid;
  grid-template-columns: responsive-grid-columns(
    var(--grid-max-col-count),
    var(--grid-min-col-size),
    var(--grid-row-gap),
    var(--grid-col-gap)
  );
  gap: var(--grid-row-gap) var(--grid-col-gap);
  place-items: center;

  width: 100%;

  &.fit-content {
    grid-template-columns: repeat(var(--grid-max-col-count), max-content);
  }

  @include media-mobile-landscape {
    gap: 0;
    justify-content: space-between;
  }
}
