$content-width: 1440px;
$tablet-width: 810px;
$mobile-width: 375px;

$color-primary-black: #000000;
$color-primary-white: #ffffff;

$color-secondary-gray600: #545454;
$color-secondary-gray400: #afafaf;
$color-secondary-gray200: #E6E6E6;
$color-secondary-gray100: #F2F2F2;
$color-secondary-brown: #664d1b;
$color-secondary-yellow: #ffdb20;
$color-secondary-red: #d44333;

$color-accent-yellow: rgba(255, 219, 32, 0.8)
