.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rectangle {
  width: 1440px;
  display: block;
  /* background-image: url(background-image.jpg); */
  /* background-color: #034567; /* to remove */
  height: 500px; /* to remove */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* position: absolute; */
  /* border-radius: 0px 0px 0px 0px; */
}
