@import './_constants.scss';
@import './_mixins.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-primary;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-secondary-gray600;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.content {
  width: 100%;
  max-width: 1440px;
  padding: 80px 120px 40px 120px;
  @include media-laptop {
    padding: 80px 40px 40px;
  }
  @include media-tablet {
    padding: 40px 16px;
  }
}

.column-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include media-laptop {
    flex-direction: column;
  }
}

.column-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include media-laptop {
    flex-direction: column;
    align-items: flex-start;
  }
}
