.requirements {
  display: flex;
  flex-direction: column;
  gap: $gap-xl;
}

.title {
  margin-bottom: 16px;
}

.requirements-info {
  display: flex;
  gap: $gap-xl;

  @include media-tablet-large {
    flex-direction: column;
  }
}

.requirements-list-wrapper {
  max-width: 600px;

  @include media-tablet-large {
    max-width: 100%;
  }
}
