.content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 100%;
  max-width: $content-width;
  padding: 40px 120px;

  @include media-laptop {
    padding: 40px 40px;
  }

  @include media-tablet {
    padding: 40px 16px;
  }
}

.title {
  margin-bottom: 16px;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;

  font-size: 28px;
  font-weight: $font-weight-regular;
  line-height: 36px;
  color: $color-gray-600;

  @include media-laptop {
    font-size: 22px;
  }
}

.requirements-info {
  display: flex;
  gap: 32px;

  @include media-laptop {
    flex-direction: column;
  }
}

.requirements-list {
  max-width: 600px;

  @include media-laptop {
    max-width: 100%;
  }
}
