.requirements {
  & .content {
    @include media-laptop {
      padding: 40px 40px;
    }

    @include media-tablet {
      padding: 40px 16px;
    }

    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 120px;

    & .title {
      @include media-laptop {
        font-size: 22px;
      }

      margin-bottom: 16px;
      font-size: 28px;
      line-height: 36px;
      color: $color-gray-600;
    }

    .requirements-info {
      @include media-laptop {
        flex-direction: column;
      }

      display: flex;
      gap: 32px;

      & .requirements-list {
        @include media-laptop {
          max-width: 100%;
        }

        max-width: 600px;
      }
    }
  }
}
