.mentors {
  &.container {
    background: $color-gray-100;

    .column-2 {
      flex-direction: row;

      @include media-tablet-large {
        flex-direction: column;
      }
    }

    .content {
      .mentors-info {
        display: flex;
        flex-direction: column;

        > .subtitle {
          max-width: 640px;
          font-weight: $font-weight-regular;

          @include media-tablet-large {
            max-width: 100%;
          }
        }

        > a {
          margin-top: 24px;
        }

        @include media-tablet-large {
          width: 100%;
        }
      }

      .picture {
        max-width: 420px;
        max-height: 420px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
