.mentors {
  &.container {
    background: $color-gray-100;

    .column-2 {
      @include media-tablet-large {
        flex-direction: column;
      }

      flex-direction: row;
    }

    .content {
      .mentors-info {
        @include media-tablet-large {
          width: 100%;
        }

        display: flex;
        flex-direction: column;

        > .subtitle {
          @include media-tablet-large {
            max-width: 100%;
          }

          max-width: 640px;
          font-weight: $font-weight-regular;
        }

        > a {
          margin-top: 24px;
        }
      }

      .picture {
        max-width: 420px;
        max-height: 420px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
