.badge {
  gap: 176px;

  .badge-info {
    min-width: 640px;

    @include media-laptop {
      gap: 20px;
      min-width: 400px;
    }

    @include media-tablet {
      min-width: auto;
    }
  }

  .badge-img {
    width: 370px;
    height: 340px;

    @include media-tablet {
      width: 296px;
      height: 272px;
    }
  }

  @include media-laptop {
    gap: 50px;
  }

  @include media-tablet-large {
    gap: 32px;
  }
}
