.certification {
  &.info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: start;
    justify-content: flex-start;

    font-size: 20px;

    @include media-tablet-large {
      flex-direction: column;
      gap: 40px;
      align-items: flex-start;
      font-size: 18px;

      .paragraph-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        justify-content: flex-start;
      }
    }
  }

  p {
    padding-top: 5px;
    font-size: 18px;

    @include media-tablet-large {
      font-size: 16px;
    }
  }
}
