.certification {
  &.info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: flex-start;
    justify-content: flex-start;

    font-size: $font-size-l;

    @include media-tablet-large {
      flex-direction: column;
      gap: $gap-xxl;
      align-items: flex-start;
      font-size: $font-size-m;

      .paragraph-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  p {
    padding-top: 5px;
    font-size: $font-size-m;

    @include media-tablet-large {
      font-size: $font-size-s;
    }
  }
}
