@import 'Styles/constants';
@import 'Styles/mixins';

.training-program {
  &.content {
    padding: 90px 120px;

    @include media-laptop {
      padding: 75px 40px 40px;
    }

    @include media-tablet {
      padding: 16px;
    }

    &.column-2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 100px;

      @include media-tablet-large {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
      }

      .left {
        max-width: 54%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1 1 53%;

        & > :nth-child(4) > span {
          font-weight: $font-weight-bold;
        }

        @include media-laptop-medium {
          max-width: 100%;
        }

        & > .button {
          margin-top: 24px;
        }
      }

      .right {
        max-width: 46%;
        flex: 1 1 46%;

        img {
          width: 100%;
          height: min-content;
        }

        @include media-laptop-medium {
          max-width: 43%;
        }

        @include media-tablet-large {
          max-width: 52%;
          align-self: center;
          max-height: 511px;
        }
      }
    }
  }
}
