.training-program {
  &.content {
    @include media-laptop {
      padding: 75px 40px 40px;
    }

    @include media-tablet {
      padding: 16px;
    }

    padding: 80px 120px;

    &.column-2 {
      @include media-tablet-large {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
      }

      display: flex;
      flex-direction: row;
      gap: 100px;
      align-items: center;
      justify-content: flex-start;

      .left {
        @include media-laptop-medium {
          max-width: 100%;
        }

        display: flex;
        flex: 1 1 55%;
        flex-direction: column;
        gap: 26px;

        max-width: 55%;

        & > :nth-child(4) > span {
          font-weight: $font-weight-bold;
        }

        & > .button {
          margin-top: 24px;
        }
      }

      .right {
        @include media-tablet-large {
          align-self: center;

          width: 320px;
          max-width: 60%;
          height: auto;
          max-height: 511px;
        }

        flex: 1 1 30%;
        max-width: 30%;

        &.badge {
          @include media-tablet-large {
            max-width: 220px;
          }

          @include media-tablet {
            max-width: 175px;
          }

          @include media-mobile {
            max-width: 135px;
          }

          max-width: 276px;
          height: auto;
        }

        img {
          width: 100%;
          height: min-content;
          object-fit: contain;
        }
      }
    }
  }
}
