.about-course {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .about-course-grid {
    display: grid;
    grid-template-areas:
      'a a b'
      'c d e';
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 30px;

    margin-bottom: 16px;

    @include media-laptop {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    @include media-tablet {
      gap: 16px;
    }
  }
}
