.general {
  & .content {
    @include media-laptop {
      width: 100%;
      padding: 40px 40px 0;
    }

    @include media-tablet {
      padding: 40px 16px;
    }

    padding: 40px 120px;

    & .title {
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 44px;
    }

    & .general-info {
      @include media-laptop {
        flex-direction: column;
      }

      display: flex;
      gap: 24px;
      align-items: flex-start;
      justify-content: space-between;

      color: $color-secondary-gray600;

      & > div {
        @include media-laptop {
          max-width: 640px;
        }

        max-width: 380px;

        & .title {
          @include media-laptop {
            font-size: 22px;
            line-height: 36px;
          }

          @include media-tablet {
            font-size: 28px;
            line-height: 36px;
          }

          margin-top: 0;
          font-size: 28px;
          color: $color-secondary-gray600;
        }

        & .description {
          @include media-tablet {
            font-size: 16px;
            line-height: 24px;
          }

          margin: 0;
          padding: 0;
          font-size: 18px;
          line-height: 28px;

          a {
            text-decoration: underline;
          }
        }
      }

      .materials {
        ul {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }
}
