.merch-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 320px;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;

  background-color: $color-gray-100;
  box-shadow: 0 4px 12px 0 hsla(from $color-black h s l / $opacity-10);
}

.preview-wrap {
  display: flex;
  height: 180px;
}

.info-wrap {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: space-between;

  padding: 16px;
}

.preview {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  object-fit: cover;
}
