.merch-catalog {
  display: flex;
  gap: $gap-xl;

  &-tags {
    width: 224px;

    @include media-tablet-large {
      width: 100%;
    }
  }

  @include media-tablet-large {
    display: flex;
    flex-direction: column;
    gap: $gap-xxxl;
    align-items: center;

    width: 100%;
  }
}
