.about {
  &.content {
    &.column-2 {
      @include media-laptop {
        flex-direction: row;
        gap: 50px;
      }

      @include media-tablet-large {
        flex-direction: column;
        gap: 0;
      }
    }
  }

  & .left {
    min-width: 640px;
    margin-right: 200px;
    text-align: left;

    @include media-laptop {
      min-width: 400px;
      margin-right: 20px;
    }

    @include media-tablet {
      min-width: auto;
    }
  }

  .picture {
    width: 370px;
    height: 340px;

    @include media-laptop {
      margin-top: 32px;
    }

    @include media-tablet {
      width: 296px;
      height: 272px;
      margin: 32px 0;
    }
  }
}
