.principle-card {
  @extend %transition-all;

  position: relative;

  overflow: hidden;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 16px;

  width: 100%;
  padding: 24px;

  color: $color-gray-600;

  background-color: $color-yellow-50;
  border: 1px solid rgb(255 219 32 / 8%);
  border-radius: 12px;

  &::after {
    content: '';

    position: absolute;
    right: -160px;
    bottom: -150px;

    width: 310px;
    height: 300px;

    background-color: rgb(255 219 32 / 20%);
    filter: blur(32px);
    border-radius: 100%;
  }

  .card-header {
    display: flex;
    gap: 16px;
    align-items: center;

    min-height: 80px;
    margin-bottom: 16px;

    @include media-laptop {
      min-height: unset;
    }
  }

  .card-description {
    z-index: 1;

    grid-column: span 2;

    font-size: 18px;
    font-weight: $font-weight-regular;
    line-height: 1.4;
    text-align: left;
    letter-spacing: 0;
  }

  .icon {
    display: flex;
    justify-content: center;

    img {
      position: relative;
      width: 44px;
      height: 44px;
    }

    &::before {
      content: '';

      position: absolute;

      width: 20px;
      height: 20px;

      background-color: rgba($color-yellow, $opacity-80);
      filter: blur(8px);
      border-radius: 100%;
    }
  }

  .card-title {
    align-self: flex-start;

    max-width: 265px;

    font-size: 32px;
    font-weight: $font-weight-medium;
    line-height: 40px;
    text-align: left;
    letter-spacing: 0;

    @include media-laptop {
      align-self: unset;
      max-width: unset;
    }
  }

  @include media-hover {
    &:hover {
      box-shadow: 0 4px 16px 0 rgb(0 0 0 / 14%);
    }
  }

  @include media-laptop {
    width: 100%;
    padding: 32px 24px;

    .card-description {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
