.principle-card {
  @extend %transition-all;

  cursor: default;

  position: relative;

  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  place-content: center flex-start;
  align-items: flex-start;

  width: 100%;
  padding: 23px;

  color: $color-gray-600;

  background-color: $color-yellow-50;
  border: 1px solid rgb(255 219 32 / 8%);
  border-radius: 12px;

  & .card-header {
    display: flex;
    gap: 16px;
    align-items: center;

    min-height: 80px;
    margin-bottom: 16px;

    @include media-laptop {
      min-height: unset;
    }
  }

  & .icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .card-description {
    font-size: 18px;
    font-weight: $font-weight-regular;
    line-height: 1.4;
    text-align: left;
    letter-spacing: 0;
  }

  & .accent {
    position: absolute;
    z-index: 1;

    display: block;
    flex-shrink: 0;
    align-self: flex-start;

    width: 20px;
    height: 19px;

    background-color: rgba($color-yellow, $opacity-80);
    filter: blur(8px);
    border-radius: 100%;
  }

  & .card-title {
    align-self: flex-start;

    max-width: 265px;

    font-size: 32px;
    font-weight: $font-weight-medium;
    line-height: 40px;
    text-align: left;
    letter-spacing: 0;

    @include media-laptop {
      align-self: unset;
      max-width: unset;
    }
  }

  @include media-hover {
    &:hover {
      box-shadow: 0 4px 16px 0 rgb(0 0 0 / 14%);
    }
  }

  @include media-laptop {
    width: 100%;
    padding: 31px 23px;

    & .card-description {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.accent-corner {
  position: absolute;
  z-index: 1;
  right: -160px;
  bottom: -150px;

  display: block;
  flex-shrink: 0;

  width: 310px;
  height: 300px;

  background-color: rgb(255 219 32 / 20%);
  filter: blur(32px);
  border-radius: 100%;
}
