.principles {
  &.content {
    padding: 20px 120px 40px;

    @include media-laptop {
      padding: 20px 40px 40px;
    }

    @include media-tablet {
      padding: 20px 16px 40px;
    }
  }

  & .cards {
    gap: 16px;
    align-items: stretch;
    margin-top: 24px;

    @include media-laptop {
      width: 100%;
    }

    @include media-tablet {
      gap: 8px;
    }
  }
}
