.carousel {
  .slide {
    cursor: pointer;
    padding: 0 5px;
  }

  .carousel-slider {
    .control-next,
    .control-prev {
      --slider-arrow-btn-height: 45px;

      top: calc(50% - var(--slider-arrow-btn-height) / 2);

      height: var(--slider-arrow-btn-height);
      margin: 2px;

      opacity: $opacity-100;
      backdrop-filter: blur(20px);
      border-radius: 8px;

      &:hover {
        background-color: $color-white;

        &::before {
          filter: invert(60%);
        }
      }

      @include media-mobile-landscape {
        display: none;
      }
    }
  }

  .dot {
    display: inline-block;
    padding: 7px;
  }
}

.social-media-container {
  display: flex;
  align-items: flex-start;

  @include media-tablet {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
