.carousel {
  .slide {
    cursor: pointer;
    padding: 0 5px;
  }

  .carousel-slider {
    .control-next,
    .control-prev {
      --slide-arrow-btn-height: 45px;

      top: calc(50% - var(--slide-arrow-btn-height) / 2);

      height: var(--slide-arrow-btn-height);
      margin: 2px;

      opacity: $opacity-100;
      backdrop-filter: blur(20px);
      border-radius: 8px;

      &:hover {
        background-color: $color-white;

        &::before {
          filter: invert(60%);
        }
      }

      @include media-mobile-landscape {
        display: none;
      }
    }
  }

  .control-dots {
    --slide-control-dots-width: 240px;

    left: calc(50% - var(--slide-control-dots-width) / 2);

    width: var(--slide-control-dots-width);
    margin: 0;
    padding: 8px;

    backdrop-filter: blur(10px);
    border-radius: 8px;
  }

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
  }
}

.social-media-container {
  @include media-tablet {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  display: flex;
  align-items: flex-start;
}
