.carousel {
  .slider {
    cursor: pointer;
    display: flex;
    gap: 10px;
  }

  .control-dots {
    margin: 0;
    padding: 8px;
    backdrop-filter: blur(10px);
  }

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
  }
}

.social-media-container {
  @include media-tablet {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  display: flex;
  align-items: flex-start;
}
