.social-media-container {
  display: flex;
  align-items: flex-start;

  @include media-tablet {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.pictures-slider {
  cursor: grab;

  .slide-wrapper {
    position: relative;
    display: block;
    aspect-ratio: 8 / 5;
    width: 100%;
  }

  :global(.swiper-pagination .swiper-pagination-bullet) {
    width: 14px;
    height: 14px;
    margin: 0 8px;

    background-color: $color-white;
    box-shadow: 1px 1px 2px $color-gray-900;

    @media (hover: hover) {
      &:hover {
        opacity: $opacity-100;
      }
    }
  }

  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    height: 50px;
    border-radius: 8px;

    color: $color-white;

    opacity: $opacity-30;
    background-color: $color-gray-600;

    transition: all 0.3s ease;

    @include media-mobile-landscape {
      display: none;
    }

    @media (hover: hover) {
      &:hover {
        opacity: $opacity-100;
        background-color: transparent;
      }
    }
  }
}
