.learning-path-stage-item {
  display: flex;
  gap: $gap-xxl;

  .stage-number {
    $number-size: 80px;
    $number-size-tablet: 40px;
    $number-gap: 10px;

    display: flex;
    flex-direction: column;
    gap: $number-gap;
    align-items: center;

    .step {
      display: flex;
      align-items: center;
      justify-content: center;

      width: $number-size;
      height: $number-size;
      border: 1px solid $color-yellow-100;
      border-radius: 50%;

      font-size: $font-size-xl;
      color: $color-gray-600;

      background-color: $color-yellow-50;

      @include media-tablet {
        width: $number-size-tablet;
        height: $number-size-tablet;
        font-size: $font-size-s;
      }
    }

    .decor-line {
      width: 2px;
      height: calc(100% - $number-size - $number-gap);
      background-color: $color-gray-400;

      @include media-tablet {
        height: calc(100% - $number-size-tablet - $number-gap);
      }
    }
  }

  .stage-info {
    display: flex;
    flex: 1 1 40%;
    flex-direction: column;
    gap: $gap-xs;

    max-width: 600px;

    .stage-intro:last-of-type {
      padding-bottom: 0;
    }

    .stage-list {
      a {
        padding-right: 24px;

        &:last-of-type {
          padding: 0;
        }

        @include media-tablet-large {
          display: block;
          padding-right: 0;
          padding-bottom: 8px;
        }
      }
    }

    @include media-tablet-large {
      max-width: 100%;
    }
  }

  .stage-picture {
    overflow: hidden;
    padding-right: 60px;
    object-fit: contain;

    &.stage-logo {
      max-width: 143px;
      max-height: 102px;
    }

    &.stage-image {
      width: 290px;
      height: 192px;
    }

    @include media-tablet {
      display: none;
    }
  }

  &:last-child > .stage-number .decor-line {
    display: none;
  }

  @include media-tablet {
    gap: $gap-s;
  }
}
