# Create preview for pull request (pr{number}.rs.school)
name: Preview

on:
  pull_request:
    types: [labeled, synchronize]
    branches: [main]

concurrency:
  group: pr_${{ github.head_ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: '22.x' # set this to the node version to use
  AWS_S3_BUCKET: 'sites-frontend'
  AWS_ACCESS_KEY_ID: ${{ secrets.DEPLOY_AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.DEPLOY_AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: 'eu-central-1'
  NEXT_PUBLIC_CONTENTFUL_API_BASE_URL: ${{ secrets.CONTENTFUL_API_BASE_URL_STAGING }}
  NEXT_PUBLIC_RS_APP_API_BASE_URL: ${{ secrets.RS_APP_API_BASE_URL }}
  NEXT_PUBLIC_YOUTUBE_API_BASE_URL: ${{ secrets.YOUTUBE_API_BASE_URL }}
  NEXT_PUBLIC_YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY_DEVELOPMENT }}

jobs:
  build-rs-school:
    name: Build rs.school
    if: ${{ github.event.label.name == 'preview' || contains(github.event.pull_request.labels.*.name, 'preview') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        name: Checkout

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: bahmutov/npm-install@v1

      - name: Build
        env:
          NEXT_PUBLIC_DEPLOY_ENV: 'pr${{ github.event.pull_request.number }}'
        run: npm run build

      - uses: jakejarvis/s3-sync-action@master
        name: Sync to S3
        with:
          args: --cache-control max-age=300
        env:
          SOURCE_DIR: 'build'
          DEST_DIR: rs-school-preview/pr${{ github.event.pull_request.number }}

  create-preview:
    name: Create Preview
    runs-on: ubuntu-latest
    needs: [build-rs-school]
    steps:
      - name: Trigger Preview Deployment
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          repository: ${{ github.repository }}
          event-type: create-preview
          client-payload: |
            {
              "number": ${{ github.event.pull_request.number }},
              "ref": "${{ github.event.pull_request.head.ref }}",
              "previewId": "pr${{ github.event.pull_request.number }}"
            }
      - name: Set deployment status
        uses: apalchys/deployment-action@v1.2.6
        id: deployment
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          pr: true
          pr_id: ${{ github.event.pull_request.number }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          environment: pr${{ github.event.pull_request.number }}
          initial_status: in_progress
