name: Run Visual Testing on PR comment
on:
  issue_comment:
    types:
      - created

env:
  NODE_VERSION: 20.x

jobs:
  run-visial-testing:
    if: ${{ github.event.issue.pull_request && github.event.comment.body == 'run visual now' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Checkout Pull Request
        run: gh pr checkout ${{ github.event.issue.number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: bahmutov/npm-install@v1

      - name: Install Playwright browsers and dependencies
        run: npx playwright install --with-deps

      - run: npm run test:visual
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
          PERCY_PULL_REQUEST: ${{ github.event.issue.number }}
          PERCY_TARGET_BRANCH: main
