.benefits-grid {
  display: grid;
  grid-template-areas:
    'top-left top-center top-right'
    'bottom-left bottom-left bottom-right';
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  list-style-type: none;

  .grid-item {
    padding: 24px;
    border: 1px solid $color-yellow-100;
    border-radius: 12px;

    font-size: 18px;
    line-height: 28px;

    background-color: $color-yellow-50;

    &:nth-child(1) {
      grid-area: top-left;
    }

    &:nth-child(2) {
      grid-area: top-center;
    }

    &:nth-child(3) {
      grid-area: top-right;
    }

    &:nth-child(4) {
      grid-area: bottom-left;
    }
  }

  @include media-laptop {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include media-tablet {
    gap: 16px;
  }
}

.benefits-flex {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: space-between;

  margin-top: 24px;

  list-style-type: none;

  .flex-item {
    display: flex;
    gap: 16px;
    align-items: center;

    width: 100%;
    padding: 24px;
    border: 1px solid $color-yellow-100;
    border-radius: 12px;

    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;

    background-color: $color-yellow-50;
  }

  .item-short {
    max-width: 30%;

    @include media-tablet {
      max-width: unset;
    }
  }

  .item-long {
    max-width: 65%;

    @include media-tablet {
      max-width: unset;
    }
  }

  @include media-laptop {
    display: flex;
    gap: 24px;
  }

  @include media-tablet {
    flex-direction: column;
    gap: 16px;
  }
}
