.community-media-content {
  @include media-laptop {
    gap: 50px;
  }

  @include media-tablet-large {
    gap: 16px;
  }
}

.community-join-info {
  width: 640px;

  @include media-laptop {
    width: 100%;
  }
}

.social-media-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: flex-start;
  justify-content: space-between;

  width: 416px;

  @include media-tablet {
    justify-content: space-around;
    width: 100%;
  }
}

.sloth-mascot {
  width: 390px;
  height: 390px;

  @include media-laptop {
    width: 350px;
    height: 350px;
  }

  @include media-mobile {
    width: 100%;
    height: auto;
  }
}
