.school-main {
  display: flex;
  align-items: center;
  min-height: 440px;

  &.container {
    background: $color-yellow;
  }

  &.content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 95px 120px;

    @include media-laptop {
      padding: 120px 40px;
    }

    @include media-tablet {
      padding: 120px 15px;
    }
  }

  &.content > .left {
    max-width: 100%;

    .title-container {
      > .main-subtitle {
        padding-left: 4px;

        @include media-tablet {
          line-height: 23px;
        }
      }
    }
  }

  & .description {
    margin: 16px 0 0;

    font-size: 36px;
    font-weight: $font-weight-medium;
    line-height: 47px;
    color: $color-black;
    letter-spacing: 0;

    @include media-tablet {
      font-size: 24px;
      line-height: 32px;
    }
  }

  & > .right.picture {
    width: 100%;
    max-width: 314px;
    height: auto;
    margin-right: 22px;

    object-fit: contain;

    @include media-laptop {
      aspect-ratio: 1.256 / 1;
      height: 260px; // applied a little different size since the original makes the img flat
    }

    @include media-tablet {
      display: none;
    }
  }
}
